metadata/force-app/main/default/flows/Account_ASF_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Chatter_Post_to_CSM</name>
        <label>Create - Chatter Post to CSM</label>
        <locationX>363</locationX>
        <locationY>1139</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Decision_Account_owner_is_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varBynderWizardEnabledChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_new_account_owner</name>
        <label>Notify new account owner</label>
        <locationX>363</locationX>
        <locationY>1547</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Decision_CSM_Owner_Is_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AccountOwnerChangeNotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_New_CSM_Owner</name>
        <label>Post to Chatter New CSM Owner</label>
        <locationX>363</locationX>
        <locationY>1955</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Account_Owner_is_changed_Type_is_Prospect</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varChatterTemplateNewCSMOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_finance</name>
        <label>Send email to finance</label>
        <locationX>209</locationX>
        <locationY>6011</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Indexation_Cap_is_changed_on_account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotifyFinanceOnDuplicateNSID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Label.Receipents_of_duplicate_NS_ID_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New account with duplicate NS internal ID</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Adjacent_Tech</name>
        <label>Add Adjacent Tech</label>
        <locationX>297</locationX>
        <locationY>5111</locationY>
        <assignmentItems>
            <assignToReference>adjacentTech.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Prospect_account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjacentTech.If_Other_enter_name_here__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_adjacent_tech.If_Other_enter_name_here__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjacentTech.Technology__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_adjacent_tech.Technology__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_adjacentTech_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_adjacentTech_to_list</name>
        <label>Add adjacentTech to list</label>
        <locationX>297</locationX>
        <locationY>5219</locationY>
        <assignmentItems>
            <assignToReference>adjacentTechList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjacentTech</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_adjacent_tech</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Growth_Score_and_Growth_Tier</name>
        <label>Assign Growth Score and Growth Tier</label>
        <locationX>363</locationX>
        <locationY>6995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Growth_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Growth_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Growth_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Growth_Tier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_uplift_timestamp</name>
        <label>Assign Price uplift timestamp</label>
        <locationX>209</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_price_uplift_applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changed_to_Ex_customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Website_Is_Populated</name>
        <label>Assign - Website Is Populated</label>
        <locationX>363</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Domain_Aliases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Domain__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Subsidiary_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Website_on_Ex_customer</name>
        <label>Change Website on Ex-customer</label>
        <locationX>341</locationX>
        <locationY>4679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Adjacent_Tech</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_BDR_Owner_is_changed_Type_is_Prospect</name>
        <label>Account BDR Owner is changed &amp; Type is Prospect?</label>
        <locationX>495</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_BDR_Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BDR_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_new_business_opportunities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_OwnerID_0</targetReference>
            </connector>
            <label>Account BDR Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Owner_is_changed_Type_is_Prospect</name>
        <label>Account Owner is changed</label>
        <locationX>495</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Account_BDR_Owner_is_changed_Type_is_Prospect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_new_business_opportunities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_OwnerID</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_Automations</name>
        <label>Bypass Automations?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_Website_Is_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBypassUserID</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_to_Ex_customer</name>
        <label>Changed to Ex-customer?</label>
        <locationX>495</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Check_if_NS_ID_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ex_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ex-customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Close_Lost_Renewals</targetReference>
            </connector>
            <label>Ex-Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Adjacent_Tech</name>
        <label>Check Adjacent Tech?</label>
        <locationX>341</locationX>
        <locationY>4895</locationY>
        <defaultConnector>
            <targetReference>Check_if_NS_ID_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adjacent_Tech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Adjacent_Tech</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_adjacent_tech</targetReference>
            </connector>
            <label>Adjacent Tech</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Company Size, Current ARR (MRR) and/or the Industry Group is changed. If changed, the growth score and tier need to be updated.</description>
        <name>Check_Company_Size_or_Industry_Group_is_changed</name>
        <label>Check - Company Size, Current ARR or Industry Group is changed</label>
        <locationX>495</locationX>
        <locationY>6887</locationY>
        <defaultConnector>
            <targetReference>Record_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Size_of_Industry_Group_is_changed</name>
            <conditionLogic>(1 OR 2 OR (4 AND 5) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry_Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company_Size_New__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_MRR_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_MRR_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Growth_Score_and_Growth_Tier</targetReference>
            </connector>
            <label>Company Size of Industry Group is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_duplicates_exist</name>
        <label>Check if duplicates exist?</label>
        <locationX>341</locationX>
        <locationY>5903</locationY>
        <defaultConnector>
            <targetReference>Check_Indexation_Cap_is_changed_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicates_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate_accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_finance</targetReference>
            </connector>
            <label>Duplicates found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NS_ID_changed</name>
        <label>Check if NS ID changed?</label>
        <locationX>495</locationX>
        <locationY>5687</locationY>
        <defaultConnector>
            <targetReference>Check_Indexation_Cap_is_changed_on_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NS_ID_Changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Netsuite_Internal_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Netsuite_Internal_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_duplicate_accounts</targetReference>
            </connector>
            <label>NS ID Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Indexation_Cap_is_changed_on_account</name>
        <label>Check - Indexation Cap % is changed on account</label>
        <locationX>495</locationX>
        <locationY>6287</locationY>
        <defaultConnector>
            <targetReference>Check_Subsidiary_is_changed_not_by_Bynder_Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cap_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cap_Indexation_Rate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_renewals</targetReference>
            </connector>
            <label>Cap % changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Price_Uplift</name>
        <label>Check Price Uplift?</label>
        <locationX>341</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Ex_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Price_Uplift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Uplift_On_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price_uplift_timestamp</targetReference>
            </connector>
            <label>Yes_Price Uplift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subsidiary_is_changed_not_by_Bynder_Integration_User</name>
        <label>Check - Subsidiary is changed &amp; not by Bynder Integration User</label>
        <locationX>495</locationX>
        <locationY>6587</locationY>
        <defaultConnector>
            <targetReference>Check_Company_Size_or_Industry_Group_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subsidiary_is_changed_not_by_Bynder_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_ID_18_digits__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Bynder_Integrations_Integrations_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SpotDraft_Subsidiary_Field_on_Opportunity</targetReference>
            </connector>
            <label>Subsidiary is changed &amp; not by Bynder Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Account_owner_is_changed</name>
        <label>Decision - Account owner is changed?</label>
        <locationX>495</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Decision_CSM_Owner_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_owner_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Flow_Update_Renewal_SAM_on_opportunity</targetReference>
            </connector>
            <label>Yes - Account owner changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Billing_Country_is_Not_Null_or_Ischanged</name>
        <label>Decision - Billing Country is Not Null or Ischanged</label>
        <locationX>495</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Decision_Clearbit_Industry_Value_is_Not_NULL_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Billing_Country_Changed</name>
            <conditionLogic>(1 AND 2) OR 3 OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Region_Sub_Region</targetReference>
            </connector>
            <label>Yes - Billing Country Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Bynder_Wizard_Enabled</name>
        <label>Decision - Bynder Wizard Enabled?</label>
        <locationX>495</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Decision_Account_owner_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Bynder_Wizard_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bynder_Wizard_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Chatter_Post_to_CSM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Bynder Wizard Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Clearbit_Industry_Value_is_Not_NULL_Updated</name>
        <label>Decision - Clearbit Industry Value is Not NULL/Updated</label>
        <locationX>495</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>Price_Uplift_On_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clearbit_Industry_Value_is_Not_NULL_Updated</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cbit_Clearbit_Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cbit_Clearbit_Industry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Industry_Group_Data</targetReference>
            </connector>
            <label>Clearbit Industry Value is Not NULL/Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CSM_Owner_Is_Changed</name>
        <label>Decision - CSM Owner Is Changed?</label>
        <locationX>495</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Account_Owner_is_changed_Type_is_Prospect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_CSM_Owner_is_Changed</name>
            <conditionLogic>(2 OR 4) AND 1 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSM_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_MRR_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSM_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Flow_Update_CSM_Owner_on_Existing_Business_opportunities</targetReference>
            </connector>
            <label>Yes - CSM Owner is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Subsidiary_Is_Changed</name>
        <label>Decision - Subsidiary Is Changed?</label>
        <locationX>495</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Decision_Bynder_Wizard_Enabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Subsidiary_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Flow_Set_Governing_Law</targetReference>
            </connector>
            <label>Yes - Subsidiary is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Website_Is_Populated</name>
        <label>Decision - Website Is Populated?</label>
        <locationX>495</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_Subsidiary_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Website_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Website_Is_Populated</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Website is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Uplift_On_Renewal</name>
        <label>Price Uplift On Renewal?</label>
        <locationX>495</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Changed_to_Ex_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Uplift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Uplift_On_Renewal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Price_Uplift</targetReference>
            </connector>
            <label>Price Uplift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Changed</name>
        <label>Record Changed?</label>
        <locationX>495</locationX>
        <locationY>7187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contact_Record_Types</name>
        <label>Update Contact Record Types</label>
        <locationX>495</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Decision_Billing_Country_is_Not_Null_or_Ischanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000asyz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arvB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prospect_Contact_Recordtype</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ex-customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arv6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000NGm5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Contact_Recordtype</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <description>BODEV-4152 Renewal SAM
BODEV-4149 Error when updating the CSM owner on the account
BODEV-3916 Calculating Customer Growth Score and Growth Tier</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountSubsidiary</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Subsidiary_lookup__c} = {!$Label.Bynder_BV_Subsidiary}, &quot;Bynder B.V.&quot;,
IF({!$Record.Subsidiary_lookup__c} = {!$Label.Bynder_LLC_Subsidiary}, &quot;Bynder LLC&quot;,
IF({!$Record.Subsidiary_lookup__c} = {!$Label.Bynder_Ltd_Subsidiary}, &quot;Bynder Ltd&quot;,
IF({!$Record.Subsidiary_lookup__c} = {!$Label.Bynder_Pty_Ltd_Subsidiary}, &quot;Bynder Pty Ltd&quot;,NULL))))</expression>
    </formulas>
    <formulas>
        <description>Calculates the ARR Score used as input for Growth Score and Tier</description>
        <name>ARR_Score</name>
        <dataType>Number</dataType>
        <expression>IF(
   AND({!$Record.Current_ARR__c}  &gt;= 0,{!$Record.Current_ARR__c}  &lt;30000),1 ,
   IF(
     AND({!$Record.Current_ARR__c} &gt;= 30000 , {!$Record.Current_ARR__c}  &lt;50000),2 ,
     IF(
       AND({!$Record.Current_ARR__c}  &gt;= 50000, {!$Record.Current_ARR__c}  &lt;80000),3 ,
       IF(
         AND({!$Record.Current_ARR__c}  &gt;= 80000, {!$Record.Current_ARR__c}  &lt;120000),4 ,
         IF(
           AND({!$Record.Current_ARR__c}  &gt;= 120000, {!$Record.Current_ARR__c}  &lt;150000),5 ,
           IF({!$Record.Current_ARR__c}  &gt;=150000,6 ,
           0))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ChurnDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Close_Lost_Renewals},{!ClosedLostRenewal.End_date_contract__c},null)</expression>
    </formulas>
    <formulas>
        <description>Score used as input to calculate Growth Score and Tier</description>
        <name>Company_Size_Score</name>
        <dataType>Number</dataType>
        <expression>CASE( {!$Record.Company_Size_New__c}, &quot;SMB&quot; , 1, &quot;MM-Small&quot;, 2, &quot;MM-Large&quot;, 3, &quot;Enterprise&quot;, 5, &quot;Strategic&quot;,5,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmBypassUserID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Process_Bypass_User}</expression>
    </formulas>
    <formulas>
        <name>frmIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>frmOEMAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.OEM_Account__r.Name} &amp; &quot; (&quot; &amp; {!$Record.Name} &amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <description>Customer Growth Score</description>
        <name>Growth_Score</name>
        <dataType>Number</dataType>
        <expression>{!ARR_Score} + {!Company_Size_Score} + {!Industry_Group_Score}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Customer Growth Score</description>
        <name>Growth_Tier</name>
        <dataType>Number</dataType>
        <expression>IF(AND({!$Record.Current_ARR__c}&gt;50000, {!Growth_Score}&lt;8), 2,
IF({!Growth_Score}&lt;5 , 4,
IF(
AND({!Growth_Score}&gt;= 5, {!Growth_Score}&lt;8), 3,
IF(
AND({!Growth_Score}&gt;=8, {!Growth_Score}&lt;11), 2,
IF({!Growth_Score} &gt;=11, 1, 0
)
)
)
))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Industry score used as input for Growth Score and Tier</description>
        <name>Industry_Group_Score</name>
        <dataType>Number</dataType>
        <expression>IF(
OR(ISPICKVAL({!$Record.Industry_Group__c},&quot;Industrials&quot;),ISPICKVAL({!$Record.Industry_Group__c} ,&quot;Consumer Brands&quot;)), 3,
IF(
OR(ISPICKVAL({!$Record.Industry_Group__c},&quot;Finance and Insurance&quot;), ISPICKVAL({!$Record.Industry_Group__c},&quot;Healthcare&quot;),
ISPICKVAL({!$Record.Industry_Group__c},&quot;Technology&quot;)), 2,
0))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>website</name>
        <dataType>String</dataType>
        <expression>{!$Record.Website}+&quot;.ex&quot;</expression>
    </formulas>
    <interviewLabel>Account [ASF] Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account [ASF] Handler</label>
    <loops>
        <name>Loop_adjacent_tech</name>
        <label>Loop adjacent tech</label>
        <locationX>209</locationX>
        <locationY>5003</locationY>
        <collectionReference>Get_Adjacent_Tech</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Adjacent_Tech</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Adjacent_Tech</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Adjacent_Tech</name>
        <label>Create Adjacent Tech</label>
        <locationX>209</locationX>
        <locationY>5411</locationY>
        <connector>
            <targetReference>Check_if_NS_ID_changed</targetReference>
        </connector>
        <inputReference>adjacentTechList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Prospect_account</name>
        <label>Create Prospect account</label>
        <locationX>341</locationX>
        <locationY>4571</locationY>
        <connector>
            <targetReference>Change_Website_on_Ex_customer</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Size_New__c</field>
            <value>
                <elementReference>$Record.Company_Size_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ex_Customer_Churn_Date__c</field>
            <value>
                <elementReference>ChurnDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Group__c</field>
            <value>
                <elementReference>$Record.Industry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.UserID_Idle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>Bynder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Adjacent_Tech</name>
        <label>Get Adjacent Tech</label>
        <locationX>341</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Adjacent_Tech</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adjacent_Technology__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Close_Lost_Renewals</name>
        <label>Get Close Lost Renewals</label>
        <locationX>341</locationX>
        <locationY>4463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Prospect_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ClosedLostRenewal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_date_contract__c</queriedFields>
        <sortField>End_date_contract__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_duplicate_accounts</name>
        <label>Get duplicate accounts</label>
        <locationX>341</locationX>
        <locationY>5795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_duplicates_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Netsuite_Internal_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Netsuite_Internal_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Industry_Group_Data</name>
        <label>Get Industry Group Data</label>
        <locationX>363</locationX>
        <locationY>3563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Industry_Group_based_on_Clearbit_Industry_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry_Clearbit_Industry_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cbit_Clearbit_Industry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Industry_Group__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Region_Sub_Region</name>
        <label>Get Region &amp; Sub Region</label>
        <locationX>363</locationX>
        <locationY>3155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Region_and_Sub_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Region_Sub_Region__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Open_renewals</name>
        <label>Open renewals</label>
        <locationX>363</locationX>
        <locationY>6395</locationY>
        <connector>
            <targetReference>Check_Subsidiary_is_changed_not_by_Bynder_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Business-Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cap_Indexation_Rate__c</field>
            <value>
                <elementReference>$Record.Cap_Indexation_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Always keep this update last and ensure you use assignments to limit to only needing 1 update node.</description>
        <name>Update_Account_Record</name>
        <label>Update - Account Record</label>
        <locationX>363</locationX>
        <locationY>7295</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_OwnerID</name>
        <label>Update Contact OwnerID</label>
        <locationX>363</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Account_BDR_Owner_is_changed_Type_is_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_OwnerID_0</name>
        <label>Update Contact OwnerID</label>
        <locationX>363</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Update_Contact_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BDR_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Contact_Recordtype</name>
        <label>Update Customer Contact Recordtype</label>
        <locationX>495</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Decision_Billing_Country_is_Not_Null_or_Ischanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.Contact_Record_Type_ID_Customer</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Contact_Record_Type_ID_Customer</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Industry_Group_based_on_Clearbit_Industry_Field</name>
        <label>Update Industry Group based on Clearbit Industry Field</label>
        <locationX>363</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Price_Uplift_On_Renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>Industry_Group__c</field>
            <value>
                <elementReference>Get_Industry_Group_Data.Industry_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prospect_Contact_Recordtype</name>
        <label>Update Prospect Contact Recordtype</label>
        <locationX>231</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Decision_Billing_Country_is_Not_Null_or_Ischanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.Contact_Record_Type_ID_Prospect</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Contact_Record_Type_ID_Prospect</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Region_and_Sub_Region</name>
        <label>Update Region and Sub Region</label>
        <locationX>363</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>Decision_Clearbit_Industry_Value_is_Not_NULL_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Region_Sub_Region.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Region__c</field>
            <value>
                <elementReference>Get_Region_Sub_Region.Sub_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SpotDraft_Subsidiary_Field_on_Opportunity</name>
        <label>Update SpotDraft Subsidiary Field on Opportunity</label>
        <locationX>363</locationX>
        <locationY>6695</locationY>
        <connector>
            <targetReference>Check_Company_Size_or_Industry_Group_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SpotDraft_Subsidiary__c</field>
            <value>
                <elementReference>AccountSubsidiary</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Automations</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sub_Flow_Set_Governing_Law</name>
        <label>Sub Flow - Set Governing Law</label>
        <locationX>363</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Decision_Bynder_Wizard_Enabled</targetReference>
        </connector>
        <flowName>Account_ALF_Invoked_Set_Governing_Law</flowName>
        <inputAssignments>
            <name>varAccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Updates the CSM Owner on Existing Business Opportunities</description>
        <name>Sub_Flow_Update_CSM_Owner_on_Existing_Business_opportunities</name>
        <label>Sub Flow - Update CSM Owner on Existing Business opportunities</label>
        <locationX>363</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Post_to_Chatter_New_CSM_Owner</targetReference>
        </connector>
        <flowName>Account_ALF_Invoked_update_CSM_owner_on_opportunity</flowName>
        <inputAssignments>
            <name>varAccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Sub_Flow_Update_Renewal_SAM_on_opportunity</name>
        <label>Sub Flow - Update Renewal SAM on opportunity</label>
        <locationX>363</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Notify_new_account_owner</targetReference>
        </connector>
        <flowName>Account_ALF_Invoked_Update_Renewal_SAM_on_opportunity</flowName>
        <inputAssignments>
            <name>varAccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AccountOwnerChangeNotificationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>#[New Account Owner]
@[{!$Record.OwnerId}] You have been selected as Owner for this account.</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyFinanceOnDuplicateNSID</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;An account is created or updated with the duplicate Netsuite Internal ID (&lt;strong&gt;{!$Record.Netsuite_Internal_ID__c}&lt;/strong&gt;).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Account : &lt;/strong&gt; {!$Record.Name} ({!$Label.Org_base_URL_Lightning}/{!$Record.Id})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Existing Account : &lt;/strong&gt;{!Get_duplicate_accounts.Name} ({!$Label.Org_base_URL_Lightning}/{!Get_duplicate_accounts.Id})&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varBynderWizardEnabledChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>#[Bynder_Wizard_Enabled] 
@[{!$Record.CSM_Owner__c}] Bynder Wizard has been enabled for this account.</text>
    </textTemplates>
    <textTemplates>
        <name>varChatterTemplateNewCSMOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>#[New CSM Owner]
@[{!$Record.CSM_Owner__c}] You have been selected as CSM Owner for this account.</text>
    </textTemplates>
    <variables>
        <name>adjacentTech</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Adjacent_Technology__c</objectType>
    </variables>
    <variables>
        <name>adjacentTechList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adjacent_Technology__c</objectType>
    </variables>
    <variables>
        <name>ClosedLostRenewal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Determines whether record is changed or not.</description>
        <name>recordChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
