metadata/force-app/main/default/flows/Calculate_Price_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QLI_to_Collection</name>
        <label>Add QLI to Collection</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>UpdatedQLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedQLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Price_Calculation_Timestamp_Value</name>
        <label>Assign Opportunity Price Calculation Timestamp Value</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Price_Calculation_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Price_Calculation_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Price_Calculation_Timestamp_Value</name>
        <label>Assign Quote Price Calculation Timestamp Value</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote.Price_Calculation_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Price_Calculation_Timestamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Timestamp_Value</name>
        <label>Assign Timestamp Value</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOLI.Price_Calculation_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>updatedQLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedQLI.Price_Calculation_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Only_For_Renewal_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Only For Renewal Items</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Get_Only_For_Renewal_Items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Special_Pricing_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Only_For_Renewal_Items.For_Renewal__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Special_Pricing_Items_Available</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Only_for_Renewal_QLIs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Only for Renewal QLIs</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Get_Only_for_Renewal_QLIs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Special_Pricing_QLIs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Only_for_Renewal_QLIs.For_Renewal__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Special_Pricing_Items_Available</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Opportunity_OR_Quote</name>
        <label>Opportunity OR Quote?</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Items_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$Label.oppIdPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$Label.quoteIdPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Pricing_Items_Are_OLIs_OR_QLIS</name>
        <label>Special Pricing Items Are OLIs OR QLIS?</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Special_Pricing_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OLIs</targetReference>
            </connector>
            <label>OLIs</label>
        </rules>
        <rules>
            <name>QLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Special_Pricing_QLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_QLIs</targetReference>
            </connector>
            <label>QLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Pricing_Items_Available</name>
        <label>Special Pricing Items Available?</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>No_Items_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_Special_Pricing_Items_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Special_Pricing_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Special_Pricing_QLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Pricing_Items_Found</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Calculate Price - Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Price - Screen Flow</label>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Special_Pricing_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Timestamp_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Opportunity_Price_Calculation_Timestamp_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_QLIs</name>
        <label>Loop QLIs</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Special_Pricing_QLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Quote_Price_Calculation_Timestamp_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Special_Pricing_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price_Calculation_Timestamp__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Special_Pricing_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Pricing_Items</name>
        <label>Get Special Pricing Items</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Only_For_Renewal_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Pricing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product_Name_for_the_Flow__c</queriedFields>
        <queriedFields>Sales_Price_ARR__c</queriedFields>
        <queriedFields>Total_Sales_Price_ARR__c</queriedFields>
        <queriedFields>Price_Calculation_Timestamp__c</queriedFields>
        <queriedFields>For_Renewal__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Pricing_QLIs</name>
        <label>Get Special Pricing QLIs</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Only_for_Renewal_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Pricing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OLI_Timestamp_Value</name>
        <label>Update OLI Timestamp Value</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <inputReference>UpdatedOLIs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Price_Calculation_Time_Stamp</name>
        <label>Update Opportunity Price Calculation Time Stamp</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_OLI_Timestamp_Value</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QLIs_Timestamp_Value</name>
        <label>Update QLIs Timestamp Value</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <inputReference>UpdatedQLIs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Price_Calculation_Timestamp</name>
        <label>Update Quote Price Calculation Timestamp</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_QLIs_Timestamp_Value</targetReference>
        </connector>
        <inputReference>Get_Quote</inputReference>
    </recordUpdates>
    <screens>
        <name>No_Items_Screen</name>
        <label>No Items Screen</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoItemsDisplayText</name>
            <fieldText>&lt;p&gt;No Special Pricing Items Found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Special_Pricing_Items_Found</name>
        <label>Special Pricing Items Found</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invoke_Pricing_Procedure_Flow</targetReference>
        </connector>
        <fields>
            <name>ShowItemsDisplayText</name>
            <fieldText>&lt;p&gt;🚨&amp;nbsp;&lt;strong&gt;Warning&lt;/strong&gt;&amp;nbsp;🚨&lt;/p&gt;&lt;p&gt;The following Products will have their&amp;nbsp;&lt;strong&gt;Sales &amp;amp; Default Prices dynamically calculated&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;⚠️&amp;nbsp;&lt;strong&gt;All manual changes will be overridden!&lt;/strong&gt;&amp;nbsp;⚠️&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please ensure this aligns with your requirements before proceeding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ItemsList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Only_For_Renewal_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_for_the_Flow__c&quot;,&quot;guid&quot;:&quot;column-5987&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name for the Flow&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-bc98&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayQLIs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Only_for_Renewal_QLIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-e934&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-acb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Quote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_OR_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invoke_Pricing_Procedure_Flow</name>
        <label>Invoke Pricing Procedure Flow</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Special_Pricing_Items_Are_OLIs_OR_QLIS</targetReference>
        </connector>
        <flowName>Pricing_Procedure_Invoked_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Get_Only_For_Renewal_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Only_for_Renewal_QLIs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>UpdatedOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>updatedQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>UpdatedQLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
