metadata/force-app/main/default/flows/Check_Opportunity_readiness.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Solution_Owner_Customisation_Fields_0</name>
        <label>Solution Owner Customisation Fields</label>
        <locationX>2162</locationX>
        <locationY>15374</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Solution_in_Flow_to_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VarT_MessageToSolOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Submits opportunity for approval</description>
        <name>Submit_for_approval</name>
        <label>Submit for approval</label>
        <locationX>3350</locationX>
        <locationY>15002</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks whether products are added.</description>
        <name>Are_products_added</name>
        <label>Are products added?</label>
        <locationX>1023</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Is_SFMC_Connector_Related</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Added</defaultConnectorLabel>
        <rules>
            <name>Not_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.of_opportunity_products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_products</targetReference>
            </connector>
            <label>Not added</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether billing details on account are entered</description>
        <name>Billing_details_entered</name>
        <label>Billing details entered?</label>
        <locationX>2382</locationX>
        <locationY>5606</locationY>
        <defaultConnector>
            <targetReference>Get_Supplier_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing details blank</defaultConnectorLabel>
        <rules>
            <name>Billing_details_yes</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Account_Information.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.OEM_Account__r.Account_ID_18_digits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AWS_OEM_Account_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Check_Billing_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>alt=&quot;YES&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_procedure_is_non_standard</targetReference>
            </connector>
            <label>Billing details entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_procedure_is_non_standard</name>
        <label>Billing procedure is non-standard?</label>
        <locationX>2382</locationX>
        <locationY>6662</locationY>
        <defaultConnector>
            <targetReference>Main_Objective_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Procedure Standard</defaultConnectorLabel>
        <rules>
            <name>Billing_Procedure_Not_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Information.Invoice_Billing_Structure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Explain_Billing_Structure</targetReference>
            </connector>
            <label>Billing Procedure Not Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Deployment_info</name>
        <label>Check - Deployment info?</label>
        <locationX>2888</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Number_of_MRR_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deployment_Info_Screen</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_champion_Decision_makers_added</name>
        <label>Check if champion/Decision makers added?</label>
        <locationX>1733</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Check_Deployment_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Added/Not required</defaultConnectorLabel>
        <rules>
            <name>Missing_Contacts</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Account.IsDecisionMakerandChampionadded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Account.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Contacts_Missing</targetReference>
            </connector>
            <label>Missing Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_form_is_sent_or_synced_New_Business</name>
        <label>Check if form is sent or synced - New Business?</label>
        <locationX>2569</locationX>
        <locationY>5822</locationY>
        <defaultConnector>
            <targetReference>Enter_Billing_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Form Synced/Error</defaultConnectorLabel>
        <rules>
            <name>Form_sent</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Supplier_form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Form Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Supplier_form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Form Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Supplier_form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Form Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_for_billing_details</targetReference>
            </connector>
            <label>Form sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Records_are_returned</name>
        <label>Check if Records are returned</label>
        <locationX>2052</locationX>
        <locationY>9458</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Competitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_records_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Competitor_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Competitor</targetReference>
            </connector>
            <label>No records returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Type</name>
        <label>Check Opp Type?</label>
        <locationX>3548</locationX>
        <locationY>14486</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Renewal</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Waive_Indexation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bynder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndexationWaiverScreen</targetReference>
            </connector>
            <label>New Business/Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Competitor</name>
        <label>Check - Opportunity Competitor</label>
        <locationX>2382</locationX>
        <locationY>9134</locationY>
        <defaultConnector>
            <targetReference>Contract_Renewal_Term_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Current_Vendor_is_No</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Opportunity_Competitor_Counter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Opportunity_Competitor_Counter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Opportunity_Competitor</targetReference>
            </connector>
            <label>Is Current Vendor is No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether solutions are required</description>
        <name>Check_solutions_required</name>
        <label>Solutions required?</label>
        <locationX>1766</locationX>
        <locationY>15050</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Sol_not_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solutions_Required_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Check_Opp_Type</targetReference>
            </connector>
            <label>Solutions not required</label>
        </rules>
        <rules>
            <name>Solutions_required_yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Solutions_Required_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Solutions_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Solution_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Solution_Owner</targetReference>
            </connector>
            <label>Solutions required, no Solution Owner</label>
        </rules>
        <rules>
            <name>Solutions_Required_Solution_Owner_present</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Solutions_Required_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Solutions_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Solution_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solution_Details_Correct</targetReference>
            </connector>
            <label>Solutions Required, Solution Owner present</label>
        </rules>
    </decisions>
    <decisions>
        <name>City_is_filled</name>
        <label>City is filled?</label>
        <locationX>2767</locationX>
        <locationY>6038</locationY>
        <defaultConnector>
            <targetReference>Update_Billing_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>City_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Billing_City</targetReference>
            </connector>
            <label>City is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Date</name>
        <label>Close Date</label>
        <locationX>1023</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Are_products_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Date_in_the_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_in_the_past_Screen</targetReference>
            </connector>
            <label>Close Date in the past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Renewal_Term_Entered</name>
        <label>Contract Renewal Term Entered?</label>
        <locationX>2382</locationX>
        <locationY>9890</locationY>
        <defaultConnector>
            <targetReference>Notice_period_entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal Term Present</defaultConnectorLabel>
        <rules>
            <name>Renewal_Term_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Contract_Renewal_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Contract_Renewal_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Renewal_Term</targetReference>
            </connector>
            <label>Renewal Term Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Database_Location_Entered</name>
        <label>Database Location Entered?</label>
        <locationX>2382</locationX>
        <locationY>11714</locationY>
        <defaultConnector>
            <targetReference>Enter_Database_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Database location</defaultConnectorLabel>
        <rules>
            <name>Database_location_present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Information.Database__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webdam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Delivery</targetReference>
            </connector>
            <label>Database location present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deployment_info_changed</name>
        <label>Deployment info changed?</label>
        <locationX>2734</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>Number_of_MRR_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Information.Deployment_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Deployment_Department</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.Deployment_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Deployment_Region</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if DoA process is needed and already finalized.</description>
        <name>DoA_still_required</name>
        <label>DoA still required?</label>
        <locationX>536</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DoA completed</defaultConnectorLabel>
        <rules>
            <name>DoA_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Check_DoA__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>alt=&quot;NO&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finalize_Prices_Terms</targetReference>
            </connector>
            <label>DoA required</label>
        </rules>
    </decisions>
    <decisions>
        <name>EU_Country_and_No_VAT</name>
        <label>EU Country and No VAT?</label>
        <locationX>2382</locationX>
        <locationY>12626</locationY>
        <defaultConnector>
            <targetReference>PO_Needed_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_VAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EU1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.VAT_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_VAT_Number</targetReference>
            </connector>
            <label>No VAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Delivery</name>
        <label>Invoice Delivery</label>
        <locationX>2382</locationX>
        <locationY>12170</locationY>
        <defaultConnector>
            <targetReference>Add_Invoice_Delivery_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Method not filled</defaultConnectorLabel>
        <rules>
            <name>Method_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Information.Invoice_Delivery_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EU_Country_and_No_VAT</targetReference>
            </connector>
            <label>Method filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_period_entered</name>
        <label>Invoice period entered?</label>
        <locationX>2382</locationX>
        <locationY>11258</locationY>
        <defaultConnector>
            <targetReference>Enter_Invoice_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice Period Not Entered</defaultConnectorLabel>
        <rules>
            <name>Invoice_Period_Entered_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Invoice_period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Database_Location_Entered</targetReference>
            </connector>
            <label>Invoice Period Entered</label>
        </rules>
    </decisions>
    <decisions>
        <description>BODEV-166: Marketing Cloud Org ID is required when SFMC Connector is included in an Opportunity</description>
        <name>Is_SFMC_Connector_Related</name>
        <label>SFMC Connector Related?</label>
        <locationX>1733</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>MRR_matches_MRR_from_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Connector Not Included</defaultConnectorLabel>
        <rules>
            <name>SFMC_Connector_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Check_SFDC_Partnership_Details__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Marketing_Cloud_Org_ID</targetReference>
            </connector>
            <label>SFMC Connector Related?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether Main Objectives are entered.</description>
        <name>Main_Objective_Entered</name>
        <label>Main Objective Entered?</label>
        <locationX>2382</locationX>
        <locationY>7118</locationY>
        <defaultConnector>
            <targetReference>Enter_Main_Objective</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Main Objective</defaultConnectorLabel>
        <rules>
            <name>Main_Objective_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.MainObjectiveEntered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Case_selected</targetReference>
            </connector>
            <label>Main Objective Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether MRR matches MRR from products.</description>
        <name>MRR_matches_MRR_from_products</name>
        <label>MRR matches MRR from products?</label>
        <locationX>1733</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>One_Off_matches_One_Off_from_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Match</defaultConnectorLabel>
        <rules>
            <name>Doesn_t_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Check_MRR_matches_MRR_from_products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MRR_on_Opportunity</targetReference>
            </connector>
            <label>Doesn&apos;t match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Negative_MRR</name>
        <label>Negative MRR?</label>
        <locationX>2888</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>Type_of_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loss Reason Not Needed</defaultConnectorLabel>
        <rules>
            <name>MRR_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.MRR_from_Products__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Loss_Reason_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Primary_Loss_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Loss_Reason_present</targetReference>
            </connector>
            <label>MRR &lt; 0, No Loss Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nest_Steps_entered</name>
        <label>Nest Steps entered?</label>
        <locationX>2382</locationX>
        <locationY>5150</locationY>
        <defaultConnector>
            <targetReference>Add_Next_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Steps Not Added</defaultConnectorLabel>
        <rules>
            <name>Next_Steps_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Next_Steps_History__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_details_entered</targetReference>
            </connector>
            <label>Next Steps Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notice_period_entered</name>
        <label>Notice period entered?</label>
        <locationX>2382</locationX>
        <locationY>10346</locationY>
        <defaultConnector>
            <targetReference>Enter_Notice_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notice Period Needed</defaultConnectorLabel>
        <rules>
            <name>Notice_Period_Not_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Notice_period_months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_period_added</targetReference>
            </connector>
            <label>Notice Period Not Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_MRR_products</name>
        <label>Number of MRR products</label>
        <locationX>2888</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Negative_MRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero</defaultConnectorLabel>
        <rules>
            <name>No_Contract_Dates</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.of_products_MRR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.End_date_contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Startdate_contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_opportunity</targetReference>
            </connector>
            <label>No Contract Dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>OEM_Partner_entered</name>
        <label>OEM/Partner entered?</label>
        <locationX>2382</locationX>
        <locationY>8678</locationY>
        <defaultConnector>
            <targetReference>Enter_OEM_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OEM/Partner empty</defaultConnectorLabel>
        <rules>
            <name>OEM_Partner_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_Competitor</targetReference>
            </connector>
            <label>OEM/Partner Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Off_matches_One_Off_from_products</name>
        <label>One Off matches One Off from products?</label>
        <locationX>1733</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Check_if_champion_Decision_makers_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Match</defaultConnectorLabel>
        <rules>
            <name>Not_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.One_off__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentOpportunity.One_off_from_Products__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_One_Off</targetReference>
            </connector>
            <label>Not match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_period_added</name>
        <label>Payment period entered?</label>
        <locationX>2382</locationX>
        <locationY>10802</locationY>
        <defaultConnector>
            <targetReference>Enter_Payment_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Period Not Entered</defaultConnectorLabel>
        <rules>
            <name>Payment_Period_Entered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Payment_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_period_entered</targetReference>
            </connector>
            <label>Payment Period Entered</label>
        </rules>
    </decisions>
    <decisions>
        <description>Indicates whether PO Needed is entered on the Account level</description>
        <name>PO_Needed_or_Not</name>
        <label>PO Needed or Not?</label>
        <locationX>2382</locationX>
        <locationY>13082</locationY>
        <defaultConnector>
            <targetReference>Upload_Contract_OPTIONAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO Selected</defaultConnectorLabel>
        <rules>
            <name>PO_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Information.PO_Needed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.PO_Needed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_PO</targetReference>
            </connector>
            <label>PO Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_not_entered</name>
        <label>PO not entered?</label>
        <locationX>2888</locationX>
        <locationY>13922</locationY>
        <defaultConnector>
            <targetReference>Solutions_filled_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO not needed</defaultConnectorLabel>
        <rules>
            <name>PO_absent</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>PO_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Information.PO_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.PO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_PO_Number</targetReference>
            </connector>
            <label>PO absent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the original Primary Loss Reason was entered.</description>
        <name>Primary_Loss_Reason_present</name>
        <label>Primary Loss Reason present?</label>
        <locationX>2492</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>EnterLossReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Loss_Reason_was_already_set_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Primary_Loss_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnterLossReason_0</targetReference>
            </connector>
            <label>Primary Loss Reason was already set up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Win_Reason_entered</name>
        <label>Primary Win Reason entered?</label>
        <locationX>2602</locationX>
        <locationY>8138</locationY>
        <defaultConnector>
            <targetReference>Enter_Win_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Win_Reason_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Primary_Win_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Win_Reason_0</targetReference>
            </connector>
            <label>Primary Win Reason present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Office_added</name>
        <label>Sales Office added?</label>
        <locationX>2382</locationX>
        <locationY>4694</locationY>
        <defaultConnector>
            <targetReference>Add_Sales_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Sales Office</defaultConnectorLabel>
        <rules>
            <name>Sales_Office_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Sales_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nest_Steps_entered</targetReference>
            </connector>
            <label>Sales Office Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solution_Details_Correct</name>
        <label>Solution Details Correct?</label>
        <locationX>1898</locationX>
        <locationY>15158</locationY>
        <defaultConnector>
            <targetReference>Enter_Solution_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_ready_to_go</name>
            <conditionLogic>(1 AND 3 AND 5 AND 6 AND 7) OR (2 AND 4) OR (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Out_of_the_box_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Out_of_the_box_Solution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Customisation_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Customisation_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Due_Date_of_Customisations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Product_Customisation_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Product_Sign_Off_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Office</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solution_in_Flow_to_False_0</targetReference>
            </connector>
            <label>Yes, ready to go</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solutions_filled_in</name>
        <label>Solutions filled in?</label>
        <locationX>2888</locationX>
        <locationY>14378</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_solutions_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Solutions needed</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Solutions_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solutions_Required</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_Solutions_not_needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Solutions_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opp_Type</targetReference>
            </connector>
            <label>Yes, Solutions not needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solutions_Required_selected</name>
        <label>Solutions Required</label>
        <locationX>1766</locationX>
        <locationY>14594</locationY>
        <defaultConnector>
            <targetReference>Update_Solutions_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Solutions_Required_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_for_approval_clicked</name>
        <label>Submit for approval clicked?</label>
        <locationX>3548</locationX>
        <locationY>14894</locationY>
        <defaultConnector>
            <targetReference>The_opportunity_is_ready_to_be_submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submit_for_approval_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_opportunity_for_approval_now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_approval</targetReference>
            </connector>
            <label>Submit for approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_for_approval</name>
        <label>Submitted for approval?</label>
        <locationX>3350</locationX>
        <locationY>15218</locationY>
        <defaultConnector>
            <targetReference>Opp_not_submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp not submitted</defaultConnectorLabel>
        <rules>
            <name>Opp_submitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Status.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Status.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_succesfully</targetReference>
            </connector>
            <label>Opp submitted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the type of opportunity</description>
        <name>Type_of_Opp</name>
        <label>What Type of Opp?</label>
        <locationX>2888</locationX>
        <locationY>4586</locationY>
        <defaultConnector>
            <targetReference>Upload_Contract_OPTIONAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Office_added</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_opportunity</name>
        <label>Type of opportunity?</label>
        <locationX>2492</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Enter_Contract_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other opps</defaultConnectorLabel>
        <rules>
            <name>New_Business_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Contract_Dates</targetReference>
            </connector>
            <label>New Business Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Case_selected</name>
        <label>Use Case selected?</label>
        <locationX>2382</locationX>
        <locationY>7574</locationY>
        <defaultConnector>
            <targetReference>Enter_Use_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Use Case</defaultConnectorLabel>
        <rules>
            <name>Use_Case_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Use_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Win_Reason_Entered</targetReference>
            </connector>
            <label>Use Case Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Win_Reason_Entered</name>
        <label>Win Reason Entered?</label>
        <locationX>2382</locationX>
        <locationY>8030</locationY>
        <defaultConnector>
            <targetReference>Primary_Win_Reason_entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Win Reason</defaultConnectorLabel>
        <rules>
            <name>Win_Reason_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.Primary_Win_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.Win_Reason_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OEM_Partner_entered</targetReference>
            </connector>
            <label>Win Reason Present</label>
        </rules>
    </decisions>
    <description>Update for Copado testing
BODEV-3623 Include &quot;Did current condition impact decision&quot; - Check Readiness Flow
Updated the flow to get value for &quot;Did current condition impact decision&quot; field when Loss Category is Organisational Change.</description>
    <dynamicChoiceSets>
        <name>AllUsers</name>
        <dataType>String</dataType>
        <displayField>FirstName</displayField>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingCountryCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceDatabaseLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Database_location__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceInvoiceDelivery</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Delivery_Method__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePONeeded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PO_Needed__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSolutionsNeeded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solutions_Required__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Deploymentdepartmentlist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deployment_Department__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Deploymentregion</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deployment_Region__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DidCurrentconditionsimpactdecision</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_Current_conditions_impact_decision__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentPeriod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Period__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryWinReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Win_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesOfficeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Office__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseCaseSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Use_Case__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BillingCityFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!BillingCity}), {!Billing_City2}, {!BillingCity})</expression>
    </formulas>
    <formulas>
        <name>EU1</name>
        <dataType>String</dataType>
        <expression>CASE({!Billing_Country},
&quot;Austria&quot;, &quot;True&quot;,
&quot;Belgium&quot;, &quot;True&quot;,
&quot;Bulgaria&quot;, &quot;True&quot;, 
&quot;Croatia&quot;, &quot;True&quot;,
&quot;Cyprus&quot;, &quot;True&quot;,
 &quot;Czech Republic&quot;, &quot;True&quot;, 
&quot;Denmark&quot;, &quot;True&quot;, 
&quot;Estonia&quot;, &quot;True&quot;, 
&quot;Finland&quot;, &quot;True&quot;, 
&quot;France&quot;, &quot;True&quot;, 
&quot;Germany&quot;, &quot;True&quot;,
&quot;Greece&quot;, &quot;True&quot;,
&quot;Hungary&quot;, &quot;True&quot;, 
&quot;Ireland&quot;, &quot;True&quot;, 
&quot;Italy&quot;, &quot;True&quot;, 
&quot;Latvia&quot;, &quot;True&quot;, 
&quot;Lithuania&quot;, &quot;True&quot;, 
&quot;Luxembourg&quot;, &quot;True&quot;,
&quot;Malta&quot;, &quot;True&quot;, 
&quot;Netherlands&quot;, &quot;True&quot;, 
&quot;Poland&quot;, &quot;True&quot;, 
&quot;Portugal&quot;, &quot;True&quot;,
&quot;Romania&quot;, &quot;True&quot;,
&quot;Slovakia&quot;, &quot;True&quot;,
&quot;Slovenia&quot;, &quot;True&quot;,
&quot;Spain&quot;, &quot;True&quot;,
&quot;Sweden&quot;, &quot;True&quot;,
&quot;False&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Check Opportunity readiness {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Opportunity readiness</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Competitor</name>
        <label>Create Opportunity Competitor</label>
        <locationX>1920</locationX>
        <locationY>9566</locationY>
        <connector>
            <targetReference>Contract_Renewal_Term_Entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>EnteredCompetitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_this_competitor_win_the_account__c</field>
            <value>
                <stringValue>Don&apos;t know</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_the_current_tool_in_use__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Competitors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get account information</description>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>536</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subsidiary_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Account_ID_18_digits__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bill_to_Contact_First_Name__c</queriedFields>
        <queriedFields>Bill_to_Contact_Last_Name__c</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>Bill_to_Contact_Email__c</queriedFields>
        <queriedFields>OEM__c</queriedFields>
        <queriedFields>PO_Needed__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>Account_ID_18_digits__c</queriedFields>
        <queriedFields>Invoice_Billing_Structure__c</queriedFields>
        <queriedFields>Database_location__c</queriedFields>
        <queriedFields>Invoice_Delivery_Method__c</queriedFields>
        <queriedFields>VAT_number__c</queriedFields>
        <queriedFields>Database__c</queriedFields>
        <queriedFields>Marketing_Cloud_Org_ID__c</queriedFields>
        <queriedFields>Billing_Account_Name__c</queriedFields>
        <queriedFields>OEM_Account__c</queriedFields>
        <queriedFields>Deployment_Department__c</queriedFields>
        <queriedFields>Deployment_Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>3350</locationX>
        <locationY>15110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submitted_for_approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Competitor_record</name>
        <label>Get Opportunity Competitor record</label>
        <locationX>2052</locationX>
        <locationY>9350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Records_are_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competitor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnteredCompetitor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Competitors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_form</name>
        <label>Get Supplier form</label>
        <locationX>2569</locationX>
        <locationY>5714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_form_is_sent_or_synced_New_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Onboarding_Form__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets information from the opportunity.</description>
        <name>Opportunity_Information</name>
        <label>Opportunity Information</label>
        <locationX>536</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>CurrentOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>of_opportunity_products__c</queriedFields>
        <queriedFields>MRR__c</queriedFields>
        <queriedFields>MRR_from_Products__c</queriedFields>
        <queriedFields>Primary_Loss_Reason__c</queriedFields>
        <queriedFields>Loss_Reason_Detail__c</queriedFields>
        <queriedFields>One_off__c</queriedFields>
        <queriedFields>One_off_from_Products__c</queriedFields>
        <queriedFields>of_products_MRR__c</queriedFields>
        <queriedFields>End_date_contract__c</queriedFields>
        <queriedFields>Startdate_contract__c</queriedFields>
        <queriedFields>Sales_Office__c</queriedFields>
        <queriedFields>Customisation_Required__c</queriedFields>
        <queriedFields>Due_Date_of_Customisations__c</queriedFields>
        <queriedFields>Product_Customisation_Required__c</queriedFields>
        <queriedFields>Product_Sign_Off_Owner__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Account_ID_18_digits__c</queriedFields>
        <queriedFields>MainObjectiveEntered__c</queriedFields>
        <queriedFields>Notice_period_months__c</queriedFields>
        <queriedFields>Invoice_period__c</queriedFields>
        <queriedFields>Contract_Renewal_Term__c</queriedFields>
        <queriedFields>Solutions_Required__c</queriedFields>
        <queriedFields>Out_of_the_box_Solution__c</queriedFields>
        <queriedFields>Use_Case__c</queriedFields>
        <queriedFields>Primary_Win_Reason__c</queriedFields>
        <queriedFields>Win_Reason_Detail__c</queriedFields>
        <queriedFields>Payment_Period__c</queriedFields>
        <queriedFields>Main_Objective_1__c</queriedFields>
        <queriedFields>Main_Objective_2__c</queriedFields>
        <queriedFields>Main_Objective_3__c</queriedFields>
        <queriedFields>Solution_Owner__c</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <queriedFields>Next_Steps_History__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Loss_Category__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Platform__c</queriedFields>
        <queriedFields>Solution_Required_in_Flow__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Win_Category__c</queriedFields>
        <queriedFields>of_SFMC_Connector__c</queriedFields>
        <queriedFields>OEM__c</queriedFields>
        <queriedFields>Check_SFDC_Partnership_Details__c</queriedFields>
        <queriedFields>Check_DoA__c</queriedFields>
        <queriedFields>Opportunity_Competitor_Counter__c</queriedFields>
        <queriedFields>Waive_Indexation__c</queriedFields>
        <queriedFields>Check_Billing_Details__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Check_MRR_matches_MRR_from_products__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Add_Loss_Reason</name>
        <label>Add Loss Reason</label>
        <locationX>2756</locationX>
        <locationY>4262</locationY>
        <connector>
            <targetReference>Type_of_Opp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Did_Current_conditions_impact_decision__c</field>
            <value>
                <elementReference>Did_Current_conditions_impact_decision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Category__c</field>
            <value>
                <elementReference>Loss_Category_Answer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason_Detail__c</field>
            <value>
                <elementReference>Loss_Reason_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Loss_Reason__c</field>
            <value>
                <elementReference>PrimaryLossReasonAnswer</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Loss_Reason_0</name>
        <label>Add Loss Reason</label>
        <locationX>2228</locationX>
        <locationY>4262</locationY>
        <connector>
            <targetReference>Type_of_Opp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loss_Reason_Detail__c</field>
            <value>
                <elementReference>Loss_Reason_Detail_0</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Sales_Office_to_the_Opp</name>
        <label>Add Sales Office to the Opp</label>
        <locationX>2470</locationX>
        <locationY>4910</locationY>
        <connector>
            <targetReference>Nest_Steps_entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Sales_Office</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Solution_in_Flow_to_False</name>
        <label>Solution in Flow to False</label>
        <locationX>2162</locationX>
        <locationY>15482</locationY>
        <connector>
            <targetReference>Almost_ready_to_be_submitted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution_Required_in_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Solution_in_Flow_to_False_0</name>
        <label>Solution in Flow to False</label>
        <locationX>1634</locationX>
        <locationY>15266</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Opp_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution_Required_in_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>2602</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Number_of_MRR_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deployment_Department__c</field>
            <value>
                <elementReference>Deployment_Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deployment_Region__c</field>
            <value>
                <elementReference>Deployment_Region</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>BODEV-166: Update Account to save Marketing Cloud Org ID entered by user</description>
        <name>Update_Account_with_Marketing_Cloud_Org_ID</name>
        <label>Update Account with Marketing Cloud Org ID</label>
        <locationX>1469</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>MRR_matches_MRR_from_products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Information.Account_ID_18_digits__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Marketing_Cloud_Org_ID__c</field>
            <value>
                <elementReference>Marketing_Cloud_Org_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Details</name>
        <label>Update Billing Details</label>
        <locationX>2767</locationX>
        <locationY>6338</locationY>
        <connector>
            <targetReference>Billing_procedure_is_non_standard</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Information.Account_ID_18_digits__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_to_Contact_Email__c</field>
            <value>
                <elementReference>BillingEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Contact_First_Name__c</field>
            <value>
                <elementReference>Bill_to_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Contact_Last_Name__c</field>
            <value>
                <elementReference>Bill_to_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingCityFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Account_Name__c</field>
            <value>
                <elementReference>Billing_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_checkbox</name>
        <label>Update checkbox</label>
        <locationX>1502</locationX>
        <locationY>14702</locationY>
        <connector>
            <targetReference>Update_Solutions_Required</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution_Required_in_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>759</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Are_products_added</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_Entered</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Comments</name>
        <label>Update Comments</label>
        <locationX>2118</locationX>
        <locationY>6878</locationY>
        <connector>
            <targetReference>Main_Objective_Entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Dates</name>
        <label>Update Contract Dates</label>
        <locationX>2228</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>Negative_MRR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_date_contract__c</field>
            <value>
                <elementReference>Contract_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Startdate_contract__c</field>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Database_Location</name>
        <label>Update Database Location</label>
        <locationX>2470</locationX>
        <locationY>11930</locationY>
        <connector>
            <targetReference>Invoice_Delivery</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Database__c</field>
            <value>
                <elementReference>EnteredDatabase</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Delivery_Method</name>
        <label>Update Invoice Delivery Method</label>
        <locationX>2470</locationX>
        <locationY>12386</locationY>
        <connector>
            <targetReference>EU_Country_and_No_VAT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Delivery_Method__c</field>
            <value>
                <elementReference>Invoice_Delivery_Method</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Period</name>
        <label>Update Invoice Period</label>
        <locationX>2470</locationX>
        <locationY>11474</locationY>
        <connector>
            <targetReference>Database_Location_Entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_period__c</field>
            <value>
                <elementReference>Invoice_Period</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Objective</name>
        <label>Update Main Objective</label>
        <locationX>2470</locationX>
        <locationY>7334</locationY>
        <connector>
            <targetReference>Use_Case_selected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Objective_1__c</field>
            <value>
                <elementReference>Main_Objective_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Objective_2__c</field>
            <value>
                <elementReference>Main_Objective_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Objective_3__c</field>
            <value>
                <elementReference>Main_Objective_3</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MRR_on_Opportunity</name>
        <label>Update MRR on Opportunity</label>
        <locationX>1469</locationX>
        <locationY>1802</locationY>
        <connector>
            <targetReference>One_Off_matches_One_Off_from_products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>CurrentOpportunity.MRR_from_Products__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Steps</name>
        <label>Update Next Steps</label>
        <locationX>2470</locationX>
        <locationY>5366</locationY>
        <connector>
            <targetReference>Billing_details_entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Steps_History__c</field>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notice_Period</name>
        <label>Update Notice Period</label>
        <locationX>2470</locationX>
        <locationY>10562</locationY>
        <connector>
            <targetReference>Payment_period_added</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notice_period_months__c</field>
            <value>
                <elementReference>Notice_Period</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OEM_Partner</name>
        <label>Update OEM/Partner</label>
        <locationX>2470</locationX>
        <locationY>8894</locationY>
        <connector>
            <targetReference>Check_Opportunity_Competitor</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OEM__c</field>
            <value>
                <elementReference>EnteredOEMPartner</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_One_Off</name>
        <label>Update One Off</label>
        <locationX>1469</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Check_if_champion_Decision_makers_added</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>One_off__c</field>
            <value>
                <elementReference>CurrentOpportunity.One_off_from_Products__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Competitor</name>
        <label>Update Opportunity Competitor</label>
        <locationX>2184</locationX>
        <locationY>9566</locationY>
        <connector>
            <targetReference>Contract_Renewal_Term_Entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competitor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnteredCompetitor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_this_the_current_tool_in_use__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Competitors__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Period</name>
        <label>Update Payment Period</label>
        <locationX>2470</locationX>
        <locationY>11018</locationY>
        <connector>
            <targetReference>Invoice_period_entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>PaymentPeriod</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Needed</name>
        <label>Update PO Needed</label>
        <locationX>2118</locationX>
        <locationY>13298</locationY>
        <connector>
            <targetReference>Upload_Contract_OPTIONAL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Information.Account_ID_18_digits__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Needed__c</field>
            <value>
                <elementReference>PO_Needed</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Number</name>
        <label>Update PO Number</label>
        <locationX>2624</locationX>
        <locationY>14138</locationY>
        <connector>
            <targetReference>Solutions_filled_in</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>OPTIONAL_PO_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Term</name>
        <label>Update Renewal Term</label>
        <locationX>2118</locationX>
        <locationY>10106</locationY>
        <connector>
            <targetReference>Notice_period_entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Renewal_Term__c</field>
            <value>
                <elementReference>Contract_Renewal_Term</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solution_Owner</name>
        <label>Update Solution Owner</label>
        <locationX>1106</locationX>
        <locationY>15266</locationY>
        <connector>
            <targetReference>Almost_ready_to_be_submitted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solution_Owner__c</field>
            <value>
                <elementReference>SelectedSOlutionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Required_in_Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solutions_Required</name>
        <label>Update Solutions Required</label>
        <locationX>1766</locationX>
        <locationY>14942</locationY>
        <connector>
            <targetReference>Check_solutions_required</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solutions_Required__c</field>
            <value>
                <elementReference>Solutions_Required_Select</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_Date</name>
        <label>Update Start Date</label>
        <locationX>2756</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>Negative_MRR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Startdate_contract__c</field>
            <value>
                <elementReference>Contract_Start_Date_Other_Type_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Use_Case</name>
        <label>Update Use Case</label>
        <locationX>2470</locationX>
        <locationY>7790</locationY>
        <connector>
            <targetReference>Win_Reason_Entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Use_Case__c</field>
            <value>
                <elementReference>Use_Case</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VAT</name>
        <label>Update VAT</label>
        <locationX>2118</locationX>
        <locationY>12842</locationY>
        <connector>
            <targetReference>PO_Needed_or_Not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VAT_number__c</field>
            <value>
                <elementReference>VAT_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Win_Reason</name>
        <label>Update Win Reason</label>
        <locationX>2866</locationX>
        <locationY>8354</locationY>
        <connector>
            <targetReference>OEM_Partner_entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Win_Reason__c</field>
            <value>
                <elementReference>WinReasonAsnwer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Category__c</field>
            <value>
                <elementReference>WinCategoryAnswer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Reason_Detail__c</field>
            <value>
                <elementReference>Win_Reason_Detail</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Win_Reason_0</name>
        <label>Update Win Reason</label>
        <locationX>2338</locationX>
        <locationY>8354</locationY>
        <connector>
            <targetReference>OEM_Partner_entered</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Win_Reason_Detail__c</field>
            <value>
                <elementReference>Win_Reason_Detail_0</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Add_Billing_City</name>
        <label>Add Billing City</label>
        <locationX>2635</locationX>
        <locationY>6146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Billing_Details</targetReference>
        </connector>
        <fields>
            <name>intoAddBillingCity</name>
            <fieldText>&lt;p&gt;Please enter the billing city. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_City2</name>
            <dataType>String</dataType>
            <fieldText>Billing City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Invoice_Delivery_Method</name>
        <label>Add Invoice Delivery Method</label>
        <locationX>2470</locationX>
        <locationY>12278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Invoice_Delivery_Method</targetReference>
        </connector>
        <fields>
            <name>introInvoiceDelivery</name>
            <fieldText>&lt;p&gt;Please select invoice delivery method. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Delivery_Method</name>
            <choiceReferences>ChoiceInvoiceDelivery</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoice Delivery Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Next_Steps</name>
        <label>Add Next Steps</label>
        <locationX>2470</locationX>
        <locationY>5258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Next_Steps</targetReference>
        </connector>
        <fields>
            <name>introNextSteps</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please add next steps that should be taken on this opportunity. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.Next_Steps_History__c</elementReference>
            </defaultValue>
            <fieldText>Next Steps</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_products</name>
        <label>Add products</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddProducts</name>
            <fieldText>&lt;p&gt; &lt;span style=&quot;font-size: 14px;&quot;&gt;Please go back to the opportunity and add products.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Sales_Office</name>
        <label>Add Sales Office</label>
        <locationX>2470</locationX>
        <locationY>4802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Sales_Office_to_the_Opp</targetReference>
        </connector>
        <fields>
            <name>introSalesOffice</name>
            <fieldText>&lt;p&gt;Please select Sales Office for this opportunity. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Office</name>
            <choiceReferences>SalesOfficeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Office</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_VAT_Number</name>
        <label>Add VAT Number</label>
        <locationX>2118</locationX>
        <locationY>12734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_VAT</targetReference>
        </connector>
        <fields>
            <name>introVATNumber</name>
            <fieldText>&lt;p&gt;Please add VAT number below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VAT_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.VAT_number__c</elementReference>
            </defaultValue>
            <fieldText>VAT Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Almost_ready_to_be_submitted</name>
        <label>Almost ready to be submitted</label>
        <locationX>1766</locationX>
        <locationY>15824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IntroFinish2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The opportunity is almost ready to submitted for approval. Once Solution Owner indicates the details, the opportunity can be submitted for approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;If you click &quot;Finish&quot;, you will be redirected to the opportunity page. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Check whether the opportunity is ready to be submitted for approval or not.</description>
        <name>Check_Opportunity_readiness</name>
        <label>Check Opportunity readiness</label>
        <locationX>536</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Information</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &quot;Next&quot; to check what information is missing to submit this opportunity for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Solution_Owner</name>
        <label>Choose Solution Owner</label>
        <locationX>1106</locationX>
        <locationY>15158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Solution_Owner</targetReference>
        </connector>
        <fields>
            <name>introSelectSolutionOwner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Solution Owner is missing on this opportunity though Solutions are required. Please select the solution owner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolutionOwnerSelection</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Solution_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Solution Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSOlutionOwner</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_Date_in_the_past_Screen</name>
        <label>Close Date in the past</label>
        <locationX>759</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Close_Date</targetReference>
        </connector>
        <fields>
            <name>introCloseDate</name>
            <fieldText>&lt;p&gt;Close Date of this opportunity is in the past. Please update it below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Close_Date_Entered</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deployment_Info_Screen</name>
        <label>Deployment Info Screen</label>
        <locationX>2734</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deployment_info_changed</targetReference>
        </connector>
        <fields>
            <name>deploymenttext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;At the moment we have the follow information on Customer Deployment.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Deployment departments: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!CurrentOpportunity.Account.Deployment_Department__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Deployment regions: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!CurrentOpportunity.Account.Deployment_Region__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Is this still the case? If not please select all of the departments and regions currently using Bynder below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Account_Information.Deployment_Department__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Account_Information.Deployment_Region__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FieldsMissingText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Please fill the information on Customer Deployment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Account_Information.Deployment_Department__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Account_Information.Deployment_Region__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deployment_Department</name>
            <choiceReferences>Deploymentdepartmentlist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.Deployment_Department__c</elementReference>
            </defaultValue>
            <fieldText>Deployment Department</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deployment_Region</name>
            <choiceReferences>Deploymentregion</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.Deployment_Region__c</elementReference>
            </defaultValue>
            <fieldText>Deployment Region</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Billing_Details</name>
        <label>Enter Billing Details</label>
        <locationX>2767</locationX>
        <locationY>5930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>City_is_filled</targetReference>
        </connector>
        <fields>
            <name>IntroBillingDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please enter Billing Details below or confirm that they are correct.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.Billing_Account_Name__c</elementReference>
            </defaultValue>
            <fieldText>Billing Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BillingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Account_Information.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Account_Information.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Account_Information.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Account_Information.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Account_Information.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Billing_Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingStateProvince</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Bill_to_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.Bill_to_Contact_First_Name__c</elementReference>
            </defaultValue>
            <fieldText>Bill to First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bill_to_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.Bill_to_Contact_Last_Name__c</elementReference>
            </defaultValue>
            <fieldText>Bill to Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BilltoEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bill to Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Account_Information.Bill_to_Contact_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BillingEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Contract_Dates</name>
        <label>Enter Contract Dates</label>
        <locationX>2228</locationX>
        <locationY>3314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contract_Dates</targetReference>
        </connector>
        <fields>
            <name>ContractDatesRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your opportunity is missing contract dates. Please enter them below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.Startdate_contract__c</elementReference>
            </defaultValue>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Contract start date must come before the contract end date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Contract_Start_Date} &gt; {!Contract_End_Date})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contract_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.End_date_contract__c</elementReference>
            </defaultValue>
            <fieldText>Contract End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Please correct the contract end date. It is one day too long.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(DAY({!Contract_End_Date}) = DAY({!Contract_Start_Date}))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Contract_Start_Date</name>
        <label>Enter Contract Start Date</label>
        <locationX>2756</locationX>
        <locationY>3314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Start_Date</targetReference>
        </connector>
        <fields>
            <name>IntroStartDateOtherOpps</name>
            <fieldText>&lt;p&gt;Your opportunity is missing contract start date. Please enter it below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Start_Date_Other_Type_Opp</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.Startdate_contract__c</elementReference>
            </defaultValue>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Contract start date must come before the contract end date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Contract_Start_Date_Other_Type_Opp} &lt; {!CurrentOpportunity.End_date_contract__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EndDateReminder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Please keep in mind that the contract end date is {!CurrentOpportunity.End_date_contract__c}. The start date cannot be after the end date. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Database_Location</name>
        <label>Enter Database Location</label>
        <locationX>2470</locationX>
        <locationY>11822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Database_Location</targetReference>
        </connector>
        <fields>
            <name>introDatabaseLocation</name>
            <fieldText>&lt;p&gt;Please add Database location below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DatabaseLocation</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Database__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Database location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredDatabase</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Invoice_Period</name>
        <label>Enter Invoice Period</label>
        <locationX>2470</locationX>
        <locationY>11366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Invoice_Period</targetReference>
        </connector>
        <fields>
            <name>IntroInvoicePeriod</name>
            <fieldText>&lt;p&gt;Opportunity is missing Invoice period. Please enter it below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Period</name>
            <dataType>Number</dataType>
            <fieldText>Invoice Period (in months)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Invoice Period is the number of months for which a customer pays per invoice (e.g., fees for 6 or 12 months per invoice).&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>InvoicePeriodExplained</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Invoice Period is the number of months for which a customer pays per invoice (e.g., fees for 6 or 12 months per invoice).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Main_Objective</name>
        <label>Enter Main Objective</label>
        <locationX>2470</locationX>
        <locationY>7226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Main_Objective</targetReference>
        </connector>
        <fields>
            <name>IntroMainObjective</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please enter at least one prospect&apos;s main objective for implementing Bynder.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Main_Objective_1</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Main_Objective_1__c}</stringValue>
            </defaultValue>
            <fieldText>Main Objective 1</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_Objective_2</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Main_Objective_2__c}</stringValue>
            </defaultValue>
            <fieldText>Main Objective 2</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Main_Objective_3</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Main_Objective_3__c}</stringValue>
            </defaultValue>
            <fieldText>Main Objective 3</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>BODEV-166: Let user to specify Marketing Cloud Org ID</description>
        <name>Enter_Marketing_Cloud_Org_ID</name>
        <label>Enter Marketing Cloud Org ID</label>
        <locationX>1469</locationX>
        <locationY>1346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_with_Marketing_Cloud_Org_ID</targetReference>
        </connector>
        <fields>
            <name>Require_Marketing_Cloud_Org_ID</name>
            <fieldText>&lt;p&gt;As this Opportunity includes Salesforce Marketing Cloud &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Connector&lt;/span&gt;/Commerce Cloud Connector/Salesforce Lightning Web Component, the customer&apos;s Salesforce Org ID is required in order for Bynder to submit an order to Salesforce.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For Instance, if the opportunity has combination of products included(Salesforce Marketing Cloud Connector &amp;amp; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Salesforce Lightning Web Component) then multiple Salesforce Org IDs can be specified separated by a comma in-between.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marketing_Cloud_Org_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account_Information.Marketing_Cloud_Org_ID__c</elementReference>
            </defaultValue>
            <fieldText>Salesforce Org ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Notice_Period</name>
        <label>Enter Notice Period</label>
        <locationX>2470</locationX>
        <locationY>10454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Notice_Period</targetReference>
        </connector>
        <fields>
            <name>IntroNoticePeriod</name>
            <fieldText>&lt;p&gt;Notice period is not filled. Please enter notice period (in months) below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notice_Period</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.Notice_period_months__c</elementReference>
            </defaultValue>
            <fieldText>Notice Period (in months)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Notice Period is a number of months notice require to cancel the contract.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter notice period in months. &lt;/p&gt;</errorMessage>
                <formulaExpression>{!Notice_Period} &lt; 25</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NoticePeriodExplained</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Notice Period is a number of months notice require to cancel the contract.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_OEM_Partner</name>
        <label>Enter OEM/Partner</label>
        <locationX>2470</locationX>
        <locationY>8786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_OEM_Partner</targetReference>
        </connector>
        <fields>
            <name>Intro_OEMPartner</name>
            <fieldText>&lt;p&gt;Is a partner involved? If so, please select OEM/Partner. (Otherwise, leave it blank)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OEMPartner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OEM__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>OEM/Partner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredOEMPartner</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Opportunity_Competitor</name>
        <label>Enter Opportunity Competitor</label>
        <locationX>2052</locationX>
        <locationY>9242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Competitor_record</targetReference>
        </connector>
        <fields>
            <name>Intro_OEMPartner_0</name>
            <fieldText>&lt;p&gt;Please select the current vendor (Current tool that the prospect is using)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitior</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Competitor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Competitor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity_Competitors__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredCompetitor</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Payment_Period</name>
        <label>Enter Payment Period</label>
        <locationX>2470</locationX>
        <locationY>10910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Payment_Period</targetReference>
        </connector>
        <fields>
            <name>IntroPaymentPeriod</name>
            <fieldText>&lt;p&gt;Opportunity is missing Payment period. Please enter it below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Period</name>
            <choiceReferences>PaymentPeriod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Payment Period is the time period within which a customer must pay fees and charges.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PaymentPeriodExplained</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Payment Period is the time period within which a customer must pay fees and charges.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_PO</name>
        <label>Enter PO</label>
        <locationX>2118</locationX>
        <locationY>13190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_PO_Needed</targetReference>
        </connector>
        <fields>
            <name>IntroPONeeded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please indicate whether the PO is needed for this company or not.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Needed</name>
            <choiceReferences>ChoicePONeeded</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PO Needed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_PO_Number</name>
        <label>Enter PO Number</label>
        <locationX>2624</locationX>
        <locationY>14030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_PO_Number</targetReference>
        </connector>
        <fields>
            <name>introPONumberEnter</name>
            <fieldText>&lt;p&gt;(OPTIONAL)&lt;/p&gt;&lt;p&gt;You can enter PO number below. If you don&apos;t want to do it, leave the field blank and click &quot;Next&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OPTIONAL_PO_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.PO_Number__c</elementReference>
            </defaultValue>
            <fieldText>(OPTIONAL) PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;PO should be 45 characters or fewer.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!OPTIONAL_PO_Number}) &lt; 46</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Renewal_Term</name>
        <label>Enter Renewal Term</label>
        <locationX>2118</locationX>
        <locationY>9998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Renewal_Term</targetReference>
        </connector>
        <fields>
            <name>IntroRenewalTerm</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Contract Renewal term is missing. Please enter renewal term below (in months).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Renewal_Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.Contract_Renewal_Term__c</elementReference>
            </defaultValue>
            <fieldText>Contract Renewal Term (in months)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(62, 62, 60);&quot;&gt;Renewal Term is the duration of the renewal opportunity as stated in the contract.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RenewalTermExplained</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Renewal Term is the duration of the renewal opportunity as stated in the contract.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Solution_Details</name>
        <label>Enter Solution Details</label>
        <locationX>2162</locationX>
        <locationY>15266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solution_Owner_Customisation_Fields_0</targetReference>
        </connector>
        <fields>
            <name>IntroSolutionDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Solution details are missing or incorrect. The Solution Owner has been notified and requested to fill in the details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Use_Case</name>
        <label>Enter Use Case</label>
        <locationX>2470</locationX>
        <locationY>7682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Use_Case</targetReference>
        </connector>
        <fields>
            <name>IntroUseCase</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select the use case for this opportunity - what for prospect is going to use Bynder?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Use_Case</name>
            <choiceReferences>UseCaseSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use Case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Win_Reason</name>
        <label>Enter Win Reason</label>
        <locationX>2866</locationX>
        <locationY>8246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Win_Reason</targetReference>
        </connector>
        <fields>
            <name>IntroWinReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please enter Primary Win Reason and/or Win Reason Detail below. Why this deal is a win?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WinCategoryAndReason</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Win_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Primary_Win_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Win Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Primary Win Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WinCategoryAnswer</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WinReasonAsnwer</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Win_Reason_Detail</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Win_Reason_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Win Reason Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Win_Reason_0</name>
        <label>Enter Win Reason</label>
        <locationX>2338</locationX>
        <locationY>8246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Win_Reason_0</targetReference>
        </connector>
        <fields>
            <name>IntroWinReason_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please expand on the Primary Win Reason. Were there other factors that influenced the deal? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Win_Reason_Detail_0</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Win_Reason_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Win Reason Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnterLossReason</name>
        <label>EnterLossReason</label>
        <locationX>2756</locationX>
        <locationY>4154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Loss_Reason</targetReference>
        </connector>
        <fields>
            <name>LossReasonRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This is a downsell. Please enter Primary Loss Reason and/or Loss Reason Detail.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimaryLossReason2</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Loss_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Opportunity Type (don&apos;t change!)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Loss Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Primary_Loss_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Primary Loss Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>CurrentOpportunity.Type</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PrimaryLossReasonAnswer</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loss_Category_Answer</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Loss_Reason_Detail</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Loss_Reason_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Loss Reason Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Did_Current_conditions_impact_decision</name>
            <choiceReferences>DidCurrentconditionsimpactdecision</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did Current conditions impact decision?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Specify &apos;Yes&apos; if current economic conditions impact the decision. Also, If the loss category is &apos;Organisational change&apos; this field should be filled.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnterLossReason_0</name>
        <label>EnterLossReason</label>
        <locationX>2228</locationX>
        <locationY>4154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Loss_Reason_0</targetReference>
        </connector>
        <fields>
            <name>LossReasonRequired_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This is a downsell. Please expand on the Loss Reason for this opportunity. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Loss_Reason_Detail_0</name>
            <defaultValue>
                <stringValue>{!CurrentOpportunity.Loss_Reason_Detail__c}</stringValue>
            </defaultValue>
            <fieldText>Loss Reason Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>2492</locationX>
        <locationY>3530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred while updating the opportunity. Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen_0</name>
        <label>Opportunity error screen</label>
        <locationX>1898</locationX>
        <locationY>15374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;An error occurred while updating the opportunity. Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen_0_0</name>
        <label>Update account error</label>
        <locationX>2382</locationX>
        <locationY>13406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0_0</name>
            <fieldText>&lt;p&gt;An error occurred while updating the account. Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Explain_Billing_Structure</name>
        <label>Explain Billing Structure</label>
        <locationX>2118</locationX>
        <locationY>6770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Comments</targetReference>
        </connector>
        <fields>
            <name>introInvoicingStructure</name>
            <fieldText>&lt;p&gt;Invoicing Structure is not standard on this account. Please specify below why.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentOpportunity.Comments__c</elementReference>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finalize_Prices_Terms</name>
        <label>Finalize Prices &amp; Terms</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoA_warning</name>
            <fieldText>&lt;p&gt;Prices and terms have not been finalized for this Opportunity.&lt;/p&gt;&lt;p&gt;Please use &lt;b&gt;Finalize Prices &amp;amp; Terms&lt;/b&gt; button, and get approval if required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>3548</locationX>
        <locationY>14786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_for_approval_clicked</targetReference>
        </connector>
        <fields>
            <name>OpportunityReadyForApproval</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your opportunity is ready to be submitted for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submit_opportunity_for_approval_now</name>
            <dataType>Boolean</dataType>
            <fieldText>Submit opportunity for approval now</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IndexationWaiverScreen</name>
        <label>IndexationWaiverScreen</label>
        <locationX>3416</locationX>
        <locationY>14594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <fields>
            <name>Waived_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(35, 32, 56);&quot;&gt;Indexation is currently in place on this opportunity. If you have agreed otherwise in the contract, please change the &quot;Waive Indexation?&quot; field before submitting to QA Approval. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(35, 32, 56);&quot;&gt;You can see how to do this here: &lt;/b&gt;&lt;a href=&quot;https://bynder.atlassian.net/wiki/spaces/SD/pages/3705667946/Change+indexation+decision+on+opportunity&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(35, 32, 56); background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;https://bynder.atlassian.net/wiki/spaces/SD/pages/3705667946/Change+indexation+decision+on+opportunity&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opp_not_submitted</name>
        <label>Opp not submitted</label>
        <locationX>3482</locationX>
        <locationY>15326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>introNotSubmitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Oops! Something went wrong and your opportunity has not been submitted for approval. Try checking &quot;Ready for &quot;Closed Won&quot;?&quot; section again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Contacts_Missing</name>
        <label>Required Contacts Missing</label>
        <locationX>578</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddContactroles</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 7, 7);&quot;&gt;Please add contacts with roles &apos;Decision Maker&apos; and &apos;Champion&apos; to the account before submitting the opportunity for QA approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solutions_Required</name>
        <label>Solutions Required?</label>
        <locationX>1766</locationX>
        <locationY>14486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solutions_Required_selected</targetReference>
        </connector>
        <fields>
            <name>introSolutionsRequired</name>
            <fieldText>&lt;p&gt;Please select whether Solutions Required or not. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Solutions_Required_Select</name>
            <choiceReferences>ChoiceSolutionsNeeded</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solutions Required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submitted_succesfully</name>
        <label>Submitted successfully!</label>
        <locationX>3218</locationX>
        <locationY>15326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>introSubmitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your opportunity has been successfully submitted for approval. If you click &quot;Finish&quot;, you will be redirected to the opportunity page. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>subsidiary_screen</name>
        <label>subsidiary screen</label>
        <locationX>536</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DoA_still_required</targetReference>
        </connector>
        <fields>
            <name>BynderSub</name>
            <fieldText>&lt;p&gt;Please confirm Bynder Subsidiary&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Account_Information.Subsidiary_lookup__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_opportunity_is_ready_to_be_submitted</name>
        <label>The opportunity is ready to be submitted</label>
        <locationX>3746</locationX>
        <locationY>15002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>introNotSubmittedUsersChoice</name>
            <fieldText>&lt;p&gt;Y&lt;span style=&quot;font-size: 14px;&quot;&gt;our opportunity has &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;not&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; been submitted for approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Once you click &quot;Finish&quot;, you will be automatically redirected to the opportunity&apos;s page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Contract_OPTIONAL</name>
        <label>Upload Contract (OPTIONAL)</label>
        <locationX>2888</locationX>
        <locationY>13814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PO_not_entered</targetReference>
        </connector>
        <fields>
            <name>introUploadContract</name>
            <fieldText>&lt;p&gt;(OPTIONAL)&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can upload a signed contract using the form below. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadedContract</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>curOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waiting_for_billing_details</name>
        <label>Waiting for billing details</label>
        <locationX>2371</locationX>
        <locationY>5930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>waitMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 2, 2);&quot;&gt;Supplier form had been sent to the customer asking for their billing details, please submit for QA approval after the details are filled from the form.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opportunity_readiness</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VarT_MessageToSolOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi @[{!CurrentOpportunity.Solution_Owner__c}], please update the customisation fields.</text>
    </textTemplates>
    <variables>
        <name>Billing_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingStateProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Indicates current opportunity that the flow is working with.</description>
        <name>curOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>EnteredCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnteredDatabase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnteredOEMPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_Category_Answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryLossReasonAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedSOlutionOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WinCategoryAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WinReasonAsnwer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
