metadata/force-app/main/default/flows/Contact_Role_ASF_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Latest_Disco_Call_Source</name>
        <label>Assign Latest Disco Call Source</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>recordOpportunity.Latest_Disco_Call_Most_Recent_Source_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Disco_call_Task.Most_Recent_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Latest_Disco_Call_Source_0</name>
        <label>Assign Latest Disco Call Source</label>
        <locationX>1744</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recordOpportunity.Latest_Disco_Call_Most_Recent_Source_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Discovery_Call_Task.Most_Recent_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Latest_Disco_Call_Source_0_0</name>
        <label>Assign Latest Disco Call Source</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>recordOpportunity.Latest_Disco_Call_Most_Recent_Source_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Task_for_Leads.Most_Recent_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_CS_Qualifer</name>
        <label>Assign Opportunity CS Qualifer</label>
        <locationX>600</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>recordOpportunity.CS_Qualifier_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordContact.CS_Qualifier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Upsell_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_CS_Qualifer_0</name>
        <label>Assign Opportunity CS Qualifer</label>
        <locationX>1040</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>recordOpportunity.CS_Qualifier_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordContact.CS_Qualifier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Upsell_ID_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Upsell_ID</name>
        <label>Assign Upsell ID</label>
        <locationX>600</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>recordContact.Upsell_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Upsell_ID_0</name>
        <label>Assign Upsell ID</label>
        <locationX>1040</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>recordContact.Upsell_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Status</name>
        <label>Set Contact Status</label>
        <locationX>732</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>recordContact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Opp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Disco_call</name>
        <label>Check - Disco call</label>
        <locationX>1876</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disco_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Discovery_Call_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Discovery_Call_Task.Most_Recent_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_Disco_Call_Source_0</targetReference>
            </connector>
            <label>Disco call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Disco_call_task</name>
        <label>Check - Disco call task</label>
        <locationX>710</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Contact_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Disco_call_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Disco_call_Task.Most_Recent_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_Disco_Call_Source</targetReference>
            </connector>
            <label>Disco</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Disco_call_task_1</name>
        <label>Check - Disco call task</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disco_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Task_for_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Task_for_Leads.Most_Recent_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_Disco_Call_Source_0_0</targetReference>
            </connector>
            <label>Disco Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_its_Primary_Contact</name>
        <label>Check if its Primary Contact?</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact_on_Opportunity1</targetReference>
            </connector>
            <label>Is Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opp_is_created_from_Lead_Conversion</name>
        <label>Check if Opp is created from Lead Conversion</label>
        <locationX>605</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_is_created_from_Lead_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordOpportunity.Lead_ID_18_Digits__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Task_for_Leads</targetReference>
            </connector>
            <label>Opp is created from Lead Conversion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_Created_Updated</name>
        <label>Check if Record Created/Updated</label>
        <locationX>1339</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_if_its_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated?</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Check_if_Contact_is_Primary</targetReference>
            </connector>
            <label>Created?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Type</name>
        <label>Check Opportunity Type</label>
        <locationX>1029</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Opportunity_is_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Contact</targetReference>
            </connector>
            <label>New Business Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Contact</name>
        <label>Check Primary Contact</label>
        <locationX>864</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Opportunity_is_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Contact1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPrimaryContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Disco_call_Task</targetReference>
            </connector>
            <label>Is Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_is_CS_Qualified</name>
        <label>Check Status is CS Qualified</label>
        <locationX>732</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CS_Qualifed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordContact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_CS_Qualifer</targetReference>
            </connector>
            <label>CS Qualifed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_is_CS_Qualified_0</name>
        <label>Check Status is CS Qualified</label>
        <locationX>1172</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CS_Qualifed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordContact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_CS_Qualifer_0</targetReference>
            </connector>
            <label>CS Qualifed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_if_Contact_is_Primary</name>
        <label>Decision - Check if Contact is Primary</label>
        <locationX>605</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Decision_Check_if_Opportunity_is_New_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact_on_Opportunity</targetReference>
            </connector>
            <label>Contact is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_if_Opportunity_is_New_Business</name>
        <label>Decision - Check if Opportunity is New Business</label>
        <locationX>605</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_if_Opp_is_created_from_Lead_Conversion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>New_Business_Opportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Owner_to_match_Opportunity_Owner</targetReference>
            </connector>
            <label>New Business Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_Upsell</name>
        <label>Opportunity is Upsell?</label>
        <locationX>1029</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Opportunity_is_Upsell_Professional_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>recordOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordAccount.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_is_CS_Qualified</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_Upsell_Professional_Service</name>
        <label>Opportunity is Upsell Professional Service?</label>
        <locationX>1326</locationX>
        <locationY>2771</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_is_CS_Qualified_0</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <description>BODEV-1487: Populate Primary Contact on Account with Primary Contact Role when a New Business Opp is created and the field is blank.</description>
        <name>Update_Primary_Contact_on_Account</name>
        <label>Update Primary Contact on Account?</label>
        <locationX>710</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Opportunity_is_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordAccount.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordOpportunity.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TIME_5_min_before_Current</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Primary_Contact_on_Account</targetReference>
            </connector>
            <label>Update Primary Contact</label>
        </rules>
    </decisions>
    <description>BODEV-2896 Opp Owner Update Logic on Opp Creation
Updated the Flow to populate Primary Contact on Opportunity for SpotDraft to pull info.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsPrimaryContact</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.IsPrimary}</expression>
    </formulas>
    <formulas>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula to return Date/Time of the moment 5 minutes before the current date/time. Used to determine if the associated Opp is newly created.</description>
        <name>TIME_5_min_before_Current</name>
        <dataType>DateTime</dataType>
        <expression>/* 5 min before the current time. For Date/Time value &quot;1&quot; means 1 day, so 1 min is 1/(60min x 24h) */
NOW() - 5/(60*24)</expression>
    </formulas>
    <interviewLabel>Contact Role {ASF} Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Role [ASF] Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1339</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>recordAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Account_ID_18_digits__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1339</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_Created_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>recordContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CS_Qualifier__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Upsell_Opportunity_ID__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Disco_call_Task</name>
        <label>Get Latest Disco call Task</label>
        <locationX>710</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Disco_call_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>Created_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Discovery_Call_Task</name>
        <label>Get Latest Discovery Call Task</label>
        <locationX>1876</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Disco_call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>Created_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Task_for_Leads</name>
        <label>Get Most Recent Task for Leads</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Disco_call_task_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordOpportunity.Lead_ID_18_Digits__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>Created_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1339</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>recordOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CS_Qualifier_Opp__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Latest_Disco_Call_Most_Recent_Source_New__c</queriedFields>
        <queriedFields>Lead_ID_18_Digits__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fill_Primary_Contact_on_Account</name>
        <label>Fill Primary Contact on Account</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Opportunity_is_Upsell</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordAccount.Account_ID_18_digits__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>732</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>recordContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>1172</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Update_Opportunity_0</targetReference>
        </connector>
        <inputReference>recordContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Owner_to_match_Opportunity_Owner</name>
        <label>Update Contact Owner to match Opportunity Owner</label>
        <locationX>473</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Check_if_Opp_is_created_from_Lead_Conversion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>732</locationX>
        <locationY>3395</locationY>
        <inputReference>recordOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity1</name>
        <label>Update Opportunity</label>
        <locationX>1744</locationX>
        <locationY>1295</locationY>
        <inputReference>recordOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_0</name>
        <label>Update Opportunity</label>
        <locationX>1172</locationX>
        <locationY>3395</locationY>
        <inputReference>recordOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_0_0</name>
        <label>Update Opportunity</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Update_Primary_Contact_on_Account</targetReference>
        </connector>
        <inputReference>recordOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_0_0_0</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <inputReference>recordOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact_on_Opportunity</name>
        <label>Update Primary Contact on Opportunity</label>
        <locationX>473</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Decision_Check_if_Opportunity_is_New_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact_on_Opportunity1</name>
        <label>Update Primary Contact on Opportunity</label>
        <locationX>1876</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Latest_Discovery_Call_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1213</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
