metadata/force-app/main/default/flows/Contracted_Limits_Generator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Limit_to_Collection</name>
        <label>Add Limit to Collection</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>YearlyContractedLimitsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LimitsInvocableClass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Product_Limits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OLI_to_Collection</name>
        <label>Add OLI to Collection</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OLIswithLimits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Contract_Limit_Invocable_Record</name>
        <label>Create Contract Limit Invocable Record</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.opp_end_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.End_date_contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.opp_start_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Startdate_contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.annual_limit_value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Product_Limits.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.limit_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Product_Limits.Limit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.limit_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Product_Limits.Limit__r.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.oli_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OLIs_with_Limits.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.opportunity_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.contract_term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Netsuite_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LimitsInvocableClass.qty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_OLIs_with_Limits.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Limit_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OLI_with_Limit</name>
        <label>OLI with Limit?</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_through_OLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_OLI_with_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_OLIs.Product2.Product_with_Limits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OLI_to_Collection</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_Contracted_Limits_Generator</targetReference>
            </connector>
            <label>Upsell</label>
        </rules>
        <rules>
            <name>New_Business_OR_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Business_Renewal_Contracted_Limits_Generator_Invoked_Flow_Flow_1</targetReference>
            </connector>
            <label>New Business OR Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contracted Limits Generator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contracted Limits Generator Flow</label>
    <loops>
        <name>Loop_through_OLIs</name>
        <label>Loop through OLIs</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OLI_with_Limit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_OLIs_with_Limits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_OLIs_with_Limits</name>
        <label>Loop through OLIs with Limits</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <collectionReference>OLIswithLimits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Annual_Product_Limits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Product_Limits</name>
        <label>Loop through Product Limits</label>
        <locationX>490</locationX>
        <locationY>1058</locationY>
        <collectionReference>ProductLimitsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Contract_Limit_Invocable_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_OLIs_with_Limits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Annual_Product_Limits</name>
        <label>Get Annual Product Limits</label>
        <locationX>490</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Product_Limits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_OLIs_with_Limits.Product2.Id</elementReference>
            </value>
        </filters>
        <object>Product_Limit__c</object>
        <outputReference>ProductLimitsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Limit__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OLIs</name>
        <label>Get OLIs</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Startdate_contract__c</queriedFields>
        <queriedFields>End_date_contract__c</queriedFields>
        <queriedFields>Netsuite_Term__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Business_Renewal_Contracted_Limits_Generator_Invoked_Flow_Flow_1</name>
        <label>New Business &amp; Renewal Contracted Limits Generator - Invoked Flow Flow 1</label>
        <locationX>314</locationX>
        <locationY>1658</locationY>
        <flowName>New_Business_Renewal_Contracted_Limits_Generator_Invoked_Flow</flowName>
        <inputAssignments>
            <name>varContractedYearlyLimitsCollection</name>
            <value>
                <elementReference>YearlyContractedLimitsCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Upsell_Contracted_Limits_Generator</name>
        <label>Upsell Contracted Limits Generator</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <flowName>Upsell_Contracted_Limits_Generator</flowName>
        <inputAssignments>
            <name>varContractedYearlyLimitsCollection</name>
            <value>
                <elementReference>YearlyContractedLimitsCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CumulativeLimitsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Limit__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>LimitsInvocableClass</name>
        <apexClass>ContractLimitMainClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OLIsProductLimitsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Limit__c</objectType>
    </variables>
    <variables>
        <name>OLIswithLimits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProductLimitsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Limit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeBasedLimitsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Limit__c</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>YearlyContractedLimitsCollection</name>
        <apexClass>ContractLimitMainClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
