metadata/force-app/main/default/flows/Create_Platform_Transfer_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contact_has_Lead_Source</name>
        <label>Contact has Lead Source?</label>
        <locationX>1309</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>Add_Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead Source</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Information.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_OEM_ARR_0</targetReference>
            </connector>
            <label>Lead Source present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_added</name>
        <label>Contacts added?</label>
        <locationX>719</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Create_Primary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contacts</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Primary_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_contact_selected</name>
        <label>Create new contact selected?</label>
        <locationX>994</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_new_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Primary_contact</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <description>BODEV-3188 Source field for Contacts on Opp creation Flow
Updated the Flow to capture Source when a contact is created on the Screenflow</description>
    <dynamicChoiceSets>
        <name>AvailableContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Contact_ID_18_digits__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <formulas>
        <name>Currency</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Current_User.Work_Location__c}), 
&quot;Amsterdam&quot;, &quot;EUR&quot;,
&quot;London&quot;, &quot;GBP&quot;,
&quot;Dubai&quot;, &quot;AED&quot;,
&quot;San Mateo&quot;, &quot;USD&quot;,
&quot;San Carlos&quot;, &quot;USD&quot;,
&quot;AUD&quot;)</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Account.BillingCountryCode})), &quot;[country abbreviation] - &quot;, TEXT({!Account.BillingCountryCode}) + &quot; - &quot;) + {!Account.Name} + &quot; - Contract 1 - Transfer&quot;</expression>
    </formulas>
    <formulas>
        <name>OEMMRR</name>
        <dataType>Currency</dataType>
        <expression>{!Previous_OEM_ARR_0}/12</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>PreviousOEMMRR</name>
        <dataType>Currency</dataType>
        <expression>{!Previous_OEM_ARR}/12</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Create Platform Transfer opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Platform Transfer opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>726</locationX>
        <locationY>362</locationY>
        <assignRecordIdToReference>CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>Track_OEM_ARR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_error_screen_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Maker__c</field>
            <value>
                <elementReference>Decision_maker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EnteredEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executive_Sponsor__c</field>
            <value>
                <elementReference>Champion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact__c</field>
            <value>
                <elementReference>IT_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal__c</field>
            <value>
                <elementReference>Legal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Power_User__c</field>
            <value>
                <elementReference>Power_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procurement__c</field>
            <value>
                <elementReference>Procurement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Owner__c</field>
            <value>
                <elementReference>Project_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Customer Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stakeholder__c</field>
            <value>
                <elementReference>Stakeholder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_contact__c</field>
            <value>
                <elementReference>Support_contact</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Platform_Transfer_opportunity</name>
        <label>Create Platform Transfer opportunity</label>
        <locationX>1626</locationX>
        <locationY>108</locationY>
        <assignRecordIdToReference>PlatformTransferOpp</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Opportunity_Contact_role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_error_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <stringValue>Unassessed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_History__c</field>
            <value>
                <stringValue>Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Amount__c</field>
            <value>
                <elementReference>OEMMRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000QxSt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Current_User.Work_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Customer Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business - Platform Transfer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Platform_Transfer_opportunity_0</name>
        <label>Create Platform Transfer opportunity</label>
        <locationX>732</locationX>
        <locationY>592</locationY>
        <assignRecordIdToReference>PlatformTransferOpp</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Opportunity_Contact_role_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_error_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <stringValue>Unassessed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_History__c</field>
            <value>
                <stringValue>Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Amount__c</field>
            <value>
                <elementReference>PreviousOEMMRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000QxSt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Current_User.Work_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Customer Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business - Platform Transfer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Set_Opportunity_Contact_role</name>
        <label>Set Opportunity Contact role</label>
        <locationX>1793</locationX>
        <locationY>94</locationY>
        <faultConnector>
            <targetReference>Opportunity_error_screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PlatformTransferOpp</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Set_Opportunity_Contact_role_0</name>
        <label>Set Opportunity Contact role</label>
        <locationX>733</locationX>
        <locationY>717</locationY>
        <faultConnector>
            <targetReference>Opportunity_error_screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreatedContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PlatformTransferOpp</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>499</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>Current_User__c</queriedFields>
        <queriedFields>Sales_Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>1167</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_has_Lead_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>391</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get information about the current user</description>
        <name>Current_User</name>
        <label>Current User</label>
        <locationX>602</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Current_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Location__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Lead_Source</name>
        <label>Add Lead Source</label>
        <locationX>1321</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Track_OEM_ARR_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_error_screen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Primary_contact</name>
        <label>Create Primary contact</label>
        <locationX>725</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>introCreateContact</name>
            <fieldText>&lt;p&gt;Please create a primary contact that will be associated with the opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Salutation</assignToReference>
                <name>salutation</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Source</name>
            <choiceReferences>ContactSource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Customer Success</stringValue>
            </defaultValue>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>introRole</name>
            <fieldText>&lt;p&gt;Please select the contact&apos;s role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Power_User</name>
            <dataType>Boolean</dataType>
            <fieldText>Power User</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Champion</name>
            <dataType>Boolean</dataType>
            <fieldText>Champion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Support_contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Support contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decision_maker</name>
            <dataType>Boolean</dataType>
            <fieldText>Decision Maker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Owner</name>
            <dataType>Boolean</dataType>
            <fieldText>Project Owner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal</name>
            <dataType>Boolean</dataType>
            <fieldText>Legal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IT_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>IT Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Procurement</name>
            <dataType>Boolean</dataType>
            <fieldText>Procurement</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stakeholder</name>
            <dataType>Boolean</dataType>
            <fieldText>Stakeholder</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_error_screen</name>
        <label>Opportunity error screen</label>
        <locationX>1138</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;An error occurred while creating the opportunity. Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 16, 16);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_error_screen_0</name>
        <label>Opportunity contact role error screen</label>
        <locationX>1426</locationX>
        <locationY>523</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage_0</name>
            <fieldText>&lt;p&gt;An error occurred while creating the opportunity contact role. Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 16, 16);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;﻿&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_error_screen_0_0</name>
        <label>Contact error screen</label>
        <locationX>1004</locationX>
        <locationY>306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage_0_0</name>
            <fieldText>&lt;p&gt;An error occurred while creating or updating the contact. Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 16, 16);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Primary_Contact</name>
        <label>Select Primary Contact</label>
        <locationX>897</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_contact_selected</targetReference>
        </connector>
        <fields>
            <name>introSelectContact</name>
            <fieldText>&lt;p&gt;Please choose the primary contact for the new opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you don&apos;t see the right contact in the list below, please check the box &quot;Create new contact&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Contact</name>
            <choiceReferences>AvailableContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_new_contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Create new contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Track_OEM_ARR</name>
        <label>Track Previous Opp ARR</label>
        <locationX>729</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Platform_Transfer_opportunity_0</targetReference>
        </connector>
        <fields>
            <name>Previous_OEM_ARR</name>
            <dataType>Currency</dataType>
            <fieldText>Previous Opportunity ARR</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the previous Opportunity ARR to track Expansion/Contraction&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>8</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Track_OEM_ARR_0</name>
        <label>Track Previous Opp ARR</label>
        <locationX>1473</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Platform_Transfer_opportunity</targetReference>
        </connector>
        <fields>
            <name>Previous_OEM_ARR_0</name>
            <dataType>Currency</dataType>
            <fieldText>Previous Opportunity ARR</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the previous Opportunity ARR to track Expansion/Contraction&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>8</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnteredEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlatformTransferOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
