metadata/force-app/main/default/flows/Create_Upsell.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>All_in_One</name>
        <label>All in One</label>
        <locationX>1071</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>SOCNewOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_1_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_data_into_new_SObject_Variables</name>
        <label>Assign data into new SObject Variables</label>
        <locationX>1178</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>NEWOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOLIPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.Auto_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.Default_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOLIPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLI.Sales_Price_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOLIARRPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_in_One</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120P000000QxT3</stringValue>
        </value>
    </constants>
    <constants>
        <name>UpsellLeadSource</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Customer</stringValue>
        </value>
    </constants>
    <constants>
        <name>UpsellMarketingSource</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>UpsellSource</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Sales</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_SOC_Size</name>
        <label>Check SOC Size</label>
        <locationX>736</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_OLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_1_by_1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_renewal_exist</name>
        <label>Does renewal exist?</label>
        <locationX>538</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Get_all_Line_Items_from_renewal_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal exists</defaultConnectorLabel>
        <rules>
            <name>No_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenewalOppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No renewal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the active opportunity exists.</description>
        <name>Is_current_opp_active</name>
        <label>Is current opp active?</label>
        <locationX>580</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Get_all_Line_Items_from_existing_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_renewal_exist</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Without reference to the Current Active Opportunity Name
If no opportunity is active, then takes Upsell information from the renewal and account.
Added Platform Transfer.</description>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>CurrentUpsellNumber</name>
        <dataType>Number</dataType>
        <expression>{!Account_record.Upsells_created_button__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Sets the end date of the upsell</description>
        <name>EndDateUpsell</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!RenewalOppty.Startdate_contract__c}), {!Old_Opp.End_date_contract__c}, {!RenewalOppty.Startdate_contract__c} - 1)</expression>
    </formulas>
    <formulas>
        <name>NewOLIARRPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Sov_OLI.Recurring_Discount__c}) &lt;&gt; &quot;No&quot;, {!Sov_OLI.Sales_Price_ARR__c}, {!Sov_OLI.Default_Price_ARR__c})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>NewOLIPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Sov_OLI.Recurring_Discount__c}) &lt;&gt; &quot;No&quot;, {!Sov_OLI.UnitPrice}, {!Sov_OLI.Default_Price__c})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Defines upsell name based on the renewal.</description>
        <name>UpsellName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Old_Opp.Id}),
UPPER(LEFT({!RenewalOppty.Name}, 2)) + &quot; -&quot; + IF({!RenewalOppty.OEM__c} = &quot;0010P00001xSOyuQAG&quot;,&quot;Workfront OEM - &quot;, IF({!RenewalOppty.OEM__c} = &quot;0010P00001xSHsb&quot;,&quot;Acquia OEM - &quot;,&quot; &quot;)) + {!Account_record.Name} + &quot; - Contract &quot; + IF(OR({!Account_record.Ex_customer_of_new_business_renewals__c} = 0, ISBLANK({!Account_record.Ex_customer_of_new_business_renewals__c})),&quot; &quot;,&quot;&quot;)+ TEXT({!Account_record.of_New_Business_Renewals__c} - {!Account_record.Ex_customer_of_new_business_renewals__c}) + &quot; - Upsell &quot; + TEXT({!CurrentUpsellNumber}),
{!Old_Opp.Name} + &quot; - &quot; + &quot;Upsell&quot; + &quot; &quot; + TEXT({!CurrentUpsellNumber}))</expression>
    </formulas>
    <interviewLabel>Create Upsell {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Upsell Opportunity</label>
    <loops>
        <name>Extract_1_by_1</name>
        <label>Extract 1 by 1</label>
        <locationX>970</locationX>
        <locationY>269</locationY>
        <assignNextValueToReference>Sov_OLI</assignNextValueToReference>
        <collectionReference>SOC_OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_data_into_new_SObject_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_OLI</name>
        <label>Create New OLI</label>
        <locationX>962</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>SOCNewOLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Upsell_Opportunity</name>
        <label>Create Upsell Opportunity</label>
        <locationX>744</locationX>
        <locationY>38</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_SOC_Size</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Old_Opp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Old_Opp.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_date_contract__c</field>
            <value>
                <elementReference>EndDateUpsell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_period__c</field>
            <value>
                <elementReference>Old_Opp.Invoice_period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>UpsellLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>UpsellMarketingSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UpsellName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_History__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notice_period_months__c</field>
            <value>
                <elementReference>Old_Opp.Notice_period_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OEM__c</field>
            <value>
                <elementReference>Account_record.OEM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>Old_Opp.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Old_Opp.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Renewal_Opportunity__c</field>
            <value>
                <elementReference>RenewalOppty.Opportunity_ID_18_digits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Old_Opp.Sales_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>UpsellSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business-Upsell</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Upsell Opportunity with information from Renewal</description>
        <name>Create_Upsell_Opportunity_From_Renewal</name>
        <label>Create Upsell Opportunity from Renewal</label>
        <locationX>748</locationX>
        <locationY>573</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_SOC_Size</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>RenewalOppty.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_date_contract__c</field>
            <value>
                <elementReference>EndDateUpsell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_period__c</field>
            <value>
                <elementReference>RenewalOppty.Invoice_period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>UpsellLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>UpsellMarketingSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UpsellName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_History__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notice_period_months__c</field>
            <value>
                <elementReference>RenewalOppty.Notice_period_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OEM__c</field>
            <value>
                <elementReference>Account_record.OEM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>RenewalOppty.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>RenewalOppty.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Renewal_Opportunity__c</field>
            <value>
                <elementReference>RenewalOppty.Opportunity_ID_18_digits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>RenewalOppty.Sales_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>UpsellSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business-Upsell</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Account_record</name>
        <label>Account Record</label>
        <locationX>134</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OEM_Account__c</queriedFields>
        <queriedFields>Ex_customer_of_new_business_renewals__c</queriedFields>
        <queriedFields>of_New_Business_Renewals__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Upsells_created_button__c</queriedFields>
        <queriedFields>Original_Contract_Start_Date__c</queriedFields>
        <queriedFields>Current_Contract_Start_Date_new__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Renewal</name>
        <label>Current Renewal</label>
        <locationX>255</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Information_from_Active_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Business-Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>RenewalOppty</outputReference>
        <queriedFields>Opportunity_ID_18_digits__c</queriedFields>
        <queriedFields>Startdate_contract__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Sales_Office__c</queriedFields>
        <queriedFields>Invoice_period__c</queriedFields>
        <queriedFields>Payment_Period__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Notice_period_months__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OEM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Line_Items_from_existing_opportunity</name>
        <label>Get all Line Items from existing opportunity</label>
        <locationX>589</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Upsell_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Contract_Upsell__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_family__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OLI</outputReference>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Recurring_Discount__c</queriedFields>
        <queriedFields>Discount_Amount__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Sales_Price_ARR__c</queriedFields>
        <queriedFields>List_Price_ARR_One_off__c</queriedFields>
        <queriedFields>For_Renewal__c</queriedFields>
        <queriedFields>Default_Price__c</queriedFields>
        <queriedFields>Default_Price_ARR__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Line_Items_from_renewal_opportunity</name>
        <label>Get all Line Items from renewal opportunity</label>
        <locationX>553</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Upsell_Opportunity_From_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewalOppty.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Contract_Upsell__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_family__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OLI</outputReference>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Recurring_Discount__c</queriedFields>
        <queriedFields>Discount_Amount__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Sales_Price_ARR__c</queriedFields>
        <queriedFields>List_Price_ARR_One_off__c</queriedFields>
        <queriedFields>For_Renewal__c</queriedFields>
        <queriedFields>Default_Price__c</queriedFields>
        <queriedFields>Default_Price_ARR__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Information_from_Active_Opp</name>
        <label>Get Information from Active Opp</label>
        <locationX>440</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_current_opp_active</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Business-Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business-Enterprise Cloud</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business - Expansion Portal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Business - Internal Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Business - Platform Transfer</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Old_Opp</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>End_date_contract__c</queriedFields>
        <queriedFields>Startdate_contract__c</queriedFields>
        <queriedFields>Sales_Office__c</queriedFields>
        <queriedFields>Invoice_period__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Notice_period_months__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Payment_Period__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>961</locationX>
        <locationY>654</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18_digits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Upsells_created_button__c</field>
            <value>
                <elementReference>CurrentUpsellNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Account_record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores information from the account</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NEWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Old_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RenewalOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SOC_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOCNewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Sov_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarT_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
