metadata/force-app/main/default/flows/Create_Opportunity_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Lead_Source</name>
        <label>Set Lead Source</label>
        <locationX>1056</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Details.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>818</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Account.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Lead_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Lead_Created_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Lead_write_up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Write_Up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Marketing_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Next_Steps_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Sales_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Work_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Sales_Qualifier_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Sales_Qualifier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.BDR_Reactivated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.BDR_Reactivated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Partner_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.Account.Partner_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Forecast_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upside</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SQL_Fields</name>
        <label>Set SQL Fields</label>
        <locationX>593</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Details.Sales_Qualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Details.Sales_Qualifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Details.Timestamp_SQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SQLer_on_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_New_Opp_ID_on_Contact</name>
        <label>Store New Opp ID on Contact</label>
        <locationX>414</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Details.New_Business_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Details.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted to Opp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SQL_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Updated_Values</name>
        <label>Store Updated Values</label>
        <locationX>595</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.RFP_received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFP_Received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.RFP_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFP_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Module_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Module_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Current_Currency</name>
        <choiceText>{!Default_Currency}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Default_Currency</elementReference>
        </value>
    </choices>
    <choices>
        <name>Current_Sales_Region</name>
        <choiceText>{!Default_Sales_Region}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Default_Sales_Region</elementReference>
        </value>
    </choices>
    <choices>
        <name>Type_New_Business_Enterprise_Cloud</name>
        <choiceText>New Business-Enterprise Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business-Enterprise Cloud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Type_New_Business_Expansion_Portal</name>
        <choiceText>New Business - Expansion Portal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business - Expansion Portal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Sales_Qualifier_is_an_Active_BDR</name>
        <label>Decision - Sales Qualifier is an Active BDR</label>
        <locationX>417</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Fields_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Qualifier_is_an_Active_BDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Sales_Qualifier_New__r.Active_BDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Account.BDR_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity.Sales_Qualifier_New__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Account.BDR_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BDR_Owner_on_Account</targetReference>
            </connector>
            <label>Yes - Sales Qualifier is an Active BDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Filled</name>
        <label>Lead Source Filled?</label>
        <locationX>838</locationX>
        <locationY>146</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Details.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_in_Lead_Source</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>SQL_Filled</name>
        <label>SQL Filled?</label>
        <locationX>407</locationX>
        <locationY>886</locationY>
        <defaultConnector>
            <targetReference>Set_SQLer_on_Opp_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Details.Sales_Qualifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SQL_Fields</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Module Opportunity has DAM only as well as other modules selected. If yes, return to the screen to warn that other modules should not be selected when DAM only is selected.</description>
        <name>Valid_Module_Opportunity</name>
        <label>Valid Module Opportunity?</label>
        <locationX>685</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Store_Updated_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Has_DAM_Only_and_Other_Modules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ModuleOpportunityHasDAMOnlyAndOtherModules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Fields</targetReference>
            </connector>
            <label>Has DAM Only and Other Modules</label>
        </rules>
    </decisions>
    <description>BODEV-4217 Changed Module opportunity picklist to checkbox group
BODEV-4286 Forecast Level: Upside as default value for forecast level on New Business/Upsell Opportunities.</description>
    <dynamicChoiceSets>
        <description>BODEV-2714: Choice component to let users select Module Opportunity</description>
        <name>CHOICE_Module_Opportunity</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Module_Opportunity__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Source_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>REF_Received_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RFP_received__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!Get_Contact_Details.Account.Company_Size_New__c}) = &quot;SMB&quot;, TODAY() + 60, TODAY()+120)</expression>
    </formulas>
    <formulas>
        <name>Default_Currency</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Get_Contact_Current_User.Work_Location__c}), 
&quot;Amsterdam&quot;, &quot;EUR&quot;,
&quot;London&quot;, &quot;GBP&quot;,
&quot;Dubai&quot;, &quot;AED&quot;,
&quot;San Mateo&quot;, &quot;USD&quot;,
&quot;San Carlos&quot;, &quot;USD&quot;,
&quot;AUD&quot;)</expression>
    </formulas>
    <formulas>
        <name>Default_Sales_Region</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Contact_Details.Sales_Region_NEW__c}), &quot;Select a Value&quot;, {!Get_Contact_Details.Sales_Region_NEW__c})</expression>
    </formulas>
    <formulas>
        <name>Lead_Write_Up</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Contact_Details.Lead_write_up__c}), {!Get_Contact_Details.Write_Up__c}, {!Get_Contact_Details.Lead_write_up__c} + BR() + {!Get_Contact_Details.Write_Up__c})</expression>
    </formulas>
    <formulas>
        <description>BODEV-2714: a validation to block other modules to be selected when DAM only is selected in Module Opportunity field.</description>
        <name>ModuleOpportunityHasDAMOnlyAndOtherModules</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  CONTAINS({!Module_Opportunity}, &quot;DAM only&quot;),
  CONTAINS({!Module_Opportunity}, &quot;;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Contact_Details.MailingCountryCode})), &quot;[country abbreviation]&quot;, TEXT({!Get_Contact_Details.MailingCountryCode})) + &quot; - &quot; + {!Get_Contact_Details.Account.Name} + &quot; Contract 1&quot;</expression>
    </formulas>
    <interviewLabel>Create Opportunity (Contact) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Business Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>477</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Store_New_Opp_ID_on_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Opportunity</targetReference>
        </faultConnector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Current_User</name>
        <label>Get Contact Current User</label>
        <locationX>692</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Source_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Details.Current_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Location__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>564</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>424</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Opportunity_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_SQLer_on_Opp</name>
        <label>Set SQLer on Opp</label>
        <locationX>737</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Decision_Sales_Qualifier_is_an_Active_BDR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Qualifier_New__c</field>
            <value>
                <elementReference>Get_Contact_Details.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SQLer_on_Opp_0</name>
        <label>Set SQLer on Opp</label>
        <locationX>50</locationX>
        <locationY>1040</locationY>
        <connector>
            <targetReference>Decision_Sales_Qualifier_is_an_Active_BDR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Qualifier_New__c</field>
            <value>
                <elementReference>Get_Contact_Details.Sales_Qualifier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BDR_Owner_on_Account</name>
        <label>Update BDR Owner on Account</label>
        <locationX>576</locationX>
        <locationY>1150</locationY>
        <connector>
            <targetReference>Update_Contact_Fields_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BDR_Owner__c</field>
            <value>
                <elementReference>Opportunity.Sales_Qualifier_New__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Fields</name>
        <label>Update Contact Fields</label>
        <locationX>1046</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_updating_contact</targetReference>
        </faultConnector>
        <inputReference>Get_Contact_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Fields_0</name>
        <label>Update Contact Fields</label>
        <locationX>420</locationX>
        <locationY>1225</locationY>
        <faultConnector>
            <targetReference>Error_updating_contact</targetReference>
        </faultConnector>
        <inputReference>Get_Contact_Details</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Edit_Fields</name>
        <label>Edit Fields</label>
        <locationX>594</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valid_Module_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Fields_Info</name>
            <fieldText>&lt;p&gt;Creating a New Business Opportunity for {!Get_Contact_Details.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Name</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Opportunity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Currency</name>
            <choiceReferences>Current_Currency</choiceReferences>
            <choiceReferences>Currency_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RFP_Received</name>
            <choiceReferences>REF_Received_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RFP Received?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RFP_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>RFP Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RFP_Received</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Module_Opportunity</name>
            <choiceReferences>CHOICE_Module_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Module Opportunity</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;Please select which module(s) the prospect/customer is interested in.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TXT_No_Other_Module_when_DAM_Only</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;When DAM only is selected, you cannot select other modules in Module Opportunity field. Please deselect other modules.	&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModuleOpportunityHasDAMOnlyAndOtherModules</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Opportunity</name>
        <label>Error Creating Opportunity</label>
        <locationX>396</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Fields</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An error occurred creating the Opportunity. Please correct the issue(s) and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error message:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_updating_contact</name>
        <label>Error updating contact</label>
        <locationX>1264</locationX>
        <locationY>738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An error occurred while updating the Contact. Please correct the issue(s) and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error message:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_in_Lead_Source</name>
        <label>Fill in Lead Source</label>
        <locationX>1051</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Lead_Source</targetReference>
        </connector>
        <fields>
            <name>Lead_Source_Blank_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The field Lead Source is blank. You cannot create a new opportunity without this field. Please fill it in below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>Lead_Source_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>472</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Opportunity to be created</description>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
