metadata/force-app/main/default/flows/Create_New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddContactRole</name>
        <label>AddContactRole</label>
        <locationX>1260</locationX>
        <locationY>2432</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>1052</locationX>
        <locationY>1362</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Opportunity_Contact_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Contact_Required_Subflows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ContactId</name>
        <label>Assign ContactId</label>
        <locationX>1061</locationX>
        <locationY>1251</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Contact_Required_Subflows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lookup_ContactId</name>
        <label>Assign Lookup ContactId</label>
        <locationX>712</locationX>
        <locationY>1273</locationY>
        <assignmentItems>
            <assignToReference>selectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Opportunity_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkPrimaryContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_ID</name>
        <label>Assign Opp ID</label>
        <locationX>1619</locationX>
        <locationY>1860</locationY>
        <assignmentItems>
            <assignToReference>Create_Task_for_Opportunity.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Type</name>
        <label>Assign Opportunity Type</label>
        <locationX>990</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>OppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business-Enterprise Cloud</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Started_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Type_0</name>
        <label>Assign Opportunity Type</label>
        <locationX>1128</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>OppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business - Expansion Portal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Started_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_for_Contacts</name>
        <label>Assign Task for Contacts</label>
        <locationX>647</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>AddTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Task_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Collection</name>
        <label>Assign to Task Collection</label>
        <locationX>1595</locationX>
        <locationY>2009</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Task_for_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactRoles</name>
        <label>AssignContactRoles</label>
        <locationX>1536</locationX>
        <locationY>2117</locationY>
        <assignmentItems>
            <assignToReference>ContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSelectedContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPrimaryContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactValues</name>
        <label>AssignContactValues</label>
        <locationX>57</locationX>
        <locationY>1628</locationY>
        <assignmentItems>
            <assignToReference>NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactName.salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Decision_Maker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Decision_Maker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.IT_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Executive_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Champion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Procurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procurement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Stakeholder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stakeholder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Project_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Support_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Power_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContacts</name>
        <label>AssignNewContacts</label>
        <locationX>250</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>ContactsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryContactRoles</name>
        <label>AssignPrimaryContactRoles</label>
        <locationX>1691</locationX>
        <locationY>2349</locationY>
        <assignmentItems>
            <assignToReference>ContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryContactRoles_0</name>
        <label>AssignPrimaryContactRoles</label>
        <locationX>1356</locationX>
        <locationY>2229</locationY>
        <assignmentItems>
            <assignToReference>ContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedContacts</name>
        <label>AssignSelectedContacts</label>
        <locationX>715</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>ContactsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_Aquia</name>
        <label>Get Opp Id Aquia</label>
        <locationX>1853</locationX>
        <locationY>1635</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Acquia_Opportunity_Flow.VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_Internal_Transfer</name>
        <label>Get Opp Id Internal Transfer</label>
        <locationX>1606</locationX>
        <locationY>1409</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Transfer_Flow.InternalTransferOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_New_Business_Opportunity</name>
        <label>Get Opp Id New Business Opportunity</label>
        <locationX>1448</locationX>
        <locationY>1592</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Business_Opportunity.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_Opp_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_Platform_Transfer</name>
        <label>Get Opp Id Platform Transfer</label>
        <locationX>1810</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Platform_Transfer_Flow.PlatformTransferOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_Upsell_MRR</name>
        <label>Get Opp Id Upsell MRR</label>
        <locationX>1064</locationX>
        <locationY>1746</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Upsell_Opportunity_MRR.VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_Upsell_Professional_Services</name>
        <label>Get Opp Id Upsell Professional Services</label>
        <locationX>1198</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsell_ProfessionalServices_Flow.VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Opp_Id_Workfront</name>
        <label>Get Opp Id Workfront</label>
        <locationX>2152</locationX>
        <locationY>1688</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Workfront_Opportunity_Flow.VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OEM_Get_Opp_Id_Upsell_MRR</name>
        <label>OEM Get Opp Id Upsell MRR</label>
        <locationX>1911</locationX>
        <locationY>1638</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OEM_Create_Upsell_Opportunity_MRR.VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OEM_Get_Opp_Id_Upsell_One_Off</name>
        <label>OEM Get Opp Id Upsell One-Off</label>
        <locationX>2235</locationX>
        <locationY>2021</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OEM_Upsell_Professional_Services_Flow.VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactList</name>
        <label>SetContactList</label>
        <locationX>262</locationX>
        <locationY>1362</locationY>
        <assignmentItems>
            <assignToReference>ContactsList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ContactsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Account_Data</name>
        <label>Store Account Data</label>
        <locationX>1271</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>Object_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId18Digits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Account_ID_18_digits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.AccountSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Contact_Data</name>
        <label>Store Contact Data</label>
        <locationX>1111</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>Object_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId18Digits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Account_ID_18_digits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Opp_Data</name>
        <label>Store Opp Data</label>
        <locationX>1448</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>Object_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId18Digits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Account_ID_18_digits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acquia_Choice</name>
        <choiceText>Acquia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acquia</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExpansionPortal</name>
        <choiceText>New Business - Expansion Portal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business - Expansion Portal</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalTransfer_Choice</name>
        <choiceText>Internal Transfer(OEM - Direct)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Transfer(OEM - Direct)</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Business_Opportunity_Choice</name>
        <choiceText>New Business - Enterprise Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Platform_Transfer_Choice</name>
        <choiceText>Platform Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Platform Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referral_Choice</name>
        <choiceText>Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsell_ARR_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Upsell - ARR&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell - ARR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsell_MRR_Choice</name>
        <choiceText>Upsell - MRR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell - MRR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsell_Professional_Services_Choice</name>
        <choiceText>Upsell - Professional Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell - Professional Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Workfront_Choice</name>
        <choiceText>Workfront</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Workfront</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Opportunity_Type</name>
        <label>Check Opportunity Type</label>
        <locationX>1103</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_is_New_Business_Enterprise_Cloud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Business_Opportunity_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Type</targetReference>
            </connector>
            <label>Type is New Business Enterprise Cloud</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_tasks</name>
        <label>Check tasks?</label>
        <locationX>554</locationX>
        <locationY>1601</locationY>
        <defaultConnector>
            <targetReference>LoopContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Task_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_for_Contacts</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_tasks_exist_on_contact</name>
        <label>Check tasks exist on contact?</label>
        <locationX>1532</locationX>
        <locationY>1733</locationY>
        <defaultConnector>
            <targetReference>LoopSelectedContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tasks_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Opportunity</targetReference>
            </connector>
            <label>Tasks exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfContactIsSelected</name>
        <label>checkIfContactIsSelected</label>
        <locationX>903</locationX>
        <locationY>1752</locationY>
        <defaultConnector>
            <targetReference>LoopContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedContacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopContacts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Task_Record</targetReference>
            </connector>
            <label>ContactSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPrimaryContact</name>
        <label>checkPrimaryContact</label>
        <locationX>869</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Select_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedContacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Primary_Opportunity_Contact_Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopContacts</targetReference>
            </connector>
            <label>selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_Exists</name>
        <label>contact Exists?</label>
        <locationX>542</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>Create_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_a_Contact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Started_Flow</name>
        <label>Contact Started Flow?</label>
        <locationX>913</locationX>
        <locationY>1020</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Task_of_Primary_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_primary_contact</name>
        <label>Create new primary contact?</label>
        <locationX>522</locationX>
        <locationY>1318</locationY>
        <defaultConnector>
            <targetReference>Assign_Lookup_ContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactList</targetReference>
            </connector>
            <label>selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Object_Type</name>
        <label>Determine Object Type</label>
        <locationX>1280</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Invalid_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid RecordId</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPrimaryContact</name>
        <label>IsPrimaryContact?</label>
        <locationX>1550</locationX>
        <locationY>2242</locationY>
        <defaultConnector>
            <targetReference>AssignPrimaryContactRoles_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopSelectedContacts.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPrimaryContactRoles</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launch_Contact_Required_Subflows</name>
        <label>Launch Contact-Required Subflows</label>
        <locationX>1231</locationX>
        <locationY>1255</locationY>
        <defaultConnector>
            <targetReference>Create_New_Business_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Business Opportunity</defaultConnectorLabel>
        <rules>
            <name>Upsell_ARR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upsell_ARR_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Upsell_Opportunity_MRR</targetReference>
            </connector>
            <label>Upsell - ARR</label>
        </rules>
        <rules>
            <name>Upsell_Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upsell_Professional_Services_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_ProfessionalServices_Flow</targetReference>
            </connector>
            <label>Upsell - Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launch_SubFlows</name>
        <label>Launch SubFlows</label>
        <locationX>1345</locationX>
        <locationY>1117</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Upsell or New Business</defaultConnectorLabel>
        <rules>
            <name>Platform_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Platform_Transfer_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform_Transfer_Flow</targetReference>
            </connector>
            <label>Platform Transfer</label>
        </rules>
        <rules>
            <name>Acquia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Acquia_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Opportunity_Type_0</targetReference>
            </connector>
            <label>Acquia</label>
        </rules>
        <rules>
            <name>Workfront</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Workfront_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Opportunity_Type_0_0</targetReference>
            </connector>
            <label>Workfront</label>
        </rules>
        <rules>
            <name>Internal_Transfer_OEM_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InternalTransfer_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Transfer_Flow</targetReference>
            </connector>
            <label>Internal Transfer(OEM-Direct)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launch_SubFlows_0</name>
        <label>Launch SubFlows</label>
        <locationX>1779</locationX>
        <locationY>1253</locationY>
        <defaultConnector>
            <targetReference>OEM_Upsell_Professional_Services_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Upsell - Professional Services</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acquia_Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Business_Opportunity_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Acquia_Opportunity_Flow</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Upsell_ARR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acquia_Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upsell_ARR_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OEM_Create_Upsell_Opportunity_MRR</targetReference>
            </connector>
            <label>Upsell - ARR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launch_SubFlows_0_0</name>
        <label>Launch SubFlows</label>
        <locationX>2178</locationX>
        <locationY>1221</locationY>
        <defaultConnector>
            <targetReference>OEM_Upsell_Professional_Services_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Upsell - Professional Services</defaultConnectorLabel>
        <rules>
            <name>New_Business_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Workfront_Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Business_Opportunity_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Workfront_Opportunity_Flow</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Upsell_ARR_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Workfront_Opportunity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upsell_ARR_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OEM_Create_Upsell_Opportunity_MRR</targetReference>
            </connector>
            <label>Upsell - ARR</label>
        </rules>
    </decisions>
    <description>BODEV-3687: Updated the Opportunity type from &apos;Upsell - MRR&apos; to &apos;Upsell - ARR&apos;</description>
    <dynamicChoiceSets>
        <name>ContactLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>Create_Message</name>
        <dataType>String</dataType>
        <expression>IF({!Object_Type} = &quot;Account&quot;,
  &quot;Create a new Opportunity for Account: &quot; + {!Get_Account.Name},
  IF({!Object_Type} = &quot;Opportunity&quot;,
    &quot;Create a new Opportunity for Account: &quot; + {!Get_Opportunity.Account.Name},
    &quot;Create a new Opportunity for Account: &quot; + {!Get_Contact.Account.Name}
  )
)</expression>
    </formulas>
    <interviewLabel>Create New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Opportunity</label>
    <loops>
        <name>Create_Task_for_Opportunity</name>
        <label>Create Task for Opportunity</label>
        <locationX>1440</locationX>
        <locationY>1856</locationY>
        <collectionReference>AddTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>900</locationX>
        <locationY>1525</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIfContactIsSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelectedContacts</name>
        <label>LoopSelectedContacts</label>
        <locationX>994</locationX>
        <locationY>2137</locationY>
        <collectionReference>ContactsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContactRoles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Primary_Contact_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>429</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Select_a_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Records</targetReference>
        </faultConnector>
        <inputReference>ContactsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Contact_Role</name>
        <label>Create Primary Contact Role</label>
        <locationX>875</locationX>
        <locationY>2573</locationY>
        <connector>
            <targetReference>Redirect_to_Opportunity_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Records_0</targetReference>
        </faultConnector>
        <inputReference>OpportunityContactRoles</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1283</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Task_of_Primary_Contact</name>
        <label>Get All Task of Primary Contact</label>
        <locationX>985</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>AddTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Task_Record</name>
        <label>Get All Task Record</label>
        <locationX>732</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSelectedContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1097</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Contact_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>770</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Opp_Data</name>
        <label>Get Created Opp Data</label>
        <locationX>1528</locationX>
        <locationY>1492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_account_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1461</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Opp_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record_Types</name>
        <label>Get Opportunity Record Types</label>
        <locationX>1287</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Object_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_owner</name>
        <label>Update account owner</label>
        <locationX>1659</locationX>
        <locationY>1599</locationY>
        <connector>
            <targetReference>Check_tasks_exist_on_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Opp_Data.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Created_Opp_Data.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Records</name>
        <label>Update Task Records</label>
        <locationX>1380</locationX>
        <locationY>2023</locationY>
        <connector>
            <targetReference>LoopSelectedContacts</targetReference>
        </connector>
        <inputReference>TaskRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Primary_Contact</name>
        <label>Create Primary Contact</label>
        <locationX>55</locationX>
        <locationY>1414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignContactValues</targetReference>
        </connector>
        <fields>
            <name>contactinfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please create a contact that will be associated with the opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>contactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Source</name>
            <choiceReferences>ContactSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactroleinfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select the contact&apos;s role.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Power_User</name>
            <dataType>Boolean</dataType>
            <fieldText>Power User</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Champion</name>
            <dataType>Boolean</dataType>
            <fieldText>Champion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Support_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Support Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decision_Maker</name>
            <dataType>Boolean</dataType>
            <fieldText>Decision Maker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Owner</name>
            <dataType>Boolean</dataType>
            <fieldText>Project Owner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal</name>
            <dataType>Boolean</dataType>
            <fieldText>Legal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IT_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>IT Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Procurement</name>
            <dataType>Boolean</dataType>
            <fieldText>Procurement</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stakeholder</name>
            <dataType>Boolean</dataType>
            <fieldText>Stakeholder</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Records</name>
        <label>Error Creating Records</label>
        <locationX>748</locationX>
        <locationY>1961</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An error occurred creating the contact. Please correct the issue(s) and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error message:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Records_0</name>
        <label>Error Creating Records</label>
        <locationX>655</locationX>
        <locationY>2231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An error occurred creating the primary contact role. Please correct the issue(s) and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error message:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Record</name>
        <label>Invalid Record Id Provided</label>
        <locationX>1603</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_RecordId_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The record provided is not a valid Account, Contact, or Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Opportunity_Screen</name>
        <label>Redirect to Opportunity</label>
        <locationX>1876</locationX>
        <locationY>2479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redirect_To_Opportunity</name>
            <extensionName>c:FlowRedirectCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>OpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Contact</name>
        <label>Select a Contact</label>
        <locationX>442</locationX>
        <locationY>1031</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_primary_contact</targetReference>
        </connector>
        <fields>
            <name>Primary_Contact_Required_Text</name>
            <fieldText>&lt;p&gt;In order to associate contacts to opportunity as Opportunity Contact Roles, select opportunity contacts and primary contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step 1 :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Opportunity_Contacts</name>
            <choiceReferences>ContactLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity Contacts (Including Primary Contact)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Step2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step 2:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Opportunity_Contact_Role</name>
            <choiceReferences>ContactLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Contact selected as Primary contact should also be selected as opportunity contact.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Or</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;OR&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>createcontact</name>
            <fieldText>&lt;p&gt;In order to create a new contact, select the Create New Contact checkbox.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Opportunity_Type</name>
        <label>Select Opportunity Type</label>
        <locationX>1269</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Launch_SubFlows</targetReference>
        </connector>
        <fields>
            <name>Account_Select_Text</name>
            <fieldText>&lt;p&gt;{!Create_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>New_Business_Opportunity_Choice</choiceReferences>
            <choiceReferences>ExpansionPortal</choiceReferences>
            <choiceReferences>Upsell_Professional_Services_Choice</choiceReferences>
            <choiceReferences>Upsell_ARR_Choice</choiceReferences>
            <choiceReferences>Acquia_Choice</choiceReferences>
            <choiceReferences>Workfront_Choice</choiceReferences>
            <choiceReferences>Platform_Transfer_Choice</choiceReferences>
            <choiceReferences>InternalTransfer_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;In order to create Acquia or Workfront opportunities, select opportunity type as &apos;Acquia&apos; or &apos;Workfront&apos; and then select business type(upsell/New Business) in the next screen.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Opportunity_Type_0</name>
        <label>Select Opportunity Type</label>
        <locationX>1845</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Launch_SubFlows_0</targetReference>
        </connector>
        <fields>
            <name>Account_Select_Text_0</name>
            <fieldText>&lt;p&gt;{!Create_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acquia_Opportunity_Type</name>
            <choiceReferences>New_Business_Opportunity_Choice</choiceReferences>
            <choiceReferences>Upsell_Professional_Services_Choice</choiceReferences>
            <choiceReferences>Upsell_ARR_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Acquia Opportunity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Opportunity_Type_0_0</name>
        <label>Select Opportunity Type</label>
        <locationX>2053</locationX>
        <locationY>1028</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Launch_SubFlows_0_0</targetReference>
        </connector>
        <fields>
            <name>Account_Select_Text_0_0</name>
            <fieldText>&lt;p&gt;{!Create_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Workfront_Opportunity_Type</name>
            <choiceReferences>New_Business_Opportunity_Choice</choiceReferences>
            <choiceReferences>Upsell_Professional_Services_Choice</choiceReferences>
            <choiceReferences>Upsell_ARR_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Workfront Opportunity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Primary_Contact</name>
        <label>Select Primary Contact</label>
        <locationX>643</locationX>
        <locationY>1067</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_a_Contact</targetReference>
        </connector>
        <fields>
            <name>Primary_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(211, 25, 25);&quot;&gt;Primary Contact is not selected as opportunity contact. Please select the primary contact as Opportunity contact and try again.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1181</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Acquia_Opportunity_Flow</name>
        <label>Create Acquia Opportunity Flow</label>
        <locationX>1925</locationX>
        <locationY>1434</locationY>
        <connector>
            <targetReference>Get_Opp_Id_Aquia</targetReference>
        </connector>
        <flowName>Screen_Webdam_New_OEM_Opportunity</flowName>
        <inputAssignments>
            <name>AcquiaSelected</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_AccountId</name>
            <value>
                <elementReference>AccountId18Digits</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_New_Business_Opportunity</name>
        <label>Create New Business Opportunity</label>
        <locationX>1347</locationX>
        <locationY>1492</locationY>
        <connector>
            <targetReference>Get_Opp_Id_New_Business_Opportunity</targetReference>
        </connector>
        <flowName>Create_Opportunity_Contact</flowName>
        <inputAssignments>
            <name>OppType</name>
            <value>
                <elementReference>OppType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Upsell_Opportunity_MRR</name>
        <label>Create Upsell Opportunity - MRR</label>
        <locationX>1097</locationX>
        <locationY>1521</locationY>
        <connector>
            <targetReference>Get_Opp_Id_Upsell_MRR</targetReference>
        </connector>
        <flowName>Create_upsell_opportunity_MRR</flowName>
        <inputAssignments>
            <name>VarT_Account</name>
            <value>
                <elementReference>AccountId18Digits</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Workfront_Opportunity_Flow</name>
        <label>Create Workfront Opportunity Flow</label>
        <locationX>2254</locationX>
        <locationY>1498</locationY>
        <connector>
            <targetReference>Get_Opp_Id_Workfront</targetReference>
        </connector>
        <flowName>Screen_Webdam_New_OEM_Opportunity</flowName>
        <inputAssignments>
            <name>VarT_AccountId</name>
            <value>
                <elementReference>AccountId18Digits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkfrontSelected</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Internal_Transfer_Flow</name>
        <label>Internal Transfer Flow</label>
        <locationX>1379</locationX>
        <locationY>1300</locationY>
        <connector>
            <targetReference>Get_Opp_Id_Internal_Transfer</targetReference>
        </connector>
        <flowName>Create_OEM_Direct_Internal_Transfer_Opportunity</flowName>
        <inputAssignments>
            <name>curAccount</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OEM_Create_Upsell_Opportunity_MRR</name>
        <label>OEM - Create Upsell Opportunity - MRR</label>
        <locationX>2037</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>OEM_Get_Opp_Id_Upsell_MRR</targetReference>
        </connector>
        <flowName>Create_upsell_opportunity_MRR</flowName>
        <inputAssignments>
            <name>VarT_Account</name>
            <value>
                <elementReference>AccountId18Digits</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OEM_Upsell_Professional_Services_Flow</name>
        <label>OEM Upsell - Professional Services Flow</label>
        <locationX>2364</locationX>
        <locationY>1435</locationY>
        <connector>
            <targetReference>OEM_Get_Opp_Id_Upsell_One_Off</targetReference>
        </connector>
        <flowName>Screen_Create_Upsell_Opportunity_One_Off</flowName>
        <inputAssignments>
            <name>VarT_AccountID</name>
            <value>
                <elementReference>AccountId18Digits</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Platform_Transfer_Flow</name>
        <label>Platform Transfer Flow</label>
        <locationX>1528</locationX>
        <locationY>1236</locationY>
        <connector>
            <targetReference>Get_Opp_Id_Platform_Transfer</targetReference>
        </connector>
        <flowName>Create_Platform_Transfer_opportunity</flowName>
        <inputAssignments>
            <name>curAccount</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Upsell_ProfessionalServices_Flow</name>
        <label>Upsell - Professional Services Flow</label>
        <locationX>1245</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Get_Opp_Id_Upsell_Professional_Services</targetReference>
        </connector>
        <flowName>Screen_Create_Upsell_Opportunity_One_Off</flowName>
        <inputAssignments>
            <name>VarT_AccountID</name>
            <value>
                <elementReference>AccountId18Digits</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountId18Digits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ContactsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EnteredEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Object_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opp_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
