metadata/force-app/main/default/flows/Create_Quote_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Product_to_list</name>
        <label>Add Product to list</label>
        <locationX>1194</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>oppProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_List</name>
        <label>Add QLI to List</label>
        <locationX>1194</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>QLIItem.For_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.For_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Part_of_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Part_of_a_package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Part_of_Min_Commit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Part_of_Min_Commit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQLIDefaultPriceARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Sales_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQLISalesPriceARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Recurring_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Recurring_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Initial_Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Initial_Default_Price_ARR_One_off__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Renewal_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>renewalOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Upsell_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upsellOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedQLISalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Pricing_Factors_to_be_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingFactorsAppliedOnQLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Swap_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Swap_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_QLI_to_List_1</name>
        <label>Add QLI to List</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>QLIItem.For_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.For_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Part_of_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Part_of_a_package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Part_of_Min_Commit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Part_of_Min_Commit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQLIDefaultPriceARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Sales_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQLISalesPriceARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Recurring_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Recurring_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Initial_Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Renewal_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>renewalOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Upsell_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upsellOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedQLISalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Pricing_Factors_to_be_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingFactorsAppliedOnQLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Swap_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Swap_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Removed_QLI</name>
        <label>Add Removed QLI</label>
        <locationX>1238</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>removedQLI.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Default_Price_ARR_One_off__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.For_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.For_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Initial_Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Initial_Default_Price_ARR_One_off__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Line_Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Part_of_Min_Commit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Part_of_Min_Commit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Part_of_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Part_of_Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Price_Book_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Pricing_Factors_to_be_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Pricing_Factors_to_be_Applied__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Recurring_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Recurring_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Renewal_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Renewal_OLI_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Upsell_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Swap_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Swap_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Total_Price_Before_Discount_Mapped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Total_Price_Before_Discount_Mapped__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLI.Sales_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Sales_Price_ARR_One_off__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removedQLIList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>removedQLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_ID_to_list</name>
        <label>Assign Opp ID to list</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OppIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Count</name>
        <label>Assign Quote Count</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>quoteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Quotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Quote_Id</name>
        <label>Populate Quote Id</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Renewal_Upsell_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_QLI</name>
        <label>Remove QLI</label>
        <locationX>1238</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>quoteLineItemList</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>LoopCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitQLILoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Removed_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_QLI_1</name>
        <label>Remove QLI</label>
        <locationX>974</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>quoteLineItemList</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>LoopCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitQLILoop</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_QLI_in_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Loop_Counter</name>
        <label>Reset Loop Counter</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitQLILoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Counter</name>
        <label>Set Loop Counter</label>
        <locationX>1238</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_QLI_in_list</name>
        <label>Update QLI in list</label>
        <locationX>974</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>QLIItem.For_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.For_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Part_of_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Part_of_a_package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Part_of_Min_Commit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Part_of_Min_Commit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQLIQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQLIDefaultPriceARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Sales_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQLISalesPriceARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Recurring_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Recurring_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Initial_Default_Price_ARR_One_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Initial_Default_Price_ARR_One_off__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedQLISalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Upsell_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upsellOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Renewal_OLI_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QLI.Renewal_OLI_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Pricing_Factors_to_be_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingFactorsAppliedOnQLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIItem.Swap_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Swap_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_product_is_added_to_the_list</name>
        <label>Check if product is added to the list?</label>
        <locationX>1040</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Add_Product_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Added</defaultConnectorLabel>
        <rules>
            <name>Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppProductList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_OLIs.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Opportunity.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_QLI</targetReference>
            </connector>
            <label>Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product</name>
        <label>Check - Product</label>
        <locationX>1238</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Loop_QLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Quantity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLIs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewQLIQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>exitQLILoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Part_of_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Part_of_Package__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Part_of_Min_Commit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Part_of_Min_Commit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Initial_Default_Price_ARR_One_off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Initial_Default_Price_ARR_One_off__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_QLI_1</targetReference>
            </connector>
            <label>New Quantity &gt; 0</label>
        </rules>
        <rules>
            <name>New_Quantity_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLIs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewQLIQuantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>exitQLILoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Initial_Default_Price_ARR_One_off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Initial_Default_Price_ARR_One_off__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Part_of_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Part_of_Package__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Part_of_Min_Commit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_QLI.Part_of_Min_Commit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_QLI</targetReference>
            </connector>
            <label>New Quantity &lt;= 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_QLI</name>
        <label>New QLI?</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Reset_Loop_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitQLILoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_QLI_to_List_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Removed_QLI_exists</name>
        <label>Removed QLI exists?</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RQLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>removedQLIList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Removed_QLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Quote is created from opportunity. This flow is triggered from &apos;Apply pricing factors on Quote&apos; flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>AppliedUpcomingIndexation</name>
        <dataType>Number</dataType>
        <expression>IF({!waiveIndexation} = &apos;No&apos; , {!CurrentIndexationRate},null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CumulativeIndexationPercentage</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISNULL({!accountRecord.Cumulative_Indexation__c})),{!accountRecord.Cumulative_Indexation__c},{!Get_Renewal_Opportunity.Applied_Cumulative_Indexation__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewQLIQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Loop_QLI.Quantity} + {!Loop_OLIs.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PricingFactorsAppliedOnQLI</name>
        <dataType>Boolean</dataType>
        <expression>IF((TEXT({!Loop_OLIs.Opportunity.Type}) = &apos;Existing Business-Renewal&apos; &amp;&amp; {!Loop_OLIs.For_Renewal__c}) || {!Loop_QLI.Renewal_OLI_ID__c} !=null,
true,
false
)</expression>
    </formulas>
    <formulas>
        <description>Calculate Cumulative indexation to be applied on Quote line item</description>
        <name>QLICumulativeIndexation</name>
        <dataType>Currency</dataType>
        <expression>IF({!cumulativeIndexationApplied},
      {!Loop_OLIs.Initial_Default_Price_ARR_One_off__c} *{!CumulativeIndexationPercentage}/100,
0
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>QLIIndexationThresholdForDefaultPrice</name>
        <dataType>Currency</dataType>
        <expression>IF({!upcomingIndexationApplied},
({!Loop_OLIs.Initial_Default_Price_ARR_One_off__c}+{!QLICumulativeIndexation})*{!IndexationThreshold}/100,
0
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>QLIRenewalUplift</name>
        <dataType>Currency</dataType>
        <expression>IF({!upliftApplied} ,
({!Loop_OLIs.Initial_Default_Price_ARR_One_off__c}+{!QLICumulativeIndexation}+{!QLIUpcomingIndexation})*{!NewPriceUpliftPercentageOnAccount}/100,
0
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>QLIUpcomingIndexation</name>
        <dataType>Currency</dataType>
        <expression>IF({!upcomingIndexationApplied},
({!Loop_OLIs.Initial_Default_Price_ARR_One_off__c}+{!QLICumulativeIndexation})*{!CurrentIndexationRate}/100,
0
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>quoteName</name>
        <dataType>String</dataType>
        <expression>{!Get_Renewal_Opportunity.Name} + &quot; : &quot; + &quot;Quote &quot;+TEXT({!quoteCount})</expression>
    </formulas>
    <formulas>
        <name>renewalOLI</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Loop_OLIs.Opportunity.Type}) = &apos;Existing Business-Renewal&apos;,
{!Loop_OLIs.Id},&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>updatedQLIDefaultPriceARR</name>
        <dataType>Currency</dataType>
        <expression>IF((TEXT({!Loop_OLIs.Opportunity.Type}) = &apos;Existing Business-Renewal&apos; &amp;&amp; {!Loop_OLIs.For_Renewal__c}) || {!Loop_QLI.Renewal_OLI_ID__c} !=null,
{!Loop_OLIs.Initial_Default_Price_ARR_One_off__c}+{!QLICumulativeIndexation}+{!QLIIndexationThresholdForDefaultPrice},
{!Loop_OLIs.Default_Price_ARR__c}
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>UpdatedQLISalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!updatedQLISalesPriceARR}/12</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>updatedQLISalesPriceARR</name>
        <dataType>Currency</dataType>
        <expression>IF((TEXT({!Loop_OLIs.Opportunity.Type}) = &apos;Existing Business-Renewal&apos; &amp;&amp; {!Loop_OLIs.For_Renewal__c}) || {!Loop_QLI.Renewal_OLI_ID__c} !=null,
{!Loop_OLIs.Initial_Default_Price_ARR_One_off__c}+{!QLICumulativeIndexation}+{!QLIUpcomingIndexation}+{!QLIRenewalUplift},
{!Loop_OLIs.Sales_Price_ARR__c}
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>upsellOLI</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Loop_OLIs.Opportunity.Type}) = &apos;Existing Business-Upsell&apos;,
{!Loop_OLIs.Id},&apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Create Quote from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote from Opportunity</label>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_product_is_added_to_the_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Renewal_Upsell_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_ID_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_QLI</name>
        <label>Loop QLI</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <collectionReference>quoteLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Loop_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Populate_Quote_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Applied_Cumulative_Indexation__c</field>
            <value>
                <elementReference>CumulativeIndexationPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applied_Upcoming_Indexation__c</field>
            <value>
                <elementReference>AppliedUpcomingIndexation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>accountRecord.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>accountRecord.Billing_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>accountRecord.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>accountRecord.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cap_Indexation_Rate__c</field>
            <value>
                <elementReference>CapIndexationRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Account.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.End_date_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Startdate_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Netsuite_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Account.Primary_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Invoice_period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>quoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paymet_Period__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Account.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Uplift_On_Renewal__c</field>
            <value>
                <elementReference>NewPriceUpliftOnAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Uplift_on_Renewal_percentage__c</field>
            <value>
                <elementReference>NewPriceUpliftPercentageOnAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Factors_Applied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waive_Indexation__c</field>
            <value>
                <elementReference>waiveIndexation</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>182</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>Removed_QLI_exists</targetReference>
        </connector>
        <inputReference>quoteLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Removed_QLI</name>
        <label>Create Removed QLI</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <inputReference>removedQLIList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Quotes</name>
        <label>Get Existing Quotes</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OLIs</name>
        <label>Get OLIs</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>OppIdsList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Opportunity_Contract_Upsell__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity</name>
        <label>Get Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Upsell_Opps</name>
        <label>Get Renewal &amp; Upsell Opps</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Startdate_contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Opportunity.Startdate_contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AdditionalModulesARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CapIndexationRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cumulativeIndexationApplied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentIndexationRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>exitQLILoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IndexationThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewCumulativeOnAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewPriceUpliftOnAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPriceUpliftPercentageOnAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OppIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppProductList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLIProdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qlitest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quoteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>removedQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Removed_Quote_line_Item__c</objectType>
    </variables>
    <variables>
        <name>removedQLIList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Removed_Quote_line_Item__c</objectType>
    </variables>
    <variables>
        <name>upcomingIndexationApplied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>upliftApplied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>waiveIndexation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
