metadata/force-app/main/default/flows/Delete_Child_OLIs_with_Parent_OLI_Before_Delete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Children_Collection_Not_Empty</name>
        <label>Children Collection Not Empty?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLIsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Children_OLIs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Child OLIs with Parent OLI - Before Delete Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Child OLIs with Parent OLI - Before Delete Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Children_OLIs</name>
        <label>Delete Children OLIs</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>OLIsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Children</name>
        <label>Get All Children</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Children_Collection_Not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OLIsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Children</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OLIsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
