metadata/force-app/main/default/flows/Lead_Duplication_Warning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_to_Lead_Owner</name>
        <label>Chatter to Lead Owner</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>VarT_LeadID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterToLeadOwner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>var_NewChatterPostId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>First_check_if_SOC_IsNull</name>
        <label>First check if SOC IsNull</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_to_Lead_Owner</targetReference>
            </connector>
            <label>Not_Null</label>
        </rules>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Email_Domain</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Check_if_SOC_IsNull</name>
        <label>Second Check if SOC IsNull</label>
        <locationX>132</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_to_Lead_Owner</targetReference>
            </connector>
            <label>Not_Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Duplication Warning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Duplication Warning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Company</name>
        <label>Check Company</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_check_if_SOC_IsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarT_LeadID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarT_OwnerId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>SOC_Lead</outputReference>
        <queriedFields>Company</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Email_Domain</name>
        <label>Check Email Domain</label>
        <locationX>132</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Check_if_SOC_IsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_Email_Domain</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarT_LeadID</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarT_OwnerId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>SOC_Lead</outputReference>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Company</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterToLeadOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>#[Duplicate Warning]
@[{!VarT_OwnerId}] Other leads of the same company have been detected. Please use the &quot;Find Duplicate&quot; button to check if another sales rep is already working on this company.</text>
    </textTemplates>
    <variables>
        <name>SOC_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_NewChatterPostId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_Email_Domain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
