metadata/force-app/main/default/flows/Lead_BSF_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Annual_Revenue_Range</name>
        <label>Assign Annual Revenue Range</label>
        <locationX>732</locationX>
        <locationY>6335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Est_Annual_Revenue_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clearbit_Annual_Revenue_Range__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Apollo_Revenue_is_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Annual_Revenue_Range_1</name>
        <label>Assign Annual Revenue Range</label>
        <locationX>732</locationX>
        <locationY>6743</locationY>
        <assignmentItems>
            <assignToReference>$Record.Est_Annual_Revenue_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Annual_Revenue_Range_Data_1.Annual_Revenue_Range__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Revenue_field_changed_ISNULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Annual_Revenue_Range_3</name>
        <label>Assign Annual Revenue Range</label>
        <locationX>732</locationX>
        <locationY>7043</locationY>
        <assignmentItems>
            <assignToReference>$Record.Est_Annual_Revenue_Range__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Marketing_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cadence_Completed</name>
        <label>Assign - Cadence Completed</label>
        <locationX>358</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales 3: Nurture</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_Nurtured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unresponsive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Nurture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Unique_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Company_Size_New_field_based_on_Clearbit_Employees</name>
        <label>Assign Company Size New field based on Clearbit Employees</label>
        <locationX>886</locationX>
        <locationY>9203</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Size_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearbitEmployees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opted_out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Partner_Lead_Status_Accepted</name>
        <label>Assign - Current Partner Lead Status Accepted</label>
        <locationX>688</locationX>
        <locationY>3935</locationY>
        <assignmentItems>
            <assignToReference>$Record.FCR_Status_Last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Qualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Qualifier_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_SQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_First_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Partner_Lead_Status_Rejected</name>
        <label>Assign - Current Partner Lead Status Rejected</label>
        <locationX>952</locationX>
        <locationY>3935</locationY>
        <assignmentItems>
            <assignToReference>$Record.FCR_Status_Last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U0000002Yo5Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_Unqualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Partner Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unqualifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_First_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CW_Trial_Start_Date</name>
        <label>Assign CW Trial Start Date</label>
        <locationX>886</locationX>
        <locationY>8903</locationY>
        <assignmentItems>
            <assignToReference>$Record.CW_Trial_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Clearbit_Employee_field_is_Not_Null_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Bounced</name>
        <label>Assign - Email Bounced</label>
        <locationX>622</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_Unqualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bad Data</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U0000002Yo5Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unqualifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmUnqualifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Unique_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Est_Annual_Revenue_Range</name>
        <label>Assign Est. Annual Revenue Range</label>
        <locationX>732</locationX>
        <locationY>6035</locationY>
        <assignmentItems>
            <assignToReference>$Record.Est_Annual_Revenue_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Est_Annual_Revenue_Range_Data.Annual_Revenue_Range__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Clearbit_Annual_Revenue_Range_is_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_AE</name>
        <label>Assign - First AE</label>
        <locationX>886</locationX>
        <locationY>4619</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOwnerFirstLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Partner_Account_Form_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Lead_Owner</name>
        <label>Assign - First Lead Owner</label>
        <locationX>886</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Lead_Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmFirstLeadOwnerTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Lead_Owner_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTimestampFirstLeadOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Lead_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOwnerFirstLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_First_AE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Got_MQLed</name>
        <label>Assign - Lead Got MQLed</label>
        <locationX>886</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MQLTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentMQL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimestampMostRecentMQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_of_time_MQL_ed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Owner_Timestamp</name>
        <label>Assign - Lead Owner Timestamp</label>
        <locationX>886</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Owner_Change_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Madkudu_Scoring_Custom_Meta_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Status_Is_Changed</name>
        <label>Assign - Lead Status Is Changed</label>
        <locationX>886</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.FCR_Status_Last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Status_Is_Changed_Current_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MQL_Fields_without_Timestamp_MQL</name>
        <label>Assign - MQL Fields without Timestamp MQL</label>
        <locationX>688</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentMQL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimestampMostRecentMQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_of_time_MQL_ed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MQL_Recent_Source</name>
        <label>Assign - MQL Recent Source</label>
        <locationX>886</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Partner_Lead_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MQL_Stamped</name>
        <label>Assign - MQL Stamped</label>
        <locationX>952</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentMQL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Most_Recent_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimestampMostRecentMQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_of_time_MQL_ed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nurture</name>
        <label>Assign - Nurture</label>
        <locationX>1414</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_Nurture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Unique_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_time_MQL_ed</name>
        <label>Assign # of time MQL&apos;ed</label>
        <locationX>820</locationX>
        <locationY>2819</locationY>
        <assignmentItems>
            <assignToReference>$Record.of_times_MQL_ed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ofTimesMQLed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Lead_Got_MQLed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_time_MQL_ed_0</name>
        <label>Assign # of time MQL&apos;ed</label>
        <locationX>886</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>$Record.of_times_MQL_ed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ofTimesMQLed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Customer_Fit_score_70_Lead_Engagement_score_50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Account_Form_Populated</name>
        <label>Assign - Partner Account Form Populated</label>
        <locationX>886</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmPartnerAccountForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Lead_via_AppExchange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prospect_Intent_Stage_Timestamp</name>
        <label>Assign Prospect Intent Stage Timestamp</label>
        <locationX>886</locationX>
        <locationY>5519</locationY>
        <assignmentItems>
            <assignToReference>$Record.SFMC_Prospect_Intent_Stage_Last_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Revenue_fields_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Qualified</name>
        <label>Assign - Qualified</label>
        <locationX>1150</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Qualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Qualifier_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Timestamp_SQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Unique_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Replace_Lead_Source</name>
        <label>Assign - Replace Lead Source</label>
        <locationX>886</locationX>
        <locationY>5219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmPartnerAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmLeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partnerships</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Prospect_Intent_Stage_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Behavioral_Marketing</name>
        <label>Assign Source - Behavioral Marketing</label>
        <locationX>886</locationX>
        <locationY>8603</locationY>
        <assignmentItems>
            <assignToReference>$Record.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Behavioral Marketing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CW_Trial_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>BODEV-2363</description>
        <name>Assign_Source_Outbound</name>
        <label>Assign Source &quot;Outbound&quot;</label>
        <locationX>886</locationX>
        <locationY>8303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Source_Bynder_Marketplace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_logged_and_status_is_M1_M3_or_S1</name>
        <label>Assign - Task logged and status is M1 M3 or S1</label>
        <locationX>886</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales 2: Prospecting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Lead_Owner_Timestamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_timestamp</name>
        <label>Assign timestamp</label>
        <locationX>886</locationX>
        <locationY>9803</locationY>
        <assignmentItems>
            <assignToReference>$Record.SFMC_Subscriber_BynderWebdam_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscribed_back</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unique_Opportunity</name>
        <label>Assign - Unique Opportunity</label>
        <locationX>886</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unique_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Task_Logged_and_Status_is_M1_M3_or_S1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unqualified</name>
        <label>Assign - Unqualified</label>
        <locationX>886</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005U0000002Yo5Y</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unqualifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmUnqualifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Unique_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opt_in_back</name>
        <label>Opt in back</label>
        <locationX>886</locationX>
        <locationY>10103</locationY>
        <assignmentItems>
            <assignToReference>$Record.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Marketing_Source_Detailed_Organic</name>
        <label>Set Marketing Source &amp; Detailed - Organic</label>
        <locationX>314</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Organic_ReviewSitesSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source_Detailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MktSourceDetailed_Organic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_Source_Detailed_Paid_Search</name>
        <label>Set Marketing Source &amp; Detailed - Paid Search</label>
        <locationX>50</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source_Detailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MktSourceDetailed_PaidSearch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_Source_Detailed_Paid_Social</name>
        <label>Set Marketing Source &amp; Detailed - Paid Social</label>
        <locationX>1370</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Social</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source_Detailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MktSourceDetailed_Social</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_Source_Detailed_Social</name>
        <label>Set Marketing Source &amp; Detailed - Social</label>
        <locationX>1106</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social Organic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source_Detailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MktSourceDetailed_Social</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Marketing_Source_Detailed_Social_0</name>
        <label>Set Marketing Source &amp; Detailed - Social</label>
        <locationX>842</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Sites</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source_Detailed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MktSourceDetailed_ReviewSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Direct</name>
        <label>Set to Direct</label>
        <locationX>578</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unsubscribe_lead</name>
        <label>Unsubscribe lead</label>
        <locationX>886</locationX>
        <locationY>9503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SFMC_Subscriber_BynderWebdam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_and_subscribed_OR_changed_subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_Paid_Referral</name>
        <label>Update to Paid Referral</label>
        <locationX>1634</locationX>
        <locationY>7643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Referral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_point_of_Assignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bizible_Person_Not_Null</name>
        <label>Bizible Person Not Null</label>
        <locationX>270</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Bypass_Automations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Person</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bizible_Touchpoint_Record</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bizible_Touchpoint_Not_Null</name>
        <label>Bizible Touchpoint Not Null</label>
        <locationX>1524</locationX>
        <locationY>7427</locationY>
        <defaultConnector>
            <targetReference>End_point_of_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Bizible_Touchpoint_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Marketing_Channel</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_Automations</name>
        <label>Bypass Automations?</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Decision_Status_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBypassUserID</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CW_Trial_dates</name>
        <label>Check - CW Trial dates</label>
        <locationX>1018</locationX>
        <locationY>8795</locationY>
        <defaultConnector>
            <targetReference>Decision_Clearbit_Employee_field_is_Not_Null_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CW_Trial_Start_date</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CW_Account_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CW_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CW_Trial_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CW_Trial_Start_Date</targetReference>
            </connector>
            <label>CW Trial Start date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Source_Bynder_Marketplace</name>
        <label>Check - Lead Source &apos;Bynder Marketplace&apos;</label>
        <locationX>1018</locationX>
        <locationY>8495</locationY>
        <defaultConnector>
            <targetReference>Check_CW_Trial_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bynder_Marketplace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bynder Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Behavioral Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_Behavioral_Marketing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Bynder Marketplace</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Marketing Channel from First-Touch Bizible event</description>
        <name>Check_Marketing_Channel</name>
        <label>Check Marketing Channel</label>
        <locationX>974</locationX>
        <locationY>7535</locationY>
        <defaultConnector>
            <targetReference>End_point_of_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Search</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Source_Detailed_Paid_Search</targetReference>
            </connector>
            <label>Paid Search</label>
        </rules>
        <rules>
            <name>Organic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organic Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partnerships</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Source_Detailed_Organic</targetReference>
            </connector>
            <label>Organic</label>
        </rules>
        <rules>
            <name>Direct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Direct</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
        <rules>
            <name>X3rd_Party_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Party Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Source_Detailed_Social_0</targetReference>
            </connector>
            <label>3rd Party Review</label>
        </rules>
        <rules>
            <name>Social</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Source_Detailed_Social</targetReference>
            </connector>
            <label>Social</label>
        </rules>
        <rules>
            <name>Paid_Social</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Social</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Marketing_Source_Detailed_Paid_Social</targetReference>
            </connector>
            <label>Paid Social</label>
        </rules>
        <rules>
            <name>Paid_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Paid_Referral</targetReference>
            </connector>
            <label>Paid Referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Marketing_Source</name>
        <label>Check Marketing Source</label>
        <locationX>1018</locationX>
        <locationY>7319</locationY>
        <defaultConnector>
            <targetReference>Decision_Lead_Source_Clari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketing_Source_Unassessed_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unassessed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Bizible_Touchpoint_Not_Null</targetReference>
            </connector>
            <label>Marketing Source Unassessed Updated</label>
        </rules>
        <rules>
            <name>Is_the_current_Marketing_Source_a_wrong_old_value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPC - Adwords</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPC - Bing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPC - Capterra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPC - Display</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPC - G2Crowd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Instagram</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Linkedin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Social other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Twitter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Youtube</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral sites</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social - unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Typeform Quiz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drift Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid - Xing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bizible_Touchpoint_Not_Null</targetReference>
            </connector>
            <label>Is the current Marketing Source a wrong/old value?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Apollo_Revenue_is_NULL</name>
        <label>Decision - Apollo Revenue is NULL?</label>
        <locationX>864</locationX>
        <locationY>6527</locationY>
        <defaultConnector>
            <targetReference>Decision_Revenue_field_changed_ISNULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apollo_Revenue_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apollo_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue_Range__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Annual_Revenue_Range_Data_1</targetReference>
            </connector>
            <label>Apollo Revenue Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Replaces the &quot;Activity Score = 400 or greater&quot; node in the &quot;Main Process Lead&quot; PB</description>
        <name>Decision_Check_Madkudu_Customer_Fit_Lead_Engagement_Score</name>
        <label>Decision - Check Madkudu Customer Fit/Lead Engagement Score</label>
        <locationX>1018</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Decision_Lead_Got_MQLed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Pardot_Score_50_Greater</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND (4 OR 5) AND (6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Customer_Fit_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Customer_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Lead_Engagement_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Lead_Engagement_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Customer_Fit_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MK_Customer_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Lead_Engagement_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MK_Lead_Engagement_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MK_Customer_Fit_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Customer_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MK_Lead_Engagement_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Lead_Engagement_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Check_Timestamp_MQL_Stamped</targetReference>
            </connector>
            <label>Yes - Score Greater than 400</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_Timestamp_MQL_Stamped</name>
        <label>Decision - Check Timestamp MQL Stamped</label>
        <locationX>820</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Assign_MQL_Stamped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Timestamp MQL Not Stamped</defaultConnectorLabel>
        <rules>
            <name>Yes_Timestamp_MQL_Stamped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Timestamp_MQL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MQL_Fields_without_Timestamp_MQL</targetReference>
            </connector>
            <label>Yes - Timestamp MQL Stamped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Clearbit_Annual_Revenue_is_NULL</name>
        <label>Decision - Clearbit Annual Revenue is NULL?</label>
        <locationX>864</locationX>
        <locationY>5819</locationY>
        <defaultConnector>
            <targetReference>Decision_Clearbit_Annual_Revenue_Range_is_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clearbit_Annual_Revenue_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Est_Annual_Revenue_Range_Data</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Clearbit Annual Revenue Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Clearbit_Annual_Revenue_Range_is_NULL</name>
        <label>Decision - Clearbit Annual Revenue Range is NULL?</label>
        <locationX>864</locationX>
        <locationY>6227</locationY>
        <defaultConnector>
            <targetReference>Decision_Apollo_Revenue_is_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clearbit_Annual_Revenue_Range_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue_Range__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Annual_Revenue_Range</targetReference>
            </connector>
            <label>Clearbit Annual Revenue Range Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Clearbit_Employee_field_is_Not_Null_Changed</name>
        <label>Decision - Clearbit Employee field is Not Null/Changed</label>
        <locationX>1018</locationX>
        <locationY>9095</locationY>
        <defaultConnector>
            <targetReference>Opted_out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clearbit_Employee_field_is_Not_Null_Changed</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cbit_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cbit_Employees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Size_New_field_based_on_Clearbit_Employees</targetReference>
            </connector>
            <label>Clearbit Employee field is Not Null/Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Customer_Fit_score_70_Lead_Engagement_score_50</name>
        <label>Decision - Customer Fit score &lt;70 &amp; Lead Engagement score &lt;50</label>
        <locationX>1018</locationX>
        <locationY>3419</locationY>
        <defaultConnector>
            <targetReference>Decision_Partner_Lead_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Customer_Fit_score_70_Lead_Engagement_score_50</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MK_Customer_Fit_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Customer_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Lead_Engagement_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Lead_Engagement_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Customer_Fit_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MK_Customer_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MK_Lead_Engagement_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MK_Lead_Engagement_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MK_Customer_Fit_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Customer_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MK_Lead_Engagement_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Lead_Engagement_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MQL_Recent_Source</targetReference>
            </connector>
            <label>Yes - Customer Fit score &lt;70 &amp; Lead Engagement score &lt;50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_First_Lead_Owner</name>
        <label>Decision - First Lead Owner?</label>
        <locationX>1018</locationX>
        <locationY>4211</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_First_AE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_First_Lead_Owner</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 9) AND (8 OR (10 AND 11)) AND 12</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2018-01-17T23:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bynder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Seignette</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Furneaux</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000002Yo5YIAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P000007hH92</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Lead_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Active_BDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Sales_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partnerships</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Lead_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Lead_Owner</targetReference>
            </connector>
            <label>Yes - First Lead Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Replaces the &quot;Drift lead got MQLed&quot; node in the &quot;Main Process Lead&quot; PB
Removed the condition to check for drift leads.</description>
        <name>Decision_Lead_Got_MQLed</name>
        <label>Decision - Lead Got MQLed</label>
        <locationX>1018</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>Decision_Customer_Fit_score_70_Lead_Engagement_score_50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Got_MQLed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Got_MQLed</targetReference>
            </connector>
            <label>Yes - Lead Got MQLed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Lead_Owner_Timestamp</name>
        <label>Decision - Lead Owner Timestamp</label>
        <locationX>1018</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Get_Madkudu_Scoring_Custom_Meta_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Owner_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000002Yo5Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Owner_Timestamp</targetReference>
            </connector>
            <label>Yes - Lead Owner Timestamp</label>
        </rules>
    </decisions>
    <decisions>
        <description>BODEV-2363: Update Source to &quot;Outbound&quot; when Lead Source is &quot;Clari&quot;</description>
        <name>Decision_Lead_Source_Clari</name>
        <label>Decision - Lead Source Clari?</label>
        <locationX>1018</locationX>
        <locationY>8195</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Source_Bynder_Marketplace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_is_Clari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clari</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_Outbound</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lead Source is Clari</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Lead_via_AppExchange</name>
        <label>Decision - Lead via AppExchange?</label>
        <locationX>1018</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Decision_Prospect_Intent_Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_via_AppExchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frmSFDCSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Replace_Lead_Source</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Lead via AppExchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Partner_Account_Form_Populated</name>
        <label>Decision - Partner Account Form Populated?</label>
        <locationX>1018</locationX>
        <locationY>4811</locationY>
        <defaultConnector>
            <targetReference>Decision_Lead_via_AppExchange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_partner_Account_Form_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SF_connector_in_partner_account_form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Account_Form_Populated</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - partner Account Form Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Replaces the &quot; Partner Lead Status&quot; node in the &quot;Main Process Lead&quot; PB</description>
        <name>Decision_Partner_Lead_Status</name>
        <label>Decision - Partner Lead Status</label>
        <locationX>1018</locationX>
        <locationY>3719</locationY>
        <defaultConnector>
            <targetReference>Decision_First_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Lead_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Lead_Acceptance_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Lead_Acceptance_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Partner_Lead_Status_Accepted</targetReference>
            </connector>
            <label>Yes - Partner Lead Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Partner_Lead_Status_Accepted</name>
        <label>Decision - Partner Lead Status Accepted</label>
        <locationX>820</locationX>
        <locationY>3827</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Partner_Lead_Status_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Partner Lead Status Rejected</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Lead_Status_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Lead_Acceptance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Partner_Lead_Status_Accepted</targetReference>
            </connector>
            <label>Yes - Partner Lead Status Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Prospect_Intent_Stage_Changed</name>
        <label>Decision - Prospect Intent Stage Changed?</label>
        <locationX>1018</locationX>
        <locationY>5411</locationY>
        <defaultConnector>
            <targetReference>Decision_Revenue_fields_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFMC_Prospect_Intent_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prospect_Intent_Stage_Timestamp</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Revenue_field_changed_ISNULL</name>
        <label>Decision - Revenue field changed &amp; ISNULL</label>
        <locationX>864</locationX>
        <locationY>6935</locationY>
        <defaultConnector>
            <targetReference>Check_Marketing_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revenue_field_changed_ISNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue_Range__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apollo_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Annual_Revenue_Range_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Revenue field changed &amp; ISNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Revenue_fields_populated</name>
        <label>Decision - Revenue fields populated?</label>
        <locationX>1018</locationX>
        <locationY>5711</locationY>
        <defaultConnector>
            <targetReference>Check_Marketing_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fields_populated</name>
            <conditionLogic>(1 AND (2 OR 3 OR 6)) OR 4 OR 5 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue_Range__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apollo_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue_Range__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apollo_Revenue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Annual_Revenue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Clearbit_Annual_Revenue_is_NULL</targetReference>
            </connector>
            <label>Yes - Fields populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Replaces all of the Status Change related processes in Main Process: Leads</description>
        <name>Decision_Status_Is_Changed</name>
        <label>Decision - Status Is Changed</label>
        <locationX>1018</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Decision_Status_Is_Changed_Current_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Status_Is_Changed</targetReference>
            </connector>
            <label>Yes - Status Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Status_Is_Changed_Current_Status</name>
        <label>Decision - Status Is Changed Current Status</label>
        <locationX>1018</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Decision_Unique_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Cadence_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed Cadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cadence_Completed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Cadence Completed</label>
        </rules>
        <rules>
            <name>Yes_Email_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Bounced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Bounced</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Email Bounced</label>
        </rules>
        <rules>
            <name>Yes_Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unqualified</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Unqualified</label>
        </rules>
        <rules>
            <name>Yes_Sales_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Qualifier_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Qualified</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Sales Qualified</label>
        </rules>
        <rules>
            <name>Yes_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales 3: Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nurture</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Nurture</label>
        </rules>
    </decisions>
    <decisions>
        <description>Replaces the &quot;Task is logged and status is m1, m3, or s1&quot; node in the &quot;Main Process Lead&quot; PB</description>
        <name>Decision_Task_Logged_and_Status_is_M1_M3_or_S1</name>
        <label>Decision - Task Logged and Status is M1 M3 or S1</label>
        <locationX>1018</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Decision_Lead_Owner_Timestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_Logged_Status_M1_M3_S1</name>
            <conditionLogic>(1 or 3 or 4) and 2 and 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing 1: Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR_Completed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing 2: Marketing Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales 1: Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000002Yo5Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_logged_and_status_is_M1_M3_or_S1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Task Logged Status M1 M3 S1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Unique_Opportunity</name>
        <label>Decision - Unique Opportunity</label>
        <locationX>1018</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Decision_Task_Logged_and_Status_is_M1_M3_or_S1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Unique_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unique_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unique_Opportunity</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Unique Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_First_AE</name>
        <label>Decision - Update First AE?</label>
        <locationX>1018</locationX>
        <locationY>4511</locationY>
        <defaultConnector>
            <targetReference>Decision_Partner_Account_Form_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_First_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_AE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2018-10-02T22:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P000007hY8C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P000007hY8C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_AE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Update First AE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Just an end point node to assemble flows from the assignment actions.</description>
        <name>End_point_of_Assignments</name>
        <label>End point of Assignments</label>
        <locationX>1524</locationX>
        <locationY>7919</locationY>
        <defaultConnector>
            <targetReference>Decision_Lead_Source_Clari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Always_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Lead_Source_Clari</targetReference>
            </connector>
            <label>Always True</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_and_subscribed_OR_changed_subscription</name>
        <label>New and subscribed OR changed subscription?</label>
        <locationX>1018</locationX>
        <locationY>9695</locationY>
        <defaultConnector>
            <targetReference>Subscribed_back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_subscribed_or_changed</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>frmISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFMC_Subscriber_BynderWebdam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFMC_Subscriber_BynderWebdam__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_timestamp</targetReference>
            </connector>
            <label>Yes, subscribed or changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opted_out</name>
        <label>Opted out?</label>
        <locationX>1018</locationX>
        <locationY>9395</locationY>
        <defaultConnector>
            <targetReference>New_and_subscribed_OR_changed_subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_opted_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFMC_Subscriber_BynderWebdam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unsubscribe_lead</targetReference>
            </connector>
            <label>Yes, opted out</label>
        </rules>
    </decisions>
    <decisions>
        <description>A lead who previously opted out signed up again. Now the Email opt out flag should become FALSE</description>
        <name>Subscribed_back</name>
        <label>Subscribed back?</label>
        <locationX>1018</locationX>
        <locationY>9995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_subscribed_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFMC_Subscriber_BynderWebdam__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFMC_Subscriber_BynderWebdam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_in_back</targetReference>
            </connector>
            <label>Yes, subscribed back</label>
        </rules>
    </decisions>
    <description>BODEV-4481 Additional revenue fields on the Lead and Account objects
Updated to flow to calculate the Revenue Range</description>
    <environments>Default</environments>
    <formulas>
        <name>ClearbitEmployees</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.cbit_Employees__c} &lt;= 30, &quot;Micro&quot;,
	IF({!$Record.cbit_Employees__c} &lt; 250, &quot;SMB&quot;,
		IF({!$Record.cbit_Employees__c} &gt;= 250 &amp;&amp; {!$Record.cbit_Employees__c} &lt;= 999, &quot;MM - Small&quot;,
			IF({!$Record.cbit_Employees__c} &gt;= 1000 &amp;&amp; {!$Record.cbit_Employees__c} &lt;= 2499, &quot;MM - Large&quot;,
				IF({!$Record.cbit_Employees__c} &gt;= 2500 &amp;&amp; {!$Record.cbit_Employees__c} &lt;= 14999, &quot;Enterprise&quot;,
					IF({!$Record.cbit_Employees__c} &gt;= 15000 , &quot;Strategic&quot;,
						 NULL)))))
)</expression>
    </formulas>
    <formulas>
        <name>frmBypassUserID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Process_Bypass_User}</expression>
    </formulas>
    <formulas>
        <name>frmFirstLeadOwnerTeam</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Owner:User.Sales_Team__c} ==&apos;Partnerships&apos;,null,TEXT({!$Record.Owner:User.BDR_Team__c}))</expression>
    </formulas>
    <formulas>
        <name>frmISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>frmLeadSource</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFMC_Partner_Source}),&apos;AppExchange - Marketing Cloud&apos;,
IF(CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFCC_Partner_Source}),&apos;AppExchange - Commerce Cloud&apos;,
&apos;AppExchange - LWC&apos;))</expression>
    </formulas>
    <formulas>
        <name>frmOwnerFirstLastName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Owner:User.Sales_Team__c} ==&apos;Partnerships&apos;,null,{!$Record.Owner:User.FirstName}&amp;&quot; &quot;&amp;{!$Record.Owner:User.LastName})</expression>
    </formulas>
    <formulas>
        <name>frmPartnerAccount</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFMC_Partner_Source}),{!$Label.SFMC_Salesforce_Account_Record_ID},
IF(CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFLWC_Partner_Source}),{!$Label.SFLWC_Salesforce_Account_Record_ID},
{!$Label.SFCC_Salesforce_Account_Record_ID}))</expression>
    </formulas>
    <formulas>
        <name>frmPartnerAccountForm</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.SF_connector_in_partner_account_form__c})=&apos;Marketing Cloud&apos;,{!$Label.SFMC_Salesforce_Account_Record_ID},IF(TEXT({!$Record.SF_connector_in_partner_account_form__c})=&apos;Commerce Cloud&apos;,{!$Label.SFCC_Salesforce_Account_Record_ID},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>frmSFDCSource</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFCC_Partner_Source}) || CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFMC_Partner_Source})
|| CONTAINS(TEXT({!$Record.LeadSource}),{!$Label.SFLWC_Partner_Source})
,true,false)</expression>
    </formulas>
    <formulas>
        <name>frmTimestampFirstLeadOwner</name>
        <dataType>DateTime</dataType>
        <expression>IF({!$Record.Owner:User.Sales_Team__c} ==&apos;Partnerships&apos;,null,NOW())</expression>
    </formulas>
    <formulas>
        <name>frmUnqualifier</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$Record.OwnerId},3) = &quot;005&quot; &amp;&amp; {!$Record.Unqualifier__c} == null,{!$Record.OwnerId},{!$Record.Unqualifier__c})</expression>
    </formulas>
    <formulas>
        <name>MarketingSourceNew</name>
        <dataType>String</dataType>
        <expression>/* Map the marketing source based on Marketing Channel (FT) on leads   */

Case({!$Record.bizible2__Marketing_Channel_FT__c},
           &quot;Paid Search&quot;, &quot;Paid Search&quot;,
             &quot;Direct&quot;, &quot;Direct&quot;,
             &quot;Email&quot;, &quot;Direct&quot;,
              &quot;3rd Party Review&quot;, &quot;Review Sites&quot;,
               &quot;Social&quot;, &quot;Social Organic&quot;,
               &quot;Paid Social&quot;, &quot;Paid Social&quot;,
               &quot;Paid Referral&quot;, &quot;Paid Referral&quot;,
               &quot;Organic Search&quot;, {!Organic_ReviewSitesSource},
                &quot;Web Referral&quot;, {!Organic_ReviewSitesSource},
                &quot;Partnerships&quot;, {!Organic_ReviewSitesSource},
                 &quot;Other&quot;, {!Organic_ReviewSitesSource},
               TEXT({!$Record.Marketing_Source__c})
 )</expression>
    </formulas>
    <formulas>
        <name>MktSourceDetailed_Organic</name>
        <dataType>String</dataType>
        <expression>IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Google&quot;),
          &quot;Google&quot;,
          IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Yahoo&quot;),
                    &quot;Yahoo&quot;,
                     IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Bing&quot;),
                               &quot;Bing&quot;,
                                IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;G2&quot;),
                                          &quot;G2&quot;,
                                           IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;dpm&quot;),
                                                        &quot;DPM&quot;,
                                                         IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Crozdesk&quot;),
                                                                  &quot;Crozdesk&quot;,
                                                                    IF({!Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c} = &quot;Web Referral&quot; || 
                                                                          {!Get_Bizible_Touchpoint_Record.bizible2__Marketing_Channel__c} = &quot;Partnerships&quot;,
                                                                                &quot;Referral&quot;, &quot;Organic other&quot;
                                                                  )
                                                             )
                                               )
                                    )
                         )
              )
    )</expression>
    </formulas>
    <formulas>
        <name>MktSourceDetailed_PaidSearch</name>
        <dataType>String</dataType>
        <expression>IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Google&quot;),
          &quot;Google Ads&quot;,
          IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Bing&quot;),
                    &quot;Bing Ads&quot;,
                     IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Display&quot;),
                               &quot;Display&quot;,
                                &quot;Paid other&quot;
                         )
              )
    )</expression>
    </formulas>
    <formulas>
        <name>MktSourceDetailed_ReviewSites</name>
        <dataType>String</dataType>
        <expression>IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Capterra&quot;) || 
     Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Gartner&quot;),
          &quot;Capterra&quot;,
          IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Getapp&quot;),
                    &quot;Getapp&quot;,
                     IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Softwareadvice&quot;) ||
                          Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Software Advice&quot;),
                               &quot;SoftwareAdvice&quot;,
                                IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;SourceForge&quot;) || 
                                     Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Source Forge&quot;),
                                          &quot;SourceForge&quot;,
                                           IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;DPM&quot;),
                                                        &quot;DPM&quot;,
                                                         IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Trustradius&quot;),
                                                                  &quot;Trustradius&quot;,
                                                     IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Customer&quot;),&quot;FeaturedCustomers&quot;,
                                                IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;OMR&quot;), &quot;OMR&quot;,
                                          IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;G2&quot;), &quot;G2&quot;,
                                   IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Crozdesk&quot;), &quot;Crozdesk&quot;,
                             IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Software Technology&quot;) || Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;SoftwareTechnology&quot;), &quot;Software Technology&quot;,
                       IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Technology Advice&quot;) || Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;TechnologyAdvice&quot;), &quot;Technology Advice&quot;,
               IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Software Reviews&quot;) || Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Softwarereviews&quot;),
                                                                                                                           &quot;Software reviews&quot;,
        IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Softwareselect&quot;) || Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Software select&quot;),
                                                                                                                                &quot;SoftwareSelect&quot;, &quot;&quot;

 )
   )
     )
       )  
         )
           )
             ) 
                )
                  )
                    )
                      )
                         )
              )
    )</expression>
    </formulas>
    <formulas>
        <name>MktSourceDetailed_Social</name>
        <dataType>String</dataType>
        <expression>IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;LinkedIn&quot;),
          &quot;LinkedIn&quot;,
          IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Facebook&quot;),
                    &quot;Facebook&quot;,
                     IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Instagram&quot;),
                               &quot;Instagram&quot;,
                                IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Youtube&quot;),
                                          &quot;Youtube&quot;,
                                           IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Twitter&quot;),
                                                        &quot;Twitter&quot;,
                                                         IF(Contains({!Get_Bizible_Touchpoint_Record.bizible2__Touchpoint_Source__c},&quot;Xing&quot;),
                                                                  &quot;Xing&quot;,
                                                                  &quot;Social other&quot;
                                                             )
                                               )
                                    )
                         )
              )
    )</expression>
    </formulas>
    <formulas>
        <name>MostRecentMQL</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISCHANGED({!$Record.Most_Recent_MQL__c})),(OR(ISNULL({!$Record.Timestamp_Most_Recent_MQL__c}),{!$Flow.CurrentDateTime} -{!$Record.Timestamp_Most_Recent_MQL__c} &gt; {!Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Regression__c}))),TRUE,{!$Record.Most_Recent_MQL__c})</expression>
    </formulas>
    <formulas>
        <name>MQLTimestamp</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!$Record.Timestamp_MQL__c}),
            {!$Flow.CurrentDateTime},
             {!$Record.Timestamp_MQL__c}
)</expression>
    </formulas>
    <formulas>
        <name>ofTimesMQLed</name>
        <dataType>Number</dataType>
        <expression>IF(
ISCHANGED({!$Record.of_times_MQL_ed__c}),{!TMQLed},
IF(
OR(
ISNULL({!$Record__Prior.Timestamp_Most_Recent_MQL__c}),
{!$Flow.CurrentDateTime} - IF(ISCHANGED({!$Record.Timestamp_Most_Recent_MQL__c}),{!$Record__Prior.Timestamp_Most_Recent_MQL__c},{!$Record.Timestamp_Most_Recent_MQL__c})&gt;{!Get_Madkudu_Scoring_Custom_Meta_Data.Madkudu_Regression__c}
),
{!TMQLed} + 1,
{!TMQLed}
)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Organic_ReviewSitesSource</name>
        <dataType>String</dataType>
        <expression>/* Map the marketing source based on touch point source in leads */
IF(CONTAINS({!$Record.bizible2__Touchpoint_Source_FT__c},&quot;G2&quot;) ||
     CONTAINS({!$Record.bizible2__Touchpoint_Source_FT__c},&quot;DPM&quot;) ||
      CONTAINS({!$Record.bizible2__Touchpoint_Source_FT__c},&quot;Crozdesk&quot;),
           &quot;Review Sites&quot;,
           &quot;Organic&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SourceNULL</name>
        <dataType>Boolean</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>TimesMQLed</name>
        <dataType>Number</dataType>
        <expression>IF(ISCHANGED({!$Record.of_times_MQL_ed__c}),{!TMQLed},{!TMQLed}+ 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Timestamp</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TimestampMostRecentMQL</name>
        <dataType>DateTime</dataType>
        <expression>IF({!$Record.Most_Recent_MQL__c} = TRUE,{!$Flow.CurrentDateTime}, {!$Record.Timestamp_Most_Recent_MQL__c})</expression>
    </formulas>
    <formulas>
        <name>TimestampNULL</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>TMQLed</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.of_times_MQL_ed__c}),0,{!$Record.of_times_MQL_ed__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead [BSF] Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead [BSF] Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Annual_Revenue_Range_Data_1</name>
        <label>Get Annual Revenue Range Data</label>
        <locationX>732</locationX>
        <locationY>6635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Annual_Revenue_Range_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Min_Revenue__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Apollo_Revenue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Revenue__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Apollo_Revenue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Annual_Revenue_Range__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bizible_Person</name>
        <label>Get Bizible Person</label>
        <locationX>270</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bizible_Person_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bizible2__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bizible2__Bizible_Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bizible_Touchpoint_Record</name>
        <label>Get Bizible Touchpoint Record</label>
        <locationX>138</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bypass_Automations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bizible2__Bizible_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bizible_Person.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>bizible2__Touchpoint_Position__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bizible2__Bizible_Touchpoint__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>bizible2__Marketing_Channel__c</queriedFields>
        <queriedFields>bizible2__Touchpoint_Source__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Est_Annual_Revenue_Range_Data</name>
        <label>Get Est. Annual Revenue Range Data</label>
        <locationX>732</locationX>
        <locationY>5927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Est_Annual_Revenue_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Min_Revenue__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Clearbit_Annual_Revenue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Revenue__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Clearbit_Annual_Revenue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Annual_Revenue_Range__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Madkudu_Scoring_Custom_Meta_Data</name>
        <label>Get Madkudu Scoring Custom Meta Data</label>
        <locationX>1018</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Check_Madkudu_Customer_Fit_Lead_Engagement_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Madkudu Score</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Madkudu_Scoring__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bizible_Person</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
