metadata/force-app/main/default/flows/On_Delete_Quote_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_RQLI_To_Collection</name>
        <label>Add Child RQLI To Collection</label>
        <locationX>666</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>RQLIsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_New_RQLI_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_RQLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parent_QLI_To_Collection</name>
        <label>Add Parent QLI To Collection</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>RQLIsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_RQLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_RQLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Already_in_RQLIs</name>
        <label>Child Already in RQLIs</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Create_New_RQLI_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Child_Already_in_RQLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Childs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Current_RQLIs.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Childs.Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Current_RQLIs.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Childs.Sales_Price_ARR_One_off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Current_RQLIs.Sales_Price_ARR_One_off__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Current_RQLIs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Solution</name>
        <label>Parent Solution?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Create_RQLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Parent_Solution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.of_Additional_limit_products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_RQLIs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>On Delete - Quote Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Delete - Quote Line Item</label>
    <loops>
        <name>Loop_Childs</name>
        <label>Loop Childs</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Child_QLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Current_RQLIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RQLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Current_RQLIs</name>
        <label>Loop Current RQLIs</label>
        <locationX>402</locationX>
        <locationY>719</locationY>
        <collectionReference>Get_Current_RQLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Child_Already_in_RQLIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Childs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_RQLI</name>
        <label>Create New RQLI</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <inputReference>RQLIsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_QLIs</name>
        <label>Get Child QLIs</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Childs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Solution_Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_RQLIs</name>
        <label>Get Current RQLIs</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Removed_Quote_line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Solution</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Renewal_OLI_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_New_RQLI_Variable</name>
        <label>Create New RQLI Variable</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Add_Child_RQLI_To_Collection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Removed_Quote_line_Item__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Base_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Base_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cumulative_Indexation_Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Cumulative_Indexation_Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CurrencyIsoCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.CurrencyIsoCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Default_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Default_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>For_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.For_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Initial_Default_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Initial_Default_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Part_of_Min_Commit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Part_of_Min_Commit__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Part_of_Package__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Part_of_Package__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Change__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Price_Change__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Book_Entry_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Pricing_Factors_to_be_Applied__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Pricing_Factors_to_be_Applied__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Category__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Product_Category__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Family__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Product_Family__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quote__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.QuoteId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Recurring_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Recurring_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_OLI_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Renewal_OLI_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Uplift_Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Renewal_Uplift_Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sales_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Sales_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Swap_Item__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Swap_Item__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Upsell_OLI_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Upsell_OLI_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>List_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Solution_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Childs.Parent_Solution_Product__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_RQLI</name>
        <label>Create RQLI</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Add_Parent_QLI_To_Collection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Removed_Quote_line_Item__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Default_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Default_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cumulative_Indexation_Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Cumulative_Indexation_Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AVA_SFCLOUD_SalesTax_Details__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.AVA_SFCLOUD_Sales_Tax_Details__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AVA_SFCLOUD_SalesTax_Rate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.AVA_SFCLOUD_Sales_Tax_Rate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AVA_SFCLOUD_SalesTax_Line__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.AVA_SFCLOUD_SalesTax_Line__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AVA_SFCLOUD_Tax_Override__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.AVA_SFCLOUD_Tax_Override__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Base_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Base_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CurrencyIsoCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.CurrencyIsoCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>For_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.For_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Initial_Default_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Initial_Default_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>List_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Part_of_Min_Commit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Part_of_Min_Commit__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Part_of_Package__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Part_of_Package__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Book_Entry_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Change__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Price_Change__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Pricing_Factors_to_be_Applied__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Pricing_Factors_to_be_Applied__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Pricing_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Category__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Product_Category__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Family__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quote__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.QuoteId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Recurring_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Recurring_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_OLI_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Renewal_OLI_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Uplift_Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Renewal_Uplift_Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sales_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Sales_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Swap_Item__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Swap_Item__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Upcoming_Indexation_Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Upcoming_Indexation_Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Upsell_OLI_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Upsell_OLI_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Solution_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Parent_Solution_Product__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ChildQLIsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentRQLIsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Removed_Quote_line_Item__c</objectType>
    </variables>
    <variables>
        <name>NewRQLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Removed_Quote_line_Item__c</objectType>
    </variables>
    <variables>
        <name>RQLIsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Removed_Quote_line_Item__c</objectType>
    </variables>
</Flow>
