metadata/force-app/main/default/flows/Opportunity_ALF_Invoked_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_APAC_Team_Won_an_One_Off_Opp</name>
        <label>Alert - APAC Team Won an One Off Opp</label>
        <locationX>578</locationX>
        <locationY>6266</locationY>
        <actionName>Opportunity.Deal_Won_APAC_team_won_an_one_off_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_APAC_MRR_Closed_won_Check_Auto_Renewal_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_APAC_team_won_an_one_off_opportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_APAC_team_won_MRR_opportunity</name>
        <label>Alert: APAC team won MRR opportunity</label>
        <locationX>578</locationX>
        <locationY>6566</locationY>
        <actionName>Opportunity.Deal_Won_APAC_team_won_MRR_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_Check_Auto_Renewal_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_APAC_team_won_MRR_opportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_APAC_team_won_MRR_opportunity_Non_Auto_Renewal</name>
        <label>Alert:APAC team won MRR opportunity - Non Auto Renewal</label>
        <locationX>314</locationX>
        <locationY>6566</locationY>
        <actionName>Opportunity.Deal_Won_APAC_team_won_MRR_opportunity_Non_Auto_Renewal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_Check_Auto_Renewal_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_APAC_team_won_MRR_opportunity_Non_Auto_Renewal</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_EMEA_Team_Won_an_One_Off_Opp</name>
        <label>Alert - EMEA Team Won an One Off Opp</label>
        <locationX>578</locationX>
        <locationY>5066</locationY>
        <actionName>Opportunity.Deal_Won_EMEA_team_won_an_one_off_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_EMEA_MRR_Closed_won_Check_Auto_Renewal_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_EMEA_team_won_an_one_off_opportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_EMEA_team_won_MRR_opportunity</name>
        <label>Alert: EMEA team won MRR opportunity</label>
        <locationX>578</locationX>
        <locationY>5366</locationY>
        <actionName>Opportunity.Deal_Won_EMEA_team_won_MRR_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_US_One_Off_Closed_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_EMEA_team_won_MRR_opportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_EMEA_team_won_MRR_opportunity_Non_Auto_Renewal</name>
        <label>Alert:EMEA team won MRR opportunity - Non Auto Renewal</label>
        <locationX>314</locationX>
        <locationY>5366</locationY>
        <actionName>Opportunity.Deal_Won_EMEA_team_won_MRR_opportunity_Non_Auto_Renewal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_US_One_Off_Closed_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_EMEA_team_won_MRR_opportunity_Non_Auto_Renewal</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_US_Team_Won_an_One_Off_Opp</name>
        <label>Alert - US Team Won an One Off Opp</label>
        <locationX>578</locationX>
        <locationY>5666</locationY>
        <actionName>Opportunity.Deal_Won_US_team_won_an_one_off_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_US_MRR_Closed_won_Check_Auto_Renewal_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_US_team_won_an_one_off_opportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_US_team_won_MRR_opportunity</name>
        <label>Alert: US team won MRR opportunity</label>
        <locationX>578</locationX>
        <locationY>5966</locationY>
        <actionName>Opportunity.Deal_Won_US_team_won_MRR_opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_APAC_One_Off_Closed_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_US_team_won_MRR_opportunity</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Alert_US_team_won_MRR_opportunity_Non_Auto_Renewal</name>
        <label>Alert:US team won MRR opportunity - Non Auto Renewal</label>
        <locationX>314</locationX>
        <locationY>5966</locationY>
        <actionName>Opportunity.Deal_Won_US_team_won_MRR_opportunity_Non_Auto_Renewal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_APAC_One_Off_Closed_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Deal_Won_US_team_won_MRR_opportunity_Non_Auto_Renewal</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Legal</name>
        <label>Send Email to Legal</label>
        <locationX>578</locationX>
        <locationY>6866</locationY>
        <actionName>Opportunity.Send_Email_to_Legal_Team_Renewal_Closed_Won</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Send_Email_to_Legal_Team_Renewal_Closed_Won</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Closed_Non_Referral</name>
        <label>Assign - Closed Non Referral</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120d000000UQ0w</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_Not_Referral_Account_Not_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closed_Referral</name>
        <label>Assign - Closed Referral</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123g000000bpTx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_Not_Referral_Account_Not_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Values_Sales_Office</name>
        <label>Assign - Opportunity Values Sales Office</label>
        <locationX>50</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Sales_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSalesOffice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Office_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Partners</name>
        <label>Assign Other Partners</label>
        <locationX>954</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>OtherPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerAccountNameToBeAdded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salesforce_Accounts</name>
        <label>Assign Salesforce Accounts</label>
        <locationX>690</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>SalesforcePartnerAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Partner_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSalesforceOppPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the found value to the standard package name.</description>
        <name>Assign_Standard_Package_Name</name>
        <label>Assign Standard Package Name</label>
        <locationX>259</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Standard_Package_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_standard_package_name.Standard_Package_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Populate_MRR_Movement_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_APAC_MRR_Closed_won_Check_Auto_Renewal_Won</name>
        <label>Decision - APAC MRR Closed won/Check Auto Renewal Won</label>
        <locationX>710</locationX>
        <locationY>6458</locationY>
        <defaultConnector>
            <targetReference>Decision_Check_Auto_Renewal_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC_MRR_Closed_won_Non_Auto_Renewal_Won</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8 OR 10 OR (9 AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_APAC_team_won_MRR_opportunity_Non_Auto_Renewal</targetReference>
            </connector>
            <label>APAC MRR Closed won/Non Auto Renewal Won</label>
        </rules>
        <rules>
            <name>APAC_MRR_Auto_Renewal_Closed_Won</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Stop_automatic_renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_APAC_team_won_MRR_opportunity</targetReference>
            </connector>
            <label>APAC MRR Auto Renewal Closed Won</label>
        </rules>
        <rules>
            <name>APAC_MRR_Closed_won_Platform_Transfer_OEM_Direct_Internal_Transfer</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR (8 AND 9))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Internal Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Original_Renewal_ARR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Alert_APAC_team_won_MRR_opportunity_Non_Auto_Renewal</targetReference>
            </connector>
            <label>APAC MRR Closed won - Platform Transfer/OEM - Direct Internal Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_APAC_One_Off_Closed_Won</name>
        <label>Decision - APAC One Off Closed Won?</label>
        <locationX>710</locationX>
        <locationY>6158</locationY>
        <defaultConnector>
            <targetReference>Decision_APAC_MRR_Closed_won_Check_Auto_Renewal_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_APAC_One_Off_Closed_Won</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_APAC_Team_Won_an_One_Off_Opp</targetReference>
            </connector>
            <label>Yes - APAC One Off Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_Auto_Renewal_Closed</name>
        <label>Decision - Check Auto Renewal Closed</label>
        <locationX>710</locationX>
        <locationY>6758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Auto_Renewal_Send_Email_to_Legal_Team</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Legal</targetReference>
            </connector>
            <label>Non Auto Renewal - Send Email to Legal Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_EMEA_MRR_Closed_won_Check_Auto_Renewal_Won</name>
        <label>Decision - EMEA MRR Closed won/Check Auto Renewal Won</label>
        <locationX>710</locationX>
        <locationY>5258</locationY>
        <defaultConnector>
            <targetReference>Decision_US_One_Off_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA_MRR_Closed_won_Non_Auto_Renewal_Won</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10 OR 12 OR (11 AND (13 OR 14)))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Stop_automatic_renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_EMEA_team_won_MRR_opportunity_Non_Auto_Renewal</targetReference>
            </connector>
            <label>EMEA MRR Closed won/Non Auto Renewal Won</label>
        </rules>
        <rules>
            <name>EMEA_MRR_Auto_Renewal_Closed_Won</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Stop_automatic_renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_EMEA_team_won_MRR_opportunity</targetReference>
            </connector>
            <label>EMEA MRR Auto Renewal Closed Won</label>
        </rules>
        <rules>
            <name>EMEA_MRR_Closed_won_Platform_Transfer_OEM_Direct_Internal_Transfer</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR (10 AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Internal Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Original_Renewal_ARR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Alert_EMEA_team_won_MRR_opportunity_Non_Auto_Renewal</targetReference>
            </connector>
            <label>EMEA MRR Closed won - Platform Transfer/OEM - Direct Internal Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_EMEA_One_Off_Closed_won</name>
        <label>Decision - EMEA One Off Closed won</label>
        <locationX>710</locationX>
        <locationY>4958</locationY>
        <defaultConnector>
            <targetReference>Decision_EMEA_MRR_Closed_won_Check_Auto_Renewal_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EMEA_Professional_Service_Closed_Won</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_EMEA_Team_Won_an_One_Off_Opp</targetReference>
            </connector>
            <label>Yes - EMEA Professional Service Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Populate_MRR_Movement_Field</name>
        <label>Decision - Populate MRR Movement Field?</label>
        <locationX>710</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Decision_Type_is_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Populate_MRR_Movement_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmPopulateMRRField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Movement_Type</targetReference>
            </connector>
            <label>Yes - Populate MRR Movement Field</label>
        </rules>
    </decisions>
    <decisions>
        <description>BODEV-1718: Send customer onboarding form when Renewal Opp is closed won.</description>
        <name>Decision_Send_Customer_Billing_Onboarding_Form</name>
        <label>Decision - Send Customer Billing Onboarding Form?</label>
        <locationX>710</locationX>
        <locationY>4658</locationY>
        <defaultConnector>
            <targetReference>Decision_EMEA_One_Off_Closed_won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Form</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND 5 AND 6)) AND (7 OR (8 AND 9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Billing_Onboarding_Form_Sent_Timestamp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.OEM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.OEM__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OEM_Acquia</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.OEM__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OEM_Workfront</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.OEM_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.OEM_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.OEM_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OEM_Acquia</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.OEM_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OEM_Workfront</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Flow_Send_Customer_Billing_Onboarding_Form</targetReference>
            </connector>
            <label>Yes - Send Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Set_Account_Currency</name>
        <label>Decision - Set Account Currency</label>
        <locationX>710</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Decision_Set_Original_Contract_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Account_Currency</name>
            <conditionLogic>1 OR (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOpportunityRecord.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Currency</targetReference>
            </connector>
            <label>Yes - Set Account Currency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Set_Fields_based_on_Sales_Office</name>
        <label>Decision - Set Fields based on Sales Office?</label>
        <locationX>710</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_under_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_on_Amsterdam</name>
            <conditionLogic>(1 and 2) or (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Subsidiary_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Subsidiary_Amsterdam</targetReference>
            </connector>
            <label>Yes - Set on Amsterdam</label>
        </rules>
        <rules>
            <name>Yes_Set_on_US</name>
            <conditionLogic>((1 or 3 or 5) and 2) or ((1 or 3 or 5) and 4)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Subsidiary_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Subsidiary_US</targetReference>
            </connector>
            <label>Yes - Set on US</label>
        </rules>
        <rules>
            <name>Yes_Set_on_Dubai</name>
            <conditionLogic>(1 and 2) or (1 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Subsidiary_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Subsidiary_Dubai</targetReference>
            </connector>
            <label>Yes - Set on Dubai</label>
        </rules>
        <rules>
            <name>Yes_Set_on_London</name>
            <conditionLogic>(1 and 2) or (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Subsidiary_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Subsidiary_London</targetReference>
            </connector>
            <label>Yes - Set on London</label>
        </rules>
        <rules>
            <name>Yes_Set_on_Melbourne</name>
            <conditionLogic>(1 and 2) or (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Owner_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Subsidiary_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Subsidiary_Melbourne</targetReference>
            </connector>
            <label>Yes - Set on Melbourne</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Set_Original_Contract_Details</name>
        <label>Decision - Set Original Contract Details?</label>
        <locationX>710</locationX>
        <locationY>2642</locationY>
        <defaultConnector>
            <targetReference>Decision_Set_Fields_based_on_Sales_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Original_Contract_Details</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Original_Contract_Details</targetReference>
            </connector>
            <label>Yes - Set Original Contract Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Set_Record_Type</name>
        <label>Decision - Set Record Type?</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Closed_Non_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Non Referral</defaultConnectorLabel>
        <rules>
            <name>Yes_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Referral</targetReference>
            </connector>
            <label>Yes - Referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_SFMC_Order_Needed</name>
        <label>Decision - SFMC Order Needed?</label>
        <locationX>710</locationX>
        <locationY>4358</locationY>
        <defaultConnector>
            <targetReference>Decision_Send_Customer_Billing_Onboarding_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SFMC_Order_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>frmSFMCOrderNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSalesforceOppPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Flow_Create_SFMC_Order</targetReference>
            </connector>
            <label>Yes - SFMC Order Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_is_Upsell</name>
        <label>Decision - Type is Upsell?</label>
        <locationX>710</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Decision_Set_Account_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Type_is_Upsell</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Flow_Update_Contacts_Status_to_Active_CS</targetReference>
            </connector>
            <label>Yes - Type is Upsell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_Not_Referral_Account_Not_Customer</name>
        <label>Decision - Type Not Referral, Account Not Customer</label>
        <locationX>710</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Update_Standard_Package_for_Enterprise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Account</targetReference>
            </connector>
            <label>Yes - Type Not Referral, Account Not Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_US_MRR_Closed_won_Check_Auto_Renewal_Won</name>
        <label>Decision - US MRR Closed won/Check Auto Renewal Won</label>
        <locationX>710</locationX>
        <locationY>5858</locationY>
        <defaultConnector>
            <targetReference>Decision_APAC_One_Off_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_MRR_Closed_won_Non_Auto_Renewal_Won</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10 OR 12 OR (11 AND 13))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_US_team_won_MRR_opportunity_Non_Auto_Renewal</targetReference>
            </connector>
            <label>US MRR Closed won/Non Auto Renewal Won</label>
        </rules>
        <rules>
            <name>US_MRR_Auto_Renewal_Closed_Won</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.Automatic_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Stop_automatic_renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_US_team_won_MRR_opportunity</targetReference>
            </connector>
            <label>US MRR Auto Renewal Closed Won</label>
        </rules>
        <rules>
            <name>US_MRR_Closed_won_Platform_Transfer_OEM_Direct_Internal_Transfer</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR (10 AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.MRR_from_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Internal Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Original_Renewal_ARR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Alert_US_team_won_MRR_opportunity_Non_Auto_Renewal</targetReference>
            </connector>
            <label>US MRR Closed won - Platform Transfer/OEM - Direct Internal Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_US_One_Off_Closed_Won</name>
        <label>Decision - US One Off Closed Won?</label>
        <locationX>710</locationX>
        <locationY>5558</locationY>
        <defaultConnector>
            <targetReference>Decision_US_MRR_Closed_won_Check_Auto_Renewal_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_US_One_Off_Closed_Won</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001U000000rGnVHIA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Current_User_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off_from_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005U0000003lFx5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.current_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0050P0000075TXb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_US_Team_Won_an_One_Off_Opp</targetReference>
            </connector>
            <label>Yes - US One Off Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if any records have been found</description>
        <name>Enterprise_products_on_opportunity</name>
        <label>Enterprise products on opportunity?</label>
        <locationX>545</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Decision_Populate_MRR_Movement_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise_product_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_standard_package_name</targetReference>
            </connector>
            <label>Enterprise product found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Salesforce</name>
        <label>Is Salesforce?</label>
        <locationX>822</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Partners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Salesforce_Accounts</targetReference>
            </connector>
            <label>Contains Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a record has been found, if yes, assign the value for the standard package name to the opportunity.</description>
        <name>Package_name_found</name>
        <label>Package name found</label>
        <locationX>391</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Decision_Populate_MRR_Movement_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_package_name_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_standard_package_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Standard_Package_Name</targetReference>
            </connector>
            <label>Standard package name found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partners_Exist</name>
        <label>Partners Exist?</label>
        <locationX>710</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Decision_SFMC_Order_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_under_Oppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Partners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the standard package name has already been populated. If it is populated, than an update is not needed as it is most likely still part of the &quot;older&quot; packaging and not using the new enterprise model.</description>
        <name>Update_Standard_Package_for_Enterprise</name>
        <label>Update Standard Package for Enterprise</label>
        <locationX>710</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Decision_Populate_MRR_Movement_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Standard_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Standard_Package_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <label>Update Standard Package</label>
        </rules>
    </decisions>
    <description>BODEV - 4285 Update Standard Package Name Field to Include Enterprise Pricing package
BODEV-4135 Opportunity Movements - removed formulas which are no longer used
BODEV-4135 Opportunity Movements
BODEV-3388
Changed the criteria for Internal Transfer Opportunities making ARR &amp; MRR &gt; 0 to prevent sending emails for 0 ARR/MRR opportunities</description>
    <environments>Default</environments>
    <formulas>
        <name>frmPopulateMRRField</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(CONTAINS(LOWER({!varOpportunityRecord.Name}), &quot;one-time discount&quot;)),
NOT(CONTAINS(LOWER({!varOpportunityRecord.Name}), &quot;true up&quot;))
)</expression>
    </formulas>
    <formulas>
        <name>frmRenewalContraction_Contraction</name>
        <dataType>Currency</dataType>
        <expression>ABS({!varOpportunityRecord.Renewal_Upsell_Amount__c})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>frmSalesOffice</name>
        <dataType>String</dataType>
        <expression>IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;Amsterdam&quot;, &quot;Amsterdam&quot;,
IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;Boston&quot;, &quot;Boston&quot;,
IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;San Mateo&quot;, &quot;San Mateo&quot;,
IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;San Carlos&quot;, &quot;San Carlos&quot;,
IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;Melbourne&quot;, &quot;Melbourne&quot;,
IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;Dubai&quot;, &quot;Dubai&quot;,
IF(
{!varOpportunityRecord.Owner_Office__c}=&quot;London&quot;, &quot;London&quot;,
&quot;&quot;
)))))))</expression>
    </formulas>
    <formulas>
        <name>frmSetOpportunityAccountARR</name>
        <dataType>Currency</dataType>
        <expression>ROUND(IF({!varOpportunityRecord.Currency_Text__c}= &quot;USD&quot;, {!varOpportunityRecord.ARR_manual__c},{!varOpportunityRecord.ARR_manual__c}/ CURRENCYRATE({!varOpportunityRecord.Currency_Text__c} )), 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmSFMCOrderNeeded</name>
        <dataType>Boolean</dataType>
        <expression>/*
  1. New Business
      1-a. With Connector
      1-b. Lead was from SFDC or influenced by SFDC
  2. Upsell/Downsell
      2-a. With Connector
      2-b. Already owes 20% ARR, and Opp MRR is not 0
  3. Renewal
      3-a. Already owes 20% ARR, and ARR is changed
      3-b. Already owes 20% Connector, and Connector Sales Price is changed
*/

IF(
  /* - - - - - - - - - - New Business - - - - - - - - - - */
  CONTAINS(TEXT({!varOpportunityRecord.Type}), &quot;New Business&quot;), 
  OR(
    {!varOpportunityRecord.of_SFMC_Connector__c} &lt;&gt; 0,
    {!varOpportunityRecord.of_SFCC_Connector__c} &lt;&gt; 0,
    {!varOpportunityRecord.of_SFLWC_Connector__c} &lt;&gt; 0,
    AND(
      NOT(ISBLANK({!varOpportunityRecord.OEM__c})),
      CONTAINS({!varOpportunityRecord.OEM__r.Name}, &quot;Salesforce&quot;)
    ),
    ISPICKVAL({!varOpportunityRecord.LeadSource}, &quot;AppExchange - Marketing Cloud&quot;),
    ISPICKVAL({!varOpportunityRecord.LeadSource}, &quot;AppExchange - Commerce Cloud&quot;),
    ISPICKVAL({!varOpportunityRecord.LeadSource}, &quot;AppExchange - LWC&quot;)
  ),

IF(
  /* - - - - - - - - - - Upsell/Downsell - - - - - - - - - - */
  ISPICKVAL({!varOpportunityRecord.Type}, &quot;Existing Business-Upsell&quot;),
  OR(
    {!varOpportunityRecord.of_SFMC_Connector__c} &lt;&gt; 0,
    {!varOpportunityRecord.of_SFCC_Connector__c} &lt;&gt; 0,
     {!varOpportunityRecord.of_SFLWC_Connector__c} &lt;&gt; 0,
     
    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFMC_Commission__c}, &quot;20% of ARR&quot;),   
      {!varOpportunityRecord.MRR__c} &lt;&gt; 0                                                
    ),
    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFCC_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; 0
    ),
    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFLWC_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; 0
    
     ),
     AND(
      ISPICKVAL({!varOpportunityRecord.Account.Other_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; 0
    
     )
  ),

IF(
  /* - - - - - - - - - - Renewal - - - - - - - - - - */
  ISPICKVAL({!varOpportunityRecord.Type}, &quot;Existing Business-Renewal&quot;),
  OR(
    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFMC_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; {!varOpportunityRecord.Original_Renewal_Amount__c}  
    ),
    
    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFCC_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; {!varOpportunityRecord.Original_Renewal_Amount__c}
    ),

    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFLWC_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; {!varOpportunityRecord.Original_Renewal_Amount__c}
    ),

    AND(
      ISPICKVAL({!varOpportunityRecord.Account.Other_Commission__c}, &quot;20% of ARR&quot;),
      {!varOpportunityRecord.MRR__c} &lt;&gt; {!varOpportunityRecord.Original_Renewal_Amount__c}
    ),

    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFMC_Commission__c}, &quot;20% of Connector&quot;),
      {!varOpportunityRecord.SFMC_Connector_Sales_Price__c} &lt;&gt;
        {!varOpportunityRecord.Account.SFMC_Connector_Sales_Price__c}
    ),

    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFCC_Commission__c}, &quot;20% of Connector&quot;),
      {!varOpportunityRecord.SFCC_Connector_Sales_Price__c} &lt;&gt;
        {!varOpportunityRecord.Account.SFCC_Connector_Sales_Price__c}
    ),
    AND(
      ISPICKVAL({!varOpportunityRecord.Account.SFLWC_Commission__c}, &quot;20% of Connector&quot;),
      {!varOpportunityRecord.SFLWC_Connector_Sales_Price__c} &lt;&gt;
        {!varOpportunityRecord.Account.SFLWC_Connector_Sales_Price__c}
    )
  ),
  FALSE
)
)
)</expression>
    </formulas>
    <formulas>
        <name>frmSolutionsOwner</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!varOpportunityRecord.Solution_Owner__c}),&quot;&quot;,{!varOpportunityRecord.Solution_Owner__c})</expression>
    </formulas>
    <formulas>
        <name>PartnerAccountNameToBeAdded</name>
        <dataType>String</dataType>
        <expression>IF({!OtherPartner}= &quot;&quot;, &quot;&quot;, &quot;, &quot;) &amp; {!Get_Partner_Account.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity [ALF] Invoked: Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [ALF] Invoked: Closed Won</label>
    <loops>
        <name>Loop_Opp_Partners</name>
        <label>Loop Opp Partners</label>
        <locationX>602</locationX>
        <locationY>3674</locationY>
        <collectionReference>Get_Partner_under_Oppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Partner_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_SFMC_Order_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the opportunity DAM product. This record is then used to compare to the custom metadata type Standard Package to find the package name.</description>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>545</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enterprise_products_on_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Availability__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Account</name>
        <label>Get Partner Account</label>
        <locationX>822</locationX>
        <locationY>3782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Salesforce</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opp_Partners.AccountToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_under_Oppty</name>
        <label>Get Partner under Oppty</label>
        <locationX>710</locationX>
        <locationY>3458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partners_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the corresponding value for the package name from the Standard package custom metadata type.</description>
        <name>Get_standard_package_name</name>
        <label>Get standard package name</label>
        <locationX>391</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Package_name_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Products.ProductCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Standard_package__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Currency</name>
        <label>Update - Account Currency</label>
        <locationX>578</locationX>
        <locationY>2450</locationY>
        <connector>
            <targetReference>Decision_Set_Original_Contract_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varOpportunityRecord.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Original_Contract_Details</name>
        <label>Update - Account Original Contract Details</label>
        <locationX>578</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Decision_Set_Fields_based_on_Sales_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Business_Sales_Rep__c</field>
            <value>
                <elementReference>varOpportunityRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Business_Solutions_Owner__c</field>
            <value>
                <elementReference>frmSolutionsOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract_Length__c</field>
            <value>
                <elementReference>varOpportunityRecord.Netsuite_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Payment_Terms__c</field>
            <value>
                <elementReference>varOpportunityRecord.Invoice_period__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Subsidiary_Amsterdam</name>
        <label>Update - Account Subsidiary Amsterdam</label>
        <locationX>50</locationX>
        <locationY>3050</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Values_Sales_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subsidiary_lookup__c</field>
            <value>
                <elementReference>$Label.Subsidiary_Amsterdam</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Subsidiary_Dubai</name>
        <label>Update - Account Subsidiary Dubai</label>
        <locationX>578</locationX>
        <locationY>3050</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Opportunity_Values_Sales_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subsidiary_lookup__c</field>
            <value>
                <elementReference>$Label.Subsidiary_Dubai</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Subsidiary_London</name>
        <label>Update - Account Subsidiary London</label>
        <locationX>842</locationX>
        <locationY>3050</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Opportunity_Values_Sales_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subsidiary_lookup__c</field>
            <value>
                <elementReference>$Label.Subsidiary_London</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Subsidiary_Melbourne</name>
        <label>Update - Account Subsidiary Melbourne</label>
        <locationX>1106</locationX>
        <locationY>3050</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Opportunity_Values_Sales_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subsidiary_lookup__c</field>
            <value>
                <elementReference>$Label.Subsidiary_Melbourne</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Subsidiary_US</name>
        <label>Update - Account Subsidiary US</label>
        <locationX>314</locationX>
        <locationY>3050</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Opportunity_Values_Sales_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subsidiary_lookup__c</field>
            <value>
                <elementReference>$Label.Subsidiary_US</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Office_Values</name>
        <label>Update - Office Values</label>
        <locationX>50</locationX>
        <locationY>3266</locationY>
        <connector>
            <targetReference>Get_Partner_under_Oppty</targetReference>
        </connector>
        <inputReference>varOpportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account</name>
        <label>Update - Related Account</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Sub_Flow_Update_Customer_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Set_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Movement_Type</name>
        <label>Calculate Movement Type</label>
        <locationX>578</locationX>
        <locationY>1850</locationY>
        <connector>
            <targetReference>Decision_Type_is_Upsell</targetReference>
        </connector>
        <flowName>Opportunity_ALF_Invokded_Calculate_Movement_Type</flowName>
        <inputAssignments>
            <name>VarOpptyRecord</name>
            <value>
                <elementReference>varOpportunityRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Sub_Flow_Create_SFMC_Order</name>
        <label>Sub Flow - Create SFMC Order</label>
        <locationX>578</locationX>
        <locationY>4466</locationY>
        <connector>
            <targetReference>Decision_Send_Customer_Billing_Onboarding_Form</targetReference>
        </connector>
        <flowName>Create_SFMC_Connector_Order_Case</flowName>
        <inputAssignments>
            <name>Input_OpptyId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsSFaddedasotherpartner</name>
            <value>
                <elementReference>IsSalesforceOppPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OtherPartner</name>
            <value>
                <elementReference>OtherPartner</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Sub_Flow_Send_Customer_Billing_Onboarding_Form</name>
        <label>Sub Flow - Send Customer Billing Onboarding Form</label>
        <locationX>578</locationX>
        <locationY>4766</locationY>
        <connector>
            <targetReference>Decision_EMEA_One_Off_Closed_won</targetReference>
        </connector>
        <flowName>Opportunity_ALF_Invoked_Send_Customer_Onboarding_Form</flowName>
        <inputAssignments>
            <name>TXT_Opp_ID</name>
            <value>
                <elementReference>varOpportunityRecord.Opportunity_ID_18_digits__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sub_Flow_Update_Contacts_Status_to_Active_CS</name>
        <label>Sub Flow - Update Contacts Status to Active CS</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Decision_Set_Account_Currency</targetReference>
        </connector>
        <flowName>ProcessLaunched_Update_Contacts_Status_to_Active_CS</flowName>
        <inputAssignments>
            <name>curOpportunity</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sub_Flow_Update_Customer_Tier</name>
        <label>Sub Flow - Update Customer Tier</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Update_Standard_Package_for_Enterprise</targetReference>
        </connector>
        <flowName>autoLaunched_Updates_Customer_Tier</flowName>
        <inputAssignments>
            <name>curAccountID</name>
            <value>
                <elementReference>varOpportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>numOpportunityAccountARR</name>
            <value>
                <elementReference>frmSetOpportunityAccountARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_OpportunityAccountCurrency</name>
            <value>
                <elementReference>varOpportunityRecord.Currency_Text__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IsSalesforceOppPartner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Text to capture Partner Accounts&apos; name under the Oppty except Salesforce. If multiple partners are involved, account names are concatenated with &quot;, &quot;.</description>
        <name>OtherPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesforcePartnerAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
