metadata/force-app/main/default/flows/Opportunity_ALF_Invoked_Email_Alert_When_Submitted_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_New_Business_EMEA</name>
        <label>Alert - New Business EMEA</label>
        <locationX>100</locationX>
        <locationY>290</locationY>
        <actionName>Opportunity.Submitted_for_Approval_NewBus_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NewBus_Upsell_for_London</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Submitted_for_Approval_NewBus_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_New_Business_EMEA_0</name>
        <label>Alert - New Business EMEA</label>
        <locationX>501</locationX>
        <locationY>626</locationY>
        <actionName>Opportunity.Submitted_for_Approval_NewBus_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>With_One_off_products_EMEA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Submitted_for_Approval_NewBus_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_New_Business_Upsell_London</name>
        <label>Alert - New Business Upsell London</label>
        <locationX>492</locationX>
        <locationY>462</locationY>
        <actionName>Opportunity.Submitted_for_Approval_London</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NewBus_APAC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Submitted_for_Approval_London</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_One_Off_Products_EMEA</name>
        <label>Alert- One Off Products EMEA</label>
        <locationX>50</locationX>
        <locationY>934</locationY>
        <actionName>Opportunity.Submitted_for_Approval_One_off_products_from_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>With_One_off_products_US</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Submitted_for_Approval_One_off_products_from_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_One_Off_Products_US</name>
        <label>Alert - One Off Products US</label>
        <locationX>546</locationX>
        <locationY>976</locationY>
        <actionName>Opportunity.Submitted_for_Approval_One_off_products_from_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>With_One_off_products_APAC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Submitted_for_Approval_One_off_products_from_US</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_One_Off_Products_US_0</name>
        <label>Alert - One Off Products US</label>
        <locationX>557</locationX>
        <locationY>1406</locationY>
        <actionName>Opportunity.Submitted_for_Approval_One_off_products_from_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Submitted_for_Approval_One_off_products_from_US</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>NewBus_APAC</name>
        <label>NewBus APAC</label>
        <locationX>295</locationX>
        <locationY>596</locationY>
        <defaultConnector>
            <targetReference>With_One_off_products_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_New_Business_EMEA_0</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewBus_EMEA</name>
        <label>NewBus EMEA</label>
        <locationX>286</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>NewBus_Upsell_for_London</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_New_Business_EMEA</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewBus_Upsell_for_London</name>
        <label>NewBus/Upsell for London</label>
        <locationX>292</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>NewBus_APAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_New_Business_Upsell_London</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_One_off_products_APAC</name>
        <label>With One-off products APAC</label>
        <locationX>299</locationX>
        <locationY>1300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Alert_0_0</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Discount_Amount_One_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off_from_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_One_Off_Products_US_0</targetReference>
            </connector>
            <label>Send Email Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_One_off_products_EMEA</name>
        <label>With One-off products EMEA</label>
        <locationX>297</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>With_One_off_products_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Alert</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Discount_Amount_One_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off_from_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_One_Off_Products_EMEA</targetReference>
            </connector>
            <label>Send Email Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_One_off_products_US</name>
        <label>With One-off products US</label>
        <locationX>299</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>With_One_off_products_APAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Alert_0</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6 OR 8) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Discount_Amount_One_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.One_off_from_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Account.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_One_Off_Products_US</targetReference>
            </connector>
            <label>Send Email Alert</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity [ALF] Invoked: Email Alert When Submitted for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [ALF] Invoked: Email Alert When Submitted for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>169</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>NewBus_EMEA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
