metadata/force-app/main/default/flows/Opportunity_ALF_Invoked_Deal_50k_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_50k_Boston_San_Mateo</name>
        <label>Alert - 50k Boston San Mateo</label>
        <locationX>301</locationX>
        <locationY>732</locationY>
        <actionName>Opportunity.New_Deal_More_than_50k_Boston_San_Mateo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Deal_More_than_50k_Boston_San_Mateo</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_50k_Boston_San_Mateo_0</name>
        <label>Alert - 50k Boston San Mateo</label>
        <locationX>484</locationX>
        <locationY>678</locationY>
        <actionName>Opportunity.New_Deal_More_than_50k_Boston_San_Mateo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Deal_More_than_50k_Boston_San_Mateo</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_50k_Dubai_Amsterdam</name>
        <label>Alert - 50k Dubai Amsterdam</label>
        <locationX>16</locationX>
        <locationY>739</locationY>
        <actionName>Opportunity.New_Deal_More_than_50k_Dubai_Amsterdam</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Deal_More_than_50k_Dubai_Amsterdam</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Alert_50k_London</name>
        <label>Alert - 50k London</label>
        <locationX>151</locationX>
        <locationY>736</locationY>
        <actionName>Opportunity.New_Deal_More_than_50k_London</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Deal_More_than_50k_London</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign - Opportunity Values</label>
        <locationX>222</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Email_Alert_50k_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Which_Sales_Office</name>
        <label>Decision - Which Sales Office?</label>
        <locationX>192</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_office_Amsterdam</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amsterdam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_50k_Dubai_Amsterdam</targetReference>
            </connector>
            <label>Yes - Sales office Amsterdam</label>
        </rules>
        <rules>
            <name>Yes_Sales_Office_London</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>London</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_50k_London</targetReference>
            </connector>
            <label>Yes - Sales Office London</label>
        </rules>
        <rules>
            <name>Yes_Sales_Office_Boston_and_San_Mateo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boston</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Carlos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_50k_Boston_San_Mateo</targetReference>
            </connector>
            <label>Yes - Sales Office Boston and San Mateo</label>
        </rules>
        <rules>
            <name>Yes_Sales_Office_Melbourne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Melbourne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_50k_Boston_San_Mateo_0</targetReference>
            </connector>
            <label>Yes - Sales Office Melbourne</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity [ALF] Invoked: Deal 50k+ Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [ALF] Invoked: Deal 50k+ Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update - Opportunity</label>
        <locationX>345</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Decision_Which_Sales_Office</targetReference>
        </connector>
        <inputReference>varOpportunityRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>95</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
