metadata/force-app/main/default/flows/Order_Activation_Indexation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fixed_Indexation</name>
        <label>Assign Fixed Indexation</label>
        <locationX>952</locationX>
        <locationY>1599</locationY>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIndexationPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndexationFixedFirstYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Original_Order_Reviewed_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fixed_Indexation_All_Other_Years</name>
        <label>Assign Fixed Indexation All Other Years</label>
        <locationX>1172</locationX>
        <locationY>2033</locationY>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndexationFixedAllOtherYears</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIndexationPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Original_Order_Reviewed_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_All_Other_Years</name>
        <label>Assign Indexation All Other Years</label>
        <locationX>302</locationX>
        <locationY>2014</locationY>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIndexationPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndexationVariableAllOtherYears</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Original_Order_Reviewed_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Order_Item</name>
        <label>Assign Indexation Order Item</label>
        <locationX>504</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIndexationPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndexationVariableFirstYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Original_Order_Reviewed_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Order_Values</name>
        <label>Assign Indexation Order Values</label>
        <locationX>1625</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIndexationPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indexation_Product_on_first_invoice.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vIndexationOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Indexation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Rate</name>
        <label>Assign Indexation Rate</label>
        <locationX>1019</locationX>
        <locationY>1222</locationY>
        <assignmentItems>
            <assignToReference>IndexationRateAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndexationRate.Indexation_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Indexation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Status</name>
        <label>Assign Indexation Status</label>
        <locationX>1748</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>indexationApplied</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Indexation_Applied__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Values</name>
        <label>Assign Indexation Values</label>
        <locationX>719</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Indexation_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CumulativeRateInStartingOfTheYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Applied_Indexation_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appliedIndexationRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Indexation_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Indexation_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalOrderReviewedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waive_Indexation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Values_0</name>
        <label>Assign Indexation Values</label>
        <locationX>1178</locationX>
        <locationY>3048</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waived_Indexation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WaivedIndexationAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Indexation_Values_0_0</name>
        <label>Assign Indexation Values</label>
        <locationX>1625</locationX>
        <locationY>1663</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Indexation_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstOrderInContractYear.Previous_Indexation_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Applied_Indexation_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstOrderInContractYear.Applied_Indexation_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Indexation_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstOrderInContractYear.Current_Indexation_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Indexation_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalOrderReviewedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waive_Indexation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Order_Reviewed_value</name>
        <label>Assign Original Order Reviewed value</label>
        <locationX>718</locationX>
        <locationY>1845</locationY>
        <assignmentItems>
            <assignToReference>OriginalOrderReviewedValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Reviewed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Indexation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Activated</name>
        <label>Status Activated</label>
        <locationX>2313</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalOrderReviewedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Indexation_Rates</name>
        <label>Check Indexation Rates?</label>
        <locationX>921</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Status_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rates_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Indexation_from_Last_Year</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccount.Indexation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Indexation</targetReference>
            </connector>
            <label>Rates exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Invoice_of_Year</name>
        <label>First Invoice of Year?</label>
        <locationX>1618</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Get_Indexation_from_Last_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_first_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Indexation_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_invoice_of_contract_year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indexation_Product_on_first_invoice</targetReference>
            </connector>
            <label>Not first invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Previous_Indexation</name>
        <label>Found Previous Indexation</label>
        <locationX>293</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>Assign_Indexation_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Cumulative_Indexation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Indexation_All_Other_Years</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Previous_Indexation1</name>
        <label>Found Previous Indexation</label>
        <locationX>1163</locationX>
        <locationY>1810</locationY>
        <defaultConnector>
            <targetReference>Assign_Fixed_Indexation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Cumulative_Indexation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fixed_Indexation_All_Other_Years</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indexation</name>
        <label>Indexation?</label>
        <locationX>2399</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>One_year_after_original_contract_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 OR 2 OR (2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Indexation_Applied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apply_Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Activated</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indexation_Check</name>
        <label>Indexation Chec</label>
        <locationX>749</locationX>
        <locationY>1488</locationY>
        <defaultConnector>
            <targetReference>Status_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Variable_Indexation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccount.Indexation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indexation_year</targetReference>
            </connector>
            <label>Variable Indexation</label>
        </rules>
        <rules>
            <name>Variable_After_Initial_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Initial Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccount.Indexation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indexation_year</targetReference>
            </connector>
            <label>Variable After Initial Term</label>
        </rules>
        <rules>
            <name>Fixed_Indexation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccount.Indexation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indexation_Year_Fixed</targetReference>
            </connector>
            <label>Fixed Indexation</label>
        </rules>
        <rules>
            <name>Fixed_After_Initial_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Initial Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpp.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccount.Indexation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indexation_Year_Fixed</targetReference>
            </connector>
            <label>Fixed After Initial Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indexation_year</name>
        <label>Indexation year</label>
        <locationX>293</locationX>
        <locationY>1500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TwoYearsAfterOriginalContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Indexation_Order_Item</targetReference>
            </connector>
            <label>First Year</label>
        </rules>
        <rules>
            <name>All_Other_Years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TwoYearsAfterOriginalContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Previous_Indexation</targetReference>
            </connector>
            <label>All Other Years</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indexation_Year_Fixed</name>
        <label>Indexation Year - Fixed</label>
        <locationX>1164</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Year_Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TwoYearsAfterOriginalContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fixed_Indexation</targetReference>
            </connector>
            <label>First Year Fixed</label>
        </rules>
        <rules>
            <name>All_Other_Years_Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TwoYearsAfterOriginalContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Previous_Indexation1</targetReference>
            </connector>
            <label>All Other Years Fixed</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_year_after_original_contract_start_date</name>
        <label>One year after original contract start date</label>
        <locationX>1928</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Status_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OneYearsAfterOriginalContractStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Invoice_of_Year</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waive_Indexation</name>
        <label>Waive Indexation?</label>
        <locationX>1420</locationX>
        <locationY>2595</locationY>
        <defaultConnector>
            <targetReference>Activate_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waived_On_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waive_Indexation_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waived_Indexation_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_orders_of_the_year</targetReference>
            </connector>
            <label>Waived On Order</label>
        </rules>
        <rules>
            <name>Waived_On_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Indexation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waived On Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waived_Indexation_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indexation_Waiver</targetReference>
            </connector>
            <label>Waived On Contract</label>
        </rules>
        <rules>
            <name>Waived_On_Credit_Memo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo_for_indexation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waived_Indexation_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_orders_of_the_year_Credit_Memo</targetReference>
            </connector>
            <label>Waived On Credit Memo</label>
        </rules>
    </decisions>
    <description>Added a condition to check for Fixed indexation type on account in decision element &apos;Check Indexation Rates?&apos; in the flow.</description>
    <environments>Default</environments>
    <formulas>
        <description>Used to capture the indexation rate applied on order</description>
        <name>appliedIndexationRate</name>
        <dataType>Number</dataType>
        <expression>IF({!First_Year}||{!First_Year_Fixed} || ISNULL({!vAccount.Cumulative_Indexation__c}),
   {!currentRate},
   IF(NOT({!Get_Previous_Indexation_Order}),
         IF(ISPICKVAL({!vOpp.Waive_Indexation__c},&apos;First Year&apos;), {!vAccount.Cumulative_Indexation__c},
             ({!vAccount.Cumulative_Indexation__c}*(1+{!currentRate}/100))+{!currentRate}),
       {!firstOrderInContractYear.Applied_Indexation_Rate__c}
     )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AvgIndexationRate</name>
        <dataType>Number</dataType>
        <expression>{!IndexationRateAssignment}/{!LoopCount}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>CSMorOwner</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!vAccount.CSM_Owner__c}),{!vOpp.OwnerId},{!vAccount.CSM_Owner__c})</expression>
    </formulas>
    <formulas>
        <name>CumulativeRateInStartingOfTheYear</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Previous_Indexation_Order},{!firstOrderInContractYear.Previous_Indexation_Rate__c},{!vAccount.Cumulative_Indexation__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates the current indexation rate to be used for indexation</description>
        <name>currentRate</name>
        <dataType>Number</dataType>
        <expression>IF({!Indexation_Product},
	{!$Record.Current_Indexation_Rate__c},
	IF(ISPICKVAL({!vAccount.Indexation_Type__c},&quot;Variable&quot;),
		{!VariableIndexationRate},
	      {!vAccount.Fixed_Indexation_Rate__c}
      )
  )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DayBeforeYesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 2</expression>
    </formulas>
    <formulas>
        <name>IndexationAmtToBeWaived</name>
        <dataType>Number</dataType>
        <expression>-(
  IF(NOT({!Get_Previous_Indexation_Order}),
     (
      IF({!indexationApplied}&amp;&amp;{!Indexation_Product},
         {!$Record.MRR__c}-{!indexationProductOnOrder.UnitPrice},
         {!$Record.MRR__c}) *
           IF(ISNULL({!vAccount.Cumulative_Indexation__c}),
              {!currentRate}/100,
               IF({!Indexation_Product},
                  {!$Record.Applied_Indexation_Rate__c}-{!$Record.Previous_Indexation_Rate__c},
                  ((1 +{!vAccount.Cumulative_Indexation__c}/100)*
                  IF(ISPICKVAL({!vAccount.Indexation_Type__c},&quot;Variable&quot;),
                     IF(ISNULL({!vOpp.Cap_Indexation_Rate__c}),
                        ({!IndexationRateAssignment}/{!LoopCount}), 
                        {!vOpp.Cap_Indexation_Rate__c}
                       ),
                      {!vAccount.Fixed_Indexation_Rate__c}
                     ))/100
                   )
                  )
        ),
     {!firstOrderInContractYear.Waived_Indexation_Amount__c}/{!firstOrderInContractYear.Netsuite_Term__c}
   )
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>indexationAvgEndDate</name>
        <dataType>Date</dataType>
        <expression>/* For orders before 2023, indexation rate should be average of Jan-Dec rates
From 2023, indexation rate should be average of Aug-Jul rates */
IF(YEAR({!$Record.EffectiveDate}) &gt;=2023,
DATE(YEAR({!$Record.EffectiveDate})-1,VALUE({!$Label.IndexationAvgEndMonth}),01),
DATE(YEAR({!$Record.EffectiveDate})-1,VALUE(&apos;12&apos;),01)
)</expression>
    </formulas>
    <formulas>
        <name>indexationAvgStartDate</name>
        <dataType>Date</dataType>
        <expression>/* For orders before 2023, indexation rate should be average of Jan-Dec rates
From 2023, indexation rate should be average of Aug-Jul rates */
IF(YEAR({!$Record.EffectiveDate}) &gt;= 2023,
DATE(YEAR({!$Record.EffectiveDate})-2,VALUE({!$Label.IndexationAvgStartMonth}),01),
DATE(YEAR({!$Record.EffectiveDate})-1,VALUE(&apos;01&apos;),01)
)</expression>
    </formulas>
    <formulas>
        <name>IndexationFixedAllOtherYears</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!Get_Previous_Indexation_Order}),
      IF(ISPICKVAL({!vOpp.Waive_Indexation__c},&apos;First Year&apos;),
         ({!CumulativeRateInStartingOfTheYear}/100)*{!$Record.MRR__c},
         ((({!CumulativeRateInStartingOfTheYear}*(1+{!currentRate}/100))+{!currentRate})/100)*{!$Record.MRR__c}
         ),
    {!firstOrderInContractYear.Applied_Indexation_Rate__c}/100*{!$Record.MRR__c}
  )</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>IndexationFixedFirstYear</name>
        <dataType>Number</dataType>
        <expression>{!$Record.MRR__c}*{!vAccount.Fixed_Indexation_Rate__c}/100</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>IndexationVariableAllOtherYears</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!Get_Previous_Indexation_Order}),
    IF({!VariableIndexationRate} &lt;0 || ISPICKVAL({!vOpp.Waive_Indexation__c},&apos;First Year&apos;),
        ({!CumulativeRateInStartingOfTheYear}/100)*{!$Record.MRR__c},
        ((({!CumulativeRateInStartingOfTheYear}*(1+{!currentRate}/100))+{!currentRate})/100)*{!$Record.MRR__c}
      ),
    {!firstOrderInContractYear.Applied_Indexation_Rate__c}/100*{!$Record.MRR__c}
  )</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>IndexationVariableFirstYear</name>
        <dataType>Number</dataType>
        <expression>IF({!VariableIndexationRate}&lt;0,
    0,
    {!$Record.MRR__c}*
    ({!VariableIndexationRate}/100)
  )</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>LastYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())-1)</expression>
    </formulas>
    <formulas>
        <name>Middledateoforder1yearago</name>
        <dataType>Date</dataType>
        <expression>({!$Record.EffectiveDate}+(({!$Record.EndDate}-{!$Record.EffectiveDate})/2))-365</expression>
    </formulas>
    <formulas>
        <name>OneYearAfterContractStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  AND(
    MONTH({!vOpp.Subscription_Start_Date__c}) = 2,
    DAY({!vOpp.Subscription_Start_Date__c}) = 29,
    NOT( 
      OR( 
        MOD( YEAR({!vOpp.Subscription_Start_Date__c}), 400 ) = 0, 
        AND( 
          MOD( YEAR({!vOpp.Subscription_Start_Date__c}), 4 ) = 0,
          MOD( YEAR({!vOpp.Subscription_Start_Date__c}), 100 ) != 0
        )
      )
    ) 
  ),
  DATE( YEAR({!vOpp.Subscription_Start_Date__c}) + 1, 3, 1),
  DATE( YEAR({!vOpp.Subscription_Start_Date__c}) + 1, MONTH({!vOpp.Subscription_Start_Date__c}), DAY({!vOpp.Subscription_Start_Date__c}) )
)</expression>
    </formulas>
    <formulas>
        <name>OneYearsAfterOriginalContractStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  AND(
    MONTH( {!vAccount.Original_Subscription_Start_Date__c} ) = 2,
    DAY( {!vAccount.Original_Subscription_Start_Date__c} ) = 29,
    NOT( 
      OR( 
        MOD( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ), 400 ) = 0, 
        AND( 
          MOD( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ), 4 ) = 0,
          MOD( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ), 100 ) != 0
        )
      )
    ) 
  ),
  DATE( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ) + 1, 3, 1),
  DATE( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ) + 1, MONTH( {!vAccount.Original_Subscription_Start_Date__c} ), DAY( {!vAccount.Original_Subscription_Start_Date__c} ) )
)</expression>
    </formulas>
    <formulas>
        <name>OrderYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.EffectiveDate}))</expression>
    </formulas>
    <formulas>
        <name>OrderYearEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!vOpp.End_date_contract__c}) = 31 &amp;&amp; MONTH({!vOpp.End_date_contract__c}) = 12,Date(DAY({!vOpp.End_date_contract__c}),MONTH({!vOpp.End_date_contract__c}),YEAR({!OrderYearStartDate})),Date(DAY({!vOpp.End_date_contract__c}),MONTH({!vOpp.End_date_contract__c}),YEAR({!OrderYearStartDate})+1))</expression>
    </formulas>
    <formulas>
        <name>OrderYearStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(Date(YEAR({!$Record.EffectiveDate}),MONTH({!vOpp.Subscription_Start_Date__c}),DAY({!vOpp.Subscription_Start_Date__c})) &lt;= {!$Record.EffectiveDate},Date(YEAR({!$Record.EffectiveDate}),MONTH({!vOpp.Subscription_Start_Date__c}),DAY({!vOpp.Subscription_Start_Date__c})),Date(YEAR({!$Record.EffectiveDate})-1,MONTH({!vOpp.Subscription_Start_Date__c}),DAY({!vOpp.Subscription_Start_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>SevenDaysBeforeToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TwoYearsAfterOriginalContractStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  AND(
    MONTH( {!vAccount.Original_Subscription_Start_Date__c} ) = 2,
    DAY( {!vAccount.Original_Subscription_Start_Date__c} ) = 29,
    NOT( 
      OR( 
        MOD( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ), 400 ) = 0, 
        AND( 
          MOD( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ), 4 ) = 0,
          MOD( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ), 100 ) != 0
        )
      )
    ) 
  ),
  DATE( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ) + 2, 3, 1),
  DATE( YEAR( {!vAccount.Original_Subscription_Start_Date__c} ) + 2, MONTH( {!vAccount.Original_Subscription_Start_Date__c} ), DAY( {!vAccount.Original_Subscription_Start_Date__c} ) )
)</expression>
    </formulas>
    <formulas>
        <name>VariableIndexationRate</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Opportunity.Cap_Indexation_Rate__c})) &amp;&amp; {!$Record.Opportunity.Cap_Indexation_Rate__c} &lt; {!AvgIndexationRate},
{!$Record.Opportunity.Cap_Indexation_Rate__c},
{!AvgIndexationRate}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WaivedIndexationAmount</name>
        <dataType>Currency</dataType>
        <expression>ABS({!IndexationAmtToBeWaived})*{!$Record.Netsuite_Term__c}</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Order Activation &amp; Indexation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Activation &amp; Indexation</label>
    <loops>
        <name>Loop_Indexation</name>
        <label>Loop Indexation</label>
        <locationX>762</locationX>
        <locationY>1143</locationY>
        <assignNextValueToReference>IndexationRate</assignNextValueToReference>
        <collectionReference>AllIndexation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Indexation_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Indexation_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Indexation</name>
        <label>Create Indexation</label>
        <locationX>718</locationX>
        <locationY>2020</locationY>
        <connector>
            <targetReference>Assign_Indexation_Values</targetReference>
        </connector>
        <inputReference>vIndexationOrderItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Indexation_0</name>
        <label>Create Indexation</label>
        <locationX>1625</locationX>
        <locationY>1483</locationY>
        <connector>
            <targetReference>Assign_Indexation_Values_0_0</targetReference>
        </connector>
        <inputReference>vIndexationOrderItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Indexation_Waiver</name>
        <label>Create Indexation Waiver</label>
        <locationX>836</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>Assign_Indexation_Values_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>vIndexationWaiverPriceBookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>IndexationAmtToBeWaived</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1927</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Indexation__c</queriedFields>
        <queriedFields>Fixed_Indexation_Rate__c</queriedFields>
        <queriedFields>Original_Contract_Start_Date__c</queriedFields>
        <queriedFields>Account_ID_18_digits__c</queriedFields>
        <queriedFields>Subsidiary_lookup__c</queriedFields>
        <queriedFields>Indexation_Type__c</queriedFields>
        <queriedFields>PO_Needed__c</queriedFields>
        <queriedFields>CSM_Owner__c</queriedFields>
        <queriedFields>Price_Uplift_On_Renewal__c</queriedFields>
        <queriedFields>Cumulative_Indexation__c</queriedFields>
        <queriedFields>Original_Subscription_Start_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo_for_indexation</name>
        <label>Get Credit Memo for indexation</label>
        <locationX>2603</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indexation_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderYearStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Order_Value__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Memo_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indexation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indexation_from_Last_Year</name>
        <label>Get Indexation from Last Year</label>
        <locationX>1229</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Indexation_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Indexation_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Indexation_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccount.Subsidiary_lookup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Indexation_First_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>indexationAvgStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Indexation_First_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>indexationAvgEndDate</elementReference>
            </value>
        </filters>
        <object>Indexation_Rate__c</object>
        <outputReference>AllIndexation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Indexation_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>2147</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Indexation_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>vOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Startdate_contract__c</queriedFields>
        <queriedFields>Original_Renewal_Amount__c</queriedFields>
        <queriedFields>MRR__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Netsuite_Term__c</queriedFields>
        <queriedFields>Renewal_Upsell_Amount__c</queriedFields>
        <queriedFields>Waive_Indexation__c</queriedFields>
        <queriedFields>Price_Uplift_On_Renewal__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>End_date_contract__c</queriedFields>
        <queriedFields>Subscription_Start_Date__c</queriedFields>
        <queriedFields>Cap_Indexation_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Indexation_Order</name>
        <label>Get Previous Indexation Order</label>
        <locationX>2401</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Memo_for_indexation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderYearStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MRR__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Indexation_Applied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_invoice_of_contract_year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>firstOrderInContractYear</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Previous_Indexation_Rate__c</queriedFields>
        <queriedFields>Waive_Indexation__c</queriedFields>
        <queriedFields>Waive_Indexation_Approval_Status__c</queriedFields>
        <queriedFields>MRR__c</queriedFields>
        <queriedFields>Applied_Indexation_Rate__c</queriedFields>
        <queriedFields>Netsuite_Term__c</queriedFields>
        <queriedFields>Waived_Indexation_Amount__c</queriedFields>
        <queriedFields>First_invoice_of_contract_year__c</queriedFields>
        <queriedFields>Current_Indexation_Rate__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Indexation_Price_Book_Entry_0</name>
        <label>Indexation Price Book Entry</label>
        <locationX>2873</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indexation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ROW_Indexation_Product_Name</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>vIndexationPriceBookEntry</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Indexation_Product</name>
        <label>Indexation Product</label>
        <locationX>2868</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indexation_Price_Book_Entry_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ROW_Indexation_Product_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.US_Indexation_Product_Name</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>indexationProductOnOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Indexation_Product_on_first_invoice</name>
        <label>Indexation Product on first invoice</label>
        <locationX>1624</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Indexation_Order_Values</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>firstOrderInContractYear.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ROW_Indexation_Product_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.US_Indexation_Product_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Indexation_Waiver</name>
        <label>Indexation Waiver</label>
        <locationX>835</locationX>
        <locationY>2810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Indexation_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ROW_Indexation_Waiver_Product_Name</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>vIndexationWaiverPriceBookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>2315</locationX>
        <locationY>2610</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_orders_of_the_year</name>
        <label>Update orders of the year</label>
        <locationX>835</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Indexation_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>OrderYearStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>OrderYearEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Order_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Waive_Indexation_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Waive_Indexation_Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_orders_of_the_year_Credit_Memo</name>
        <label>Update orders of the year - Credit Memo</label>
        <locationX>1359</locationX>
        <locationY>2860</locationY>
        <connector>
            <targetReference>Indexation_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>OrderYearStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>OrderYearEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Order_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Waive_Indexation_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved - Credit Memo</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Waive_Indexation_Approval_Status__c</field>
            <value>
                <stringValue>Approved - Credit Memo</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>1311</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Assign_Indexation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_to_be_activated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Delivery_Method__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Period__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Send_invoice_email_automatically__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stop_auto_activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Order_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Order</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2019-12-10</startDate>
            <startTime>04:16:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllIndexation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Indexation_Rate__c</objectType>
    </variables>
    <variables>
        <name>firstOrderInContractYear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>indexationApplied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>indexationProductOnOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>IndexationRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Indexation_Rate__c</objectType>
    </variables>
    <variables>
        <name>IndexationRateAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>indexationRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OriginalOrderReviewedValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>remainingOrdersOfYear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vIndexationOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vIndexationOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vIndexationPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>vIndexationWaiverOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vIndexationWaiverPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>vOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
