metadata/force-app/main/default/flows/Pricing_Procedure_Invoked_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Parent_Product_ID</name>
        <label>Assign Parent Product ID</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ParentProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_OLI_Set_Parent_OLI.Parent_Solution_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_OLI_ID_Sub_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_Parent_Product_ID</name>
        <label>Assign QLI Parent Product ID</label>
        <locationX>948</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ParentProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_QLI_Set_Parent_ID.Parent_Solution_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_QLI_ID_Sub_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Number_of_Rules_Value</name>
        <label>Assign Total Number of Rules Value</label>
        <locationX>948</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>NumberofRules</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Volume_Based_Pricing_Rules_QLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Volume_Based_Pricing_Calculator_Flow_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Number_of_Rules</name>
        <label>Total Number of Rules</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>NumberofRules</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Volume_Based_Pricing_Rules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Volume_Based_Pricing_Calculator_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_OR_Quote</name>
        <label>Opportunity OR Quote?</label>
        <locationX>587</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$Label.oppIdPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OLIs</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$Label.quoteIdPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QLIs</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Solution_Not_Found</name>
        <label>Parent Solution Not Found</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>For_Each_OLI_Set_Parent_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Parent_Solution_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_OLI_Set_Parent_OLI.Parent_Solution_Product_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_OLI_Set_Parent_OLI.Parent_Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Product_ID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Percent_of_Solution_ARR_Pricing_Found</name>
        <label>Percent of Solution ARR Pricing Found</label>
        <locationX>600</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_Percent_of_Total_Pricing_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_Percent_of_Solution_ARR_Pricing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Percentage_Based_Solution_ARR_Pricing_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percentage_Based_Solution_ARR_Calculator</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Percent_of_Total_Pricing_Found</name>
        <label>Percent of Total Pricing Found</label>
        <locationX>798</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>For_Each_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_Percent_of_Total_Pricing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Percent_of_Total_Pricing_Rule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percentage_Based_Deal_ARR_Pricing_Calculator</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>QLI_Parent_Solution_Not_Found</name>
        <label>QLI Parent Solution Not Found</label>
        <locationX>1080</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>For_Each_QLI_Set_Parent_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_QLI_Parent_Solution_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_QLI_Set_Parent_ID.Parent_Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_QLI_Set_Parent_ID.Parent_Solution_Product_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_Parent_Product_ID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volume_Based_Pricing_Found</name>
        <label>Volume Based Pricing Found</label>
        <locationX>369</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Get_Percentage_Based_Solution_ARR_Pricing_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Volume_Based_Pricing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Volume_Based_Pricing_Rules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Number_of_Rules</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Volume_Based_Pricing_Found_QLI</name>
        <label>Volume Based Pricing Found</label>
        <locationX>1080</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>For_Each_QLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Volume_Based_Pricing_Found_QLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Volume_Based_Pricing_Rules_QLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Number_of_Rules_Value</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pricing Procedure Invoked Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Procedure Invoked Flow</label>
    <loops>
        <name>For_Each_OLI</name>
        <label>For Each OLI</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Volume_Based_Pricing_Rules</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_Each_OLI_Set_Parent_OLI</name>
        <label>For Each OLI Set Parent OLI</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parent_Solution_Not_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_QLI</name>
        <label>For Each QLI</label>
        <locationX>860</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_QLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Volume_Based_Pricing_Rules_QLI</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_Each_QLI_Set_Parent_ID</name>
        <label>For Each QLI Set Parent ID</label>
        <locationX>860</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_QLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QLI_Parent_Solution_Not_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OLIs</name>
        <label>Get OLIs</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_OLI_Set_Parent_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Pricing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Sales_Price_ARR__c</queriedFields>
        <queriedFields>Product_ID__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Parent_Solution__c</queriedFields>
        <queriedFields>Parent_Solution_Product_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Percent_of_Total_Pricing_Rule</name>
        <label>Get Percent of Total Pricing Rule</label>
        <locationX>798</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Percent_of_Total_Pricing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Percentage of Total ARR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_OLI.Product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Rule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Calculation_Percentage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Percentage_Based_Solution_ARR_Pricing_Rules</name>
        <label>Get Percentage Based Solution ARR Pricing Rules</label>
        <locationX>600</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Percent_of_Solution_ARR_Pricing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Percentage of Solution ARR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_OLI.Product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QLIs</name>
        <label>Get QLIs</label>
        <locationX>860</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_QLI_Set_Parent_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Pricing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Sales_Price_ARR_One_off__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Parent_Solution__c</queriedFields>
        <queriedFields>Parent_Solution_Product_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volume_Based_Pricing_Rules</name>
        <label>Get Volume Based Pricing Rules</label>
        <locationX>369</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Volume_Based_Pricing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volume Based</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_OLI.Product_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_OLI.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Rule__c</object>
        <sortField>Evaluation_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volume_Based_Pricing_Rules_QLI</name>
        <label>Get Volume Based Pricing Rules</label>
        <locationX>1080</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Volume_Based_Pricing_Found_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_QLI.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_QLI.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volume Based</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Rule__c</object>
        <sortField>Evaluation_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>461</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_OR_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Percentage_Based_Deal_ARR_Pricing_Calculator</name>
        <label>Percentage Based Deal ARR Pricing Calculator</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>For_Each_OLI</targetReference>
        </connector>
        <flowName>Percentage_Based_Deal_ARR_Pricing_Calculator</flowName>
        <inputAssignments>
            <name>Percentage</name>
            <value>
                <elementReference>Get_Percent_of_Total_Pricing_Rule.Calculation_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>For_Each_OLI.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Percentage_Based_Solution_ARR_Calculator</name>
        <label>Percentage Based Solution ARR Calculator</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>For_Each_OLI</targetReference>
        </connector>
        <flowName>Percentage_Based_Solution_ARR_Pricing_Calculator</flowName>
        <inputAssignments>
            <name>PercentageValue</name>
            <value>
                <elementReference>Get_Percentage_Based_Solution_ARR_Pricing_Rules.Calculation_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Parent_OLI_ID_Sub_Flow</name>
        <label>Update Parent OLI ID Sub Flow</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>For_Each_OLI_Set_Parent_OLI</targetReference>
        </connector>
        <flowName>Update_Parent_Solution_OLI_ID</flowName>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>ParentProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>For_Each_OLI_Set_Parent_OLI.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Parent_QLI_ID_Sub_Flow</name>
        <label>Update Parent QLI ID Sub Flow</label>
        <locationX>948</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>For_Each_QLI_Set_Parent_ID</targetReference>
        </connector>
        <flowName>Update_Parent_Solution_OLI_ID</flowName>
        <inputAssignments>
            <name>parentId</name>
            <value>
                <elementReference>ParentProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>For_Each_QLI_Set_Parent_ID.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Volume_Based_Pricing_Calculator_Flow</name>
        <label>Volume Based Pricing Calculator Flow</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>For_Each_OLI</targetReference>
        </connector>
        <flowName>Volume_Based_Pricing_Calculator</flowName>
        <inputAssignments>
            <name>PricingRules</name>
            <value>
                <elementReference>Get_Volume_Based_Pricing_Rules</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>For_Each_OLI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Total_Number_of_Rules</name>
            <value>
                <elementReference>NumberofRules</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Volume_Based_Pricing_Calculator_Flow_QLI</name>
        <label>Volume Based Pricing Calculator Flow</label>
        <locationX>948</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>For_Each_QLI</targetReference>
        </connector>
        <flowName>Volume_Based_Pricing_Calculator</flowName>
        <inputAssignments>
            <name>PricingRules</name>
            <value>
                <elementReference>Get_Volume_Based_Pricing_Rules_QLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>For_Each_QLI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Total_Number_of_Rules</name>
            <value>
                <elementReference>NumberofRules</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NumberofRules</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ParentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of record (Opportunity OR Quote) for which Items Prices to be dynamically calculated</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
