metadata/force-app/main/default/flows/processLaunched_Add_dependent_products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Dependent_Product_fields</name>
        <label>Assign Dependent Product fields</label>
        <locationX>928</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>recordNewOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordNewOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dependentProductID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordNewOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordNewOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordPricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordNewOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordPricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordNewOLI.Sales_Price_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordPricebookEntry.List_Price_ARR_One_off__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_dependent_product_on_the_list</name>
        <label>Is dependent product on the list?</label>
        <locationX>1113</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>For_every_OLI_on_the_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_every_OLI_on_the_opportunity.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>dependentProductID</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_has_products</name>
        <label>Opp has products?</label>
        <locationX>707</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Get_pricebook_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordsOLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_every_OLI_on_the_opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>BODEV-363: Adds dependent products when a new OLI is added to the opportunity.</description>
    <interviewLabel>processLaunched: Add dependent products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>processLaunched: Add dependent products</label>
    <loops>
        <name>For_every_OLI_on_the_opportunity</name>
        <label>For every OLI on the opportunity</label>
        <locationX>929</locationX>
        <locationY>194</locationY>
        <collectionReference>recordsOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_dependent_product_on_the_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_pricebook_entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OLI</name>
        <label>Create OLI</label>
        <locationX>928</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Update_Newly_Added_product</targetReference>
        </connector>
        <inputReference>recordNewOLI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_dependent_product</name>
        <label>Get dependent product</label>
        <locationX>444</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_opportunity_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productID</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>recordDependentProduct</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity_OLIs</name>
        <label>Get opportunity OLIs</label>
        <locationX>584</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_has_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>recordsOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_pricebook_entry</name>
        <label>Get pricebook entry</label>
        <locationX>927</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Dependent_Product_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dependentProductID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityPricebook</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityCurrency</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>recordPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>List_Price_ARR_One_off__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Newly_Added_product</name>
        <label>Update Newly Added product</label>
        <locationX>929</locationX>
        <locationY>821</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLIID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Block_dependent_product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Get_dependent_product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dependentProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OLIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordDependentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordNewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>recordsOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
