metadata/force-app/main/default/flows/Product_BSF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Product_is_Active</name>
        <label>Decision: Product is Active</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sort_Order_Product_Type_on_Customer_Document_Field</targetReference>
            </connector>
            <label>Product is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SetProductOrder</name>
        <dataType>Number</dataType>
        <expression>IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Users &amp; Storage&apos;),1,
IF( ISPICKVAL({!$Record.Product_Type__c},&apos;Core &amp; Modules&apos;),2,
IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Integrations&apos;),3,
IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Success Package&apos;),4,
IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Contract&apos;),5,
IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Standalone&apos;),6,
IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Professional Service&apos;),7,
IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Add-ons&apos;),7,8))))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetProductType</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!$Record.Product_Type__c}, &apos;Add-ons&apos;),&apos;Included portal feature&apos;,TEXT({!$Record.Product_Type__c}))</expression>
    </formulas>
    <interviewLabel>Product[BSF] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product[BSF]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Sort_Order_Product_Type_on_Customer_Document_Field</name>
        <label>Update Sort Order &amp; Product Type on Customer Document Field</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Conga_Product_Sort_Order__c</field>
            <value>
                <elementReference>SetProductOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type_on_Customer_Documents__c</field>
            <value>
                <elementReference>SetProductType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Product_is_Active</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
