metadata/force-app/main/default/flows/Scheduled_Set_Support_Plan_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Find_Support_Plan_OLI</name>
        <label>Find Support Plan OLI?</label>
        <locationX>167</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Is_New_Business_or_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Support_Plan_OLI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLI_s_biggest_quantity_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Business_or_Renewal</name>
        <label>Is New Business or Renewal? (Webdam)</label>
        <locationX>399</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Renewal</name>
            <conditionLogic>(1 OR 2 OR 3 OR (4 AND 5) OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business-Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Internal Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsell_Internal_Transfer_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Business - Platform Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webdam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Plan_blank_on_Opp</targetReference>
            </connector>
            <label>New Business/ Renewal (Webdam)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_update_Support_Plan_on_Account</name>
        <label>Need to update Support Plan on Account?</label>
        <locationX>722</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Support_Plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Txt_Support_Plan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Support_Plan_on_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLI_s_biggest_quantity_0</name>
        <label>OLI&apos;s biggest quantity &gt;0 ?</label>
        <locationX>398</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Support_Plan_OLI.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Support_Plan_on_Opportunity</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Plan_blank_on_Account</name>
        <label>Support Plan blank on Account?</label>
        <locationX>966</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_blank_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Support_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Support_Plan_on_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Plan_blank_on_Opp</name>
        <label>Support Plan blank on Opp?</label>
        <locationX>653</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Support_Plan_blank_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_blank_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Support_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Support_Plan_on_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Txt_Support_Plan</name>
        <dataType>String</dataType>
        <expression>CASE ( {!Get_Support_Plan_OLI.Product_ID__c},
{!$Label.Basic_Support_Package_US_Only}, &quot;Basic&quot;,
{!$Label.Bronze_Support_Package_EMEA_Only}, &quot;Bronze&quot;,
{!$Label.Diamond_Support_Package},&quot;Diamond&quot;,
{!$Label.Enterprise_Support_Package_US_Only}, &quot;Enterprise&quot;,
{!$Label.Gold_Support_Package_EMEA_Only}, &quot;Gold&quot;,
{!$Label.Plus_Support_Package_US_Only}, &quot;Plus&quot;,
{!$Label.Premier_Support_Package}, &quot;Premier&quot;,
{!$Label.Silver_Support_Package_EMEA_Only}, &quot;Silver&quot;,
{!$Label.Platinum_Support_Plan}, &quot;Platinum&quot;,
{!$Label.Gold_Support_Plan}, &quot;Gold&quot;,
{!$Label.Silver_Support_Plan}, &quot;Silver&quot;,
{!$Label.Starter_Success_Package}, &quot;Starter&quot;,
{!$Label.Standard_Success_Package},&quot;Standard Success Package&quot;,
{!$Label.Plus_Success_Package},&quot;Plus Success Package&quot;,
{!$Label.Enterprise_Success_Package},&quot;Enterprise Success Package&quot;,
{!$Label.Premier_Success_Package},&quot;Premier Success Package&quot;,
&quot;&quot; )</expression>
    </formulas>
    <interviewLabel>Scheduled: Set Support Plan field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Set Support Plan field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Support Plan OLI with highest quantity</description>
        <name>Get_Support_Plan_OLI</name>
        <label>Get Support Plan OLI</label>
        <locationX>176</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Support_Plan_OLI</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Basic_Support_Package_US_Only</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Bronze_Support_Package_EMEA_Only</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Diamond_Support_Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Enterprise_Support_Package_US_Only</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Gold_Support_Package_EMEA_Only</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Plus_Support_Package_US_Only</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Premier_Support_Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Silver_Support_Package_EMEA_Only</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Platinum_Support_Plan</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Gold_Support_Plan</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Silver_Support_Plan</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Starter_Success_Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Standard_Success_Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Plus_Success_Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Enterprise_Success_Package</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Premier_Success_Package</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Quantity</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Default_Support_Plan_on_Account</name>
        <label>Default Support Plan on Account</label>
        <locationX>1141</locationX>
        <locationY>608</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Plan__c</field>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Default_Support_Plan_on_Opp</name>
        <label>Default Support Plan on Opp</label>
        <locationX>816</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>Support_Plan_blank_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Plan__c</field>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Support_Plan_on_Opportunity</name>
        <label>Set Support Plan on Opportunity</label>
        <locationX>578</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Need_to_update_Support_Plan_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Plan__c</field>
            <value>
                <elementReference>Txt_Support_Plan</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Support_Plan_on_Account</name>
        <label>Update Support Plan on Account</label>
        <locationX>907</locationX>
        <locationY>313</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Plan__c</field>
            <value>
                <elementReference>Txt_Support_Plan</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Support_Plan_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>days_since_closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-03-01</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
