metadata/force-app/main/default/flows/Screen_Create_Referral_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_ID_Customer</name>
        <label>Assign Contact ID Customer</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactIDCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Partnershipfee</name>
        <choiceText>First time partnership fee</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Quarterlyservicefee</name>
        <choiceText>Quarterly service fee</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Contact_has_Lead_Source</name>
        <label>Contact has Lead Source?</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Add_Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead Source</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Information.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_referral_opportunity_0</targetReference>
            </connector>
            <label>Lead Source present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_added</name>
        <label>Contacts added?</label>
        <locationX>1469</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Primary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contacts</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Primary_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_contact_selected</name>
        <label>Create new contact selected?</label>
        <locationX>776</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_ID_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_new_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Primary_contact</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <description>Updated Partner Referral Opp Process</description>
    <dynamicChoiceSets>
        <name>AvailableContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Contact_ID_18_digits__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailablePartnerContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partnerAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Contact_ID_18_digits__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <formulas>
        <name>Currency</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Current_User.Work_Location__c}), 
&quot;Amsterdam&quot;, &quot;EUR&quot;,
&quot;London&quot;, &quot;GBP&quot;,
&quot;Dubai&quot;, &quot;AED&quot;,
&quot;San Mateo&quot;, &quot;USD&quot;,
&quot;San Carlos&quot;, &quot;USD&quot;,
&quot;AUD&quot;)</expression>
    </formulas>
    <formulas>
        <name>customerAccountId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedCustomerId}), {!curAccount}, {!SelectedCustomerId})</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Account_1.BillingCountryCode})), &quot;[country abbreviation] - &quot;, TEXT({!Account_1.BillingCountryCode}) + &quot; - &quot;) + {!Account_1.Name} + &quot; - Referral &quot; + TEXT({!NewNumberOfreferralOpp})</expression>
    </formulas>
    <formulas>
        <name>NewNumberOfreferralOpp</name>
        <dataType>Number</dataType>
        <expression>{!Account_1.of_referral_opportunities__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OpportunityContact</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedContactIDCustomer}), {!CreatedContact}, {!SelectedContactIDCustomer})</expression>
    </formulas>
    <formulas>
        <name>OpportunityContactPartner</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedPartnerContactID}), {!CreatedContact}, {!SelectedPartnerContactID})</expression>
    </formulas>
    <formulas>
        <name>partnerAccountId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedPartnerID}), {!curAccount}, {!SelectedPartnerID})</expression>
    </formulas>
    <interviewLabel>Screen: Create Referral opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Referral opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>Create_referral_opportunity_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_error_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>customerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Maker__c</field>
            <value>
                <elementReference>Decision_maker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EnteredEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executive_Sponsor__c</field>
            <value>
                <elementReference>Champion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Contact__c</field>
            <value>
                <elementReference>IT_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal__c</field>
            <value>
                <elementReference>Legal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Power_User__c</field>
            <value>
                <elementReference>Power_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procurement__c</field>
            <value>
                <elementReference>Procurement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Owner__c</field>
            <value>
                <elementReference>Project_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Customer Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stakeholder__c</field>
            <value>
                <elementReference>Stakeholder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_contact__c</field>
            <value>
                <elementReference>Support_contact</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_referral_opportunity_0</name>
        <label>Create Referral opportunity</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>ReferralOpp</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Opportunity_Contact_role_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_error_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>partnerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>customerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_write_up__c</field>
            <value>
                <elementReference>Lead_write_up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <stringValue>Unassessed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_History__c</field>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Manager__c</field>
            <value>
                <elementReference>PartnerManager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123g000000bpTw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office__c</field>
            <value>
                <elementReference>Current_User.Work_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Customer Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Set_Opportunity_Contact_role_0</name>
        <label>Set Opportunity Contact role</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_role_error_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>OpportunityContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>ReferralOpp</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_1</name>
        <label>Account</label>
        <locationX>1469</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedCustomerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>Current_User__c</queriedFields>
        <queriedFields>Sales_Region__c</queriedFields>
        <queriedFields>of_referral_opportunities__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>1502</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_has_Lead_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>1469</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get information about the current user</description>
        <name>Current_User</name>
        <label>Current User</label>
        <locationX>1469</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_1.Current_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Location__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Lead_Source</name>
        <label>Add Lead Source</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_referral_opportunity_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contact_error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Information.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Add the number of created referral opportunities</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <faultConnector>
            <targetReference>Account_error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_referral_opportunities__c</field>
            <value>
                <elementReference>NewNumberOfreferralOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Account_error_screen</name>
        <label>Account error screen</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage_0_0</name>
            <fieldText>&lt;p&gt;An error occurred while updating the account.Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_error_screen</name>
        <label>Contact error screen</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage_0_0_0</name>
            <fieldText>&lt;p&gt;An error occurred while creating or updating the contact.Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_role_error_screen</name>
        <label>Contact role error screen</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage_0</name>
            <fieldText>&lt;p&gt;n error occurred while creating the opportunity contact role.Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Primary_contact</name>
        <label>Create Primary contact</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>introCreateContact</name>
            <fieldText>&lt;p&gt;Please create a primary contact that will be associated with the opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Salutation</assignToReference>
                <name>salutation</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>introRole</name>
            <fieldText>&lt;p&gt;Please select the contact&apos;s role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Power_User</name>
            <dataType>Boolean</dataType>
            <fieldText>Power User</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Champion</name>
            <dataType>Boolean</dataType>
            <fieldText>Champion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Support_contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Support contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decision_maker</name>
            <dataType>Boolean</dataType>
            <fieldText>Decision Maker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Owner</name>
            <dataType>Boolean</dataType>
            <fieldText>Project Owner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal</name>
            <dataType>Boolean</dataType>
            <fieldText>Legal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IT_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>IT Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Procurement</name>
            <dataType>Boolean</dataType>
            <fieldText>Procurement</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stakeholder</name>
            <dataType>Boolean</dataType>
            <fieldText>Stakeholder</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_error_screen</name>
        <label>Opportunity error screen</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;n error occurred while creating the opportunity.Please correct the issues and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Error Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Referral_Details</name>
        <label>Referral Details</label>
        <locationX>1469</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_1</targetReference>
        </connector>
        <fields>
            <name>PartnerManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Partner_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Partner Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lead_write_up</name>
            <fieldText>Lead write-up</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Primary_Contact</name>
        <label>Select Primary Contact</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_contact_selected</targetReference>
        </connector>
        <fields>
            <name>introSelectContact</name>
            <fieldText>&lt;p&gt;Please choose the primary contact for this referral.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you don&apos;t see the right contact in the list below, please check the box &quot;Create new contact&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Contact</name>
            <choiceReferences>AvailableContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_new_contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Create new contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Partner selection for this referral.</description>
        <name>Select_the_Partner_0</name>
        <label>Select the Customer</label>
        <locationX>1469</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Referral_Details</targetReference>
        </connector>
        <fields>
            <name>introSelectPartner_0</name>
            <fieldText>&lt;p&gt;Select a customer&apos;s account associated with this referral opportunity. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedCustomerAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCustomerId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1343</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_the_Partner_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnteredEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReferralOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedContactIDCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPartnerContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPartnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
