metadata/force-app/main/default/flows/Swap_Limits_Items_Upsell_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Quantity_Value</name>
        <label>Update Quantity Value</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UpdateedOLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Upsell_Destination_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateedOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AggregatedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Upsell_Source_OLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quantity_Changed</name>
        <label>Quantity Changed</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Clone_Source_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_Quantity_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QunatityChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quantity_Value</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AggregatedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Upsell_Destination_Record.Quantity} + {!Get_Upsell_Source_Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NegativeQuantity</name>
        <dataType>Number</dataType>
        <expression>-1 * {!Get_Upsell_Source_Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Swap Limits Items - Upsell Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Swap Limits Items - Upsell Quantity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Upsell_Destination_OLI</name>
        <label>Create Upsell Destination OLI</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Quantity_Value</targetReference>
        </connector>
        <inputReference>Clone_Source_OLI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Upsell_Destination_Record</name>
        <label>Get Upsell Destination Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quantity_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>upsellDestenationRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Upsell_Source_Record</name>
        <label>Get Upsell Source Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Upsell_Destination_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>upsellSourceRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Upsell_Source_OLI</name>
        <label>Update Upsell Source OLI</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <inputReference>UpdateedOLI</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Upsell_Source_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Clone_Source_OLI</name>
        <label>Clone Source OLI</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Upsell_Destination_OLI</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>OpportunityLineItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Account_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Account_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Account_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Account_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>API_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.API_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>API_Users_count__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.API_Users_count__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Churn_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Churn_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Churn_ARR_Platfrom_Transfer__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Churn_ARR_Platfrom_Transfer__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Discount_Percentage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Discount_Percentage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Family__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Family__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Family_new__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Family_new__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Unit_Price_with_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Unit_Price_with_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Sales_Price_One_off_Only__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Sales_Price_One_off_Only__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Sales_Price_ARR_Only__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Sales_Price_ARR_Only__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Sales_Price_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Sales_Price_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Product_Sales_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Product_Sales_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Product_List_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Product_List_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Initial_Default_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Initial_Default_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Default_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Total_Default_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Swap_Item__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Swap_Item__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subscription_Fee_MRR_One_off_SD__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Subscription_Fee_MRR_One_off_SD__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subscription_fee_from_previous_invoice__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Subscription_fee_from_previous_invoice__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SpotDraft_Total_Sales_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SpotDraft_Total_Sales_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SpotDraft_Project_Duration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SpotDraft_Project_Duration__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SpotDraft_Package_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SpotDraft_Package_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SpotDraft_Overall_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SpotDraft_Overall_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SpotDraft_Manual_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SpotDraft_Manual_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SpotDraft_ARR_One_off_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SpotDraft_ARR_One_off_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SortOrder</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.SortOrder</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ServiceDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.ServiceDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sales_Price_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Sales_Price_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Reporting_Date_OLI__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Reporting_Date_OLI__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Uplift_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Renewal_Uplift_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Uplift_amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Renewal_Uplift_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Base_Total_Price_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Renewal_Base_Total_Price_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Renewal_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Recurring_Discount_missing__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Recurring_Discount_missing__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Recurring_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Recurring_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>quantity_rounded__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.quantity_rounded__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>-1 * {!Get_Upsell_Source_Record.Quantity}</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Purchase_family_order__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Purchase_family_order__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Purchase_family__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Purchase_family__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.ProductCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Type_New__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Type_New__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Sort_Order_SD__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Sort_Order_SD__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Name_for_the_Flow__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Name_for_the_Flow__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Family_New__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Family_New__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Family__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Family__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Contract_Value__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Contract_Value__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Category_RUS__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Category_RUS__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Category_New__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Product_Category_New__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Pricing_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Pricing_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Pricing_factors_applied_on_OLI__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Pricing_factors_applied_on_OLI__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Pricing_Availability__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Pricing_Availability__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PricebookEntryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Change__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Price_Change__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Calculation_Timestamp__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Price_Calculation_Timestamp__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_Book_Entry__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Price_Book_Entry__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Price_book__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Price_book__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Previous_OEM_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Previous_OEM_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Power_of_1_Opp_products__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Power_of_1_Opp_products__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Part_of_Min_Commit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Part_of_Min_Commit__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Part_of_a_package__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Part_of_a_package__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Solution_Product_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Parent_Solution_Product_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Solution_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Parent_Solution_Product__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Solution__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Parent_Solution__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Price_ARR_OneOff__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Original_Price_ARR_OneOff__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Original_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity_Contract_Upsell__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Opportunity_Contract_Upsell__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Yearly_Asset_Requests__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Yearly_Asset_Requests__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Workflows_started__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Workflows_started__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Themes__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Themes__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_TB_Yearly_Traffic__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_TB_Yearly_Traffic__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Storage_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Storage_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Storage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Storage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Regular_Users_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Regular_Users_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Regular_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Regular_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Raw_Data_Events__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Raw_Data_Events__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Monthly_Prompts__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Monthly_Prompts__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Light_Users_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Light_Users_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Light_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Light_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Light_Template_Users_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Light_Template_Users_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Light_Template_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Light_Template_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Landing_Pages__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Landing_Pages__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Image_Processing__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Image_Processing__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Custom1_Users_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Custom1_Users_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Custom1_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Custom1_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Content_Units__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Content_Units__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Content_Creations__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Content_Creations__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Assets__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Assets__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Archival_Storage_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Archival_Storage_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Archival_Storage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Archival_Storage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Allocated_STT_Minutes_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Allocated_STT_Minutes_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Allocated_STT_Minutes__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Allocated_STT_Minutes__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Admin_Users_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Admin_Users_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Admin_Users__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Admin_Users__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>of_Active_Items__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.of_Active_Items__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>New_ARR_Platform_Transfer__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.New_ARR_Platform_Transfer__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>New_ARR_OEM__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.New_ARR_OEM__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>New_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.New_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name_rus__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Name_rus__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Module_Project_Duration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Module_Project_Duration__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>mavenlink__ML_Sent_to_Mavenlink__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.mavenlink__ML_Sent_to_Mavenlink__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ListPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>List_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.List_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Upcoming_Indexation_amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Upcoming_Indexation_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Auto_Created__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Auto_Created__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Block_dependent_product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Block_dependent_product__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Bypass_Process__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Bypass_Process__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cannot_Delete_From_Package__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Cannot_Delete_From_Package__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Package_Recurring_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Package_Recurring_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Package_Subscription_Calculation__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Package_Subscription_Calculation__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Previous_Contract_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Previous_Contract_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Project_Module_Duration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Project_Module_Duration__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Show_Package_Discount_Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Show_Package_Discount_Opportunity__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Total_Sales_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Total_Sales_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Conga_Transactional_Quantity_NUM__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Conga_Transactional_Quantity_NUM__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contraction_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Contraction_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contract_IsActive__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Contract_IsActive__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contraction_ARR_on_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Contraction_ARR_on_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Cumulative_Indexation_amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Cumulative_Indexation_amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CurrencyIsoCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.CurrencyIsoCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>current_user__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.current_user__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Default_Price__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Default_Price__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Default_Price_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Default_Price_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Default_Price_Discount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Default_Price_Discount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount_Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount_Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount_Amount_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount_Amount_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount_Amount_From_Default__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount_Amount_From_Default__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount_Amount_RA__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount_Amount_RA__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount_percentage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount_percentage__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Discount_rounded__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Discount_rounded__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Expansion_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Expansion_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Expansion_ARR_on_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Expansion_ARR_on_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>For_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.For_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>For_Renewal_Mapped__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.For_Renewal_Mapped__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Included_in_renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Included_in_renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Indexation_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Indexation_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Indexation_Discount_Allowance__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Indexation_Discount_Allowance__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Initial_Default_Price_ARR_One_off__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Initial_Default_Price_ARR_One_off__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Initial_Purchased_Price_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Initial_Purchased_Price_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Integration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Integration__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Internal_Transfer_ARR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Source_Record.Internal_Transfer_ARR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Upsell_Destination_Record.OpportunityId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>QunatityChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateedOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>upsellDestenationRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>upsellSourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
