metadata/force-app/main/default/flows/Sync_Customer_Onboarding_Form_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_the_opportunity_owner</name>
        <label>Notify the opportunity owner</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <actionName>Opportunity.Notify_opportunity_owner_when_billing_details_are_synced_from_supplier_form</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Form.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notify_opportunity_owner_when_billing_details_are_synced_from_supplier_form</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Dummy Assignment action to indicate how to reuse this flow for a new Record Type when other use case of Customer Onboarding Form is implemented.</description>
        <name>Field_Mapping_New_Record_Type</name>
        <label>Field Mapping - New Record Type</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Field mapping to the associated Account and Opportunity.</description>
        <name>Map_Fields_Billing</name>
        <label>Map Fields - Billing</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Billing_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.VAT_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Bill_to_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Bill_to_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Billing_cc_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_CC_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Billing_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Billing_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.PO_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.PO_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Invoice_Delivery_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Invoice_Delivery_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Split_one_off_subscription_invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Split_One_off_Subscription_Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.PO_Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.PO_Requester_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Credit_Control_Reminder_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form.Account_Payable_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Associated_to_Opp</name>
        <label>Associated to Opp?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_opp_type</name>
        <label>Check the opp type?</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Opportunity__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business-Enterprise Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Form.Opportunity__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business - Expansion Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_the_opportunity_owner</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Record Type apply different field mapping.</description>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Error_No_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Type</defaultConnectorLabel>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Customer_Onboarding_Form_Record_Type_Billing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Fields_Billing</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>New_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Mapping_New_Record_Type</targetReference>
            </connector>
            <label>New Record Type</label>
        </rules>
    </decisions>
    <description>Removed Bill to contact first name and Bill to contact last name</description>
    <environments>Default</environments>
    <interviewLabel>Sync Customer Onboarding Form Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Sync Customer Onboarding Form Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_to_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form</name>
        <label>Get Form</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TXT_Form_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Onboarding_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Account with the assigned data.</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Update_Account</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity with the assigned info.</description>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Update_Sync_Logs_on_Form</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Update_Opp</targetReference>
        </faultConnector>
        <inputReference>Get_Opp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Status to &quot;Form Synced&quot; and populate &quot;Form Last Reflected&quot; timestamp with the current date/time</description>
        <name>Update_Sync_Logs_on_Form</name>
        <label>Update Sync Logs on Form</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Check_the_opp_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TXT_Form_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Form_Last_Reflected_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Form Synced</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Onboarding_Form__c</object>
    </recordUpdates>
    <screens>
        <description>Screen to throw an error message that Record Type is not specified on the Form record.</description>
        <name>Error_No_Record_Type</name>
        <label>Error - No Record Type</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_No_Record_Type</name>
            <fieldText>&lt;p&gt;&amp;lt;ERROR&amp;gt;&lt;/p&gt;&lt;p&gt;Record Type is not specified for the Customer Onboarding Form record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please specify the Record Type and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Update_Account</name>
        <label>Error_Update_Account</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Update_Account</name>
            <fieldText>&lt;p&gt;&amp;lt;ERROR&amp;gt;&lt;/p&gt;&lt;p&gt;Account updation failed due to an error. Please find the error message below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Update_Opp</name>
        <label>Error_Update_Opp</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Update_Opp</name>
            <fieldText>&lt;p&gt;&amp;lt;ERROR&amp;gt;&lt;/p&gt;&lt;p&gt;Opportunity updation failed due to an error.&lt;/p&gt;&lt;p&gt;Please find the error message below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm if the user wants to sync Form data to the associated Account and/or other objects.</description>
        <name>User_Confirmation</name>
        <label>User Confirmation</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Form</targetReference>
        </connector>
        <fields>
            <name>User_Confirmation_Text</name>
            <fieldText>&lt;p&gt;Do you want to sync the data on this record to the associated Account and other records?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once synced, the change cannot be undone.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next/Finish to proceed, otherwise go back in your browser.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Text variable to capture the target Customer Onboarding Form ID. Used for Input Variable.</description>
        <name>TXT_Form_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
