metadata/force-app/main/default/flows/Task_Created_before_Opp_checkbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Opp_created_later</name>
        <label>Opp created later?</label>
        <locationX>220</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_created_later_than_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_TRUE</targetReference>
            </connector>
            <label>Yes, Opp created later than task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_Opp</name>
        <label>Related to Opp?</label>
        <locationX>396</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Set_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, related to another object</defaultConnectorLabel>
        <rules>
            <name>Yes_related_to_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity</targetReference>
            </connector>
            <label>Yes, related to Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_record</name>
        <label>Related to record?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Related_to_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, related to record</defaultConnectorLabel>
        <rules>
            <name>No_empty_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_TRUE</targetReference>
            </connector>
            <label>No, empty value</label>
        </rules>
    </decisions>
    <description>BODEV-4040
New field on Tasks: Task created before Opp</description>
    <environments>Default</environments>
    <interviewLabel>Task - Created before Opp checkbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Created before Opp checkbox</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Opportunity</name>
        <label>get Opportunity</label>
        <locationX>220</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_created_later</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_to_FALSE</name>
        <label>Set to FALSE</label>
        <locationX>572</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_before_without_opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_before_without_opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_TRUE</name>
        <label>Set to TRUE</label>
        <locationX>176</locationX>
        <locationY>1037</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_before_without_opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_before_without_opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>[Gong]</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
