metadata/force-app/main/default/flows/Update_Upsell_OLIs_AL_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>ResumeDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1/1440</expression>
    </formulas>
    <interviewLabel>Update Upsell OLIs - AL Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Upsell OLIs - AL Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Upsell_OLIs</name>
        <label>Update Upsell OLIs</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <inputReference>UpsellOLIsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_and_Resume_After_1_Minute</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UpsellOLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <waits>
        <name>Wait_and_Resume_After_1_Minute</name>
        <label>Wait and Resume After 1 Minute</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Resume_after_1_minute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Upsell_OLIs</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>ResumeDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Resume after 1 minute</label>
        </waitEvents>
    </waits>
</Flow>
