metadata/force-app/main/default/flows/User_ASF_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_new_collection</name>
        <label>Add to new collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_s_opporunties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_s_opporunties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_owner_manager_email</name>
        <label>Assign Opp owner manager email</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>User_s_opporunties.Opportunity_Owner_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_collection</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Record_Created_or_Updated_User_belongs_to_specific_Role_and_Profile</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <fieldSelection>Manager_Name__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_record_is_updated_and_Active_status_is_changed</name>
        <label>Check if record is updated and Active status is changed</label>
        <locationX>880</locationX>
        <locationY>1745</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Status_is_Changed</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Bynder] Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_user_is_Activated_Deactivated</targetReference>
            </connector>
            <label>Active Status is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_has_Active_License</name>
        <label>Check if user has Active License</label>
        <locationX>495</locationX>
        <locationY>2369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_has_license_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Package_License_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_G2_Crowd_License_0</targetReference>
            </connector>
            <label>User has license assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_is_Activated_Deactivated</name>
        <label>Check if user is Activated/Deactivated</label>
        <locationX>693</locationX>
        <locationY>1853</locationY>
        <defaultConnector>
            <targetReference>G2_Crowd_Package_License_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Activated</defaultConnectorLabel>
        <rules>
            <name>User_Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G2_Crowd_Package_License_ID_0</targetReference>
            </connector>
            <label>User Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Package_License</name>
        <label>Package License Found?</label>
        <locationX>534</locationX>
        <locationY>3137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>G2_Crowd_Package_License_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_G2_Crowd_License</targetReference>
            </connector>
            <label>Package Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Package_License_0</name>
        <label>Package License Found</label>
        <locationX>495</locationX>
        <locationY>2069</locationY>
        <defaultConnector>
            <targetReference>Check_if_user_has_Active_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Found0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>G2_Crowd_Package_License_ID_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Package_License_Record</targetReference>
            </connector>
            <label>Package Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_changed</name>
        <label>Manager changed</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Record_Created_or_Updated_User_belongs_to_specific_Role_and_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_changed_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ManagerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_open_opportunities</targetReference>
            </connector>
            <label>Manager changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunities_found</name>
        <label>Opportunities found?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_s_opporunties</targetReference>
            </connector>
            <label>Yes, found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Created_or_Updated_User_belongs_to_specific_Role_and_Profile</name>
        <label>Record Created/Updated &amp; User belongs to specific Role and Profile</label>
        <locationX>534</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Check_if_record_is_updated_and_Active_status_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Updated</defaultConnectorLabel>
        <rules>
            <name>New_User_Record_Created_Role_Profile_Match</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Bynder] Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G2_Crowd_Package_License_ID</targetReference>
            </connector>
            <label>New User Record Created &amp; Role/Profile Match</label>
        </rules>
    </decisions>
    <description>Added the logic to update Account CSM Owner Manager on the account when the manager of the CSM Owner is changed</description>
    <environments>Default</environments>
    <formulas>
        <name>New</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User [ASF] Handler</label>
    <loops>
        <name>User_s_opporunties</name>
        <label>User&apos;s opporunties</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_open_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_owner_manager_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_G2_Crowd_License</name>
        <label>Assign G2 Crowd License</label>
        <locationX>402</locationX>
        <locationY>3245</locationY>
        <inputAssignments>
            <field>PackageLicenseId</field>
            <value>
                <elementReference>G2_Crowd_Package_License_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>UserPackageLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_G2_Crowd_License_0</name>
        <label>Delete G2 Crowd License</label>
        <locationX>363</locationX>
        <locationY>2477</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PackageLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>G2_Crowd_Package_License_ID_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>UserPackageLicense</object>
    </recordDeletes>
    <recordLookups>
        <name>G2_Crowd_Package_License_ID</name>
        <label>G2 Crowd Package License ID</label>
        <locationX>534</locationX>
        <locationY>3029</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Package_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>G2Crowd</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PackageLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>G2_Crowd_Package_License_ID_0</name>
        <label>G2 Crowd Package License ID</label>
        <locationX>495</locationX>
        <locationY>1961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Package_License_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>G2Crowd</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PackageLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_opportunities</name>
        <label>Get open opportunities</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Package_License_Record</name>
        <label>Get User Package License Record</label>
        <locationX>363</locationX>
        <locationY>2177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_user_has_Active_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PackageLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>G2_Crowd_Package_License_ID_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserPackageLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>314</locationX>
        <locationY>1445</locationY>
        <connector>
            <targetReference>Record_Created_or_Updated_User_belongs_to_specific_Role_and_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSM_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_CSM_Owner_Manager__c</field>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunities</name>
        <label>Update opportunities</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manager_changed</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
